Library_shlxthdl.mk
Library_tdebe.mk
WinResTarget_shlxthdl.mk
StaticLibrary_simplemapi.mk
Executable_uri_encode.mk
inc/internal/propsheets.hxx
inc/internal/xml_parser.hxx
inc/internal/fileextensions.hxx
inc/internal/types.hxx
inc/internal/columninfo.hxx
inc/internal/utilities.hxx
inc/internal/thumbviewer.hxx
inc/internal/propertyhdl.hxx
inc/internal/basereader.hxx
inc/internal/i_xml_parser_event_handler.hxx
inc/internal/contentreader.hxx
inc/internal/zipfile.hxx
inc/internal/iso8601_converter.hxx
inc/internal/shlxthdl.hxx
inc/internal/config.hxx
inc/internal/resource.h
inc/internal/registry.hxx
inc/internal/metainforeader.hxx
inc/internal/stream_helper.hxx
inc/internal/infotips.hxx
inc/internal/global.hxx
StaticLibrary_xmlparser_x64.mk
Library_recentfile.mk
CppunitTest_shell_zip.mk
Library_kde4be.mk
StaticLibrary_shlxthandler_common_x64.mk
Library_losessioninstall.mk
StaticLibrary_xmlparser.mk
Package_scripts_gnome.mk
source/sessioninstall/losessioninstall.component
source/sessioninstall/SyncDbusSessionHelper.cxx
source/sessioninstall/services.cxx
source/sessioninstall/SyncDbusSessionHelper.hxx
source/tools/lngconvex/defs.hxx
source/tools/lngconvex/lngconvex.cxx
source/tools/lngconvex/cmdline.cxx
source/tools/lngconvex/cmdline.hxx
source/tools/regsvrex/regsvrex.cxx
source/backends/localebe/localebe1.component
source/backends/localebe/localebecdef.cxx
source/backends/wininetbe/wininetbackend.cxx
source/backends/wininetbe/wininetbackend.hxx
source/backends/wininetbe/wininetbecdef.cxx
source/backends/wininetbe/wininetbe1.component
source/backends/kdebe/kdeaccess.cxx
source/backends/kdebe/tdebe1.component
source/backends/kdebe/kdeaccess.hxx
source/backends/kdebe/kdebe1.component
source/backends/kdebe/kdebackend.cxx
source/backends/desktopbe/desktopbackend.cxx
source/backends/desktopbe/desktopbe1.component
source/backends/gconfbe/gconfaccess.hxx
source/backends/gconfbe/gconfbackend.cxx
source/backends/gconfbe/gconfaccess.cxx
source/backends/gconfbe/gconfbe1.component
source/backends/kde4be/kde4access.cxx
source/backends/kde4be/kde4be1.component
source/backends/kde4be/kde4backend.cxx
source/backends/kde4be/kde4access.hxx
source/backends/macbe/macbe1.component
source/backends/macbe/macbecdef.cxx
source/backends/macbe/macbackend.hxx
source/all/xml_parser.cxx
source/unix/misc/tde-open-url.sh
source/unix/misc/kde-open-url.sh
source/unix/misc/senddoc.sh
source/unix/misc/uri-encode.c
source/unix/misc/open-url.sh
source/unix/misc/gnome-open-url.sh
source/unix/exec/urltest.sh
source/unix/exec/urltest.txt
source/unix/exec/shellexecentry.cxx
source/unix/exec/urltest.cxx
source/unix/exec/syssh.component
source/unix/exec/shellexec.hxx
source/unix/sysshell/recently_used_file_handler.cxx
source/unix/sysshell/recently_used_file.hxx
source/unix/sysshell/recently_used_file.cxx
source/mingw_intel.map
source/cmdmail/cmdmail.component
source/cmdmail/cmdmailsuppl.hxx
source/cmdmail/cmdmailmsg.hxx
source/cmdmail/cmdmailentry.cxx
source/cmdmail/cmdmailmsg.cxx
source/win32/shlxthandler/columninfo/columninfo.cxx
source/win32/shlxthandler/res/ctrylnglist.txt
source/win32/shlxthandler/res/signet.png
source/win32/shlxthandler/res/shlxthdl.ulf
source/win32/shlxthandler/res/rctmpl.txt
source/win32/shlxthandler/res/shlxthdl.manifest
source/win32/shlxthandler/res/shlxthdl.rc
source/win32/shlxthandler/res/prop_img.bmp
source/win32/shlxthandler/res/rcheader.txt
source/win32/shlxthandler/res/rcfooter.txt
source/win32/shlxthandler/classfactory.hxx
source/win32/shlxthandler/util/iso8601_converter.cxx
source/win32/shlxthandler/util/registry.cxx
source/win32/shlxthandler/util/utilities.cxx
source/win32/shlxthandler/util/fileextensions.cxx
source/win32/shlxthandler/shlxthdl.cxx
source/win32/shlxthandler/propsheets/listviewbuilder.hxx
source/win32/shlxthandler/propsheets/document_statistic.cxx
source/win32/shlxthandler/propsheets/document_statistic.hxx
source/win32/shlxthandler/propsheets/propsheets.cxx
source/win32/shlxthandler/propsheets/listviewbuilder.cxx
source/win32/shlxthandler/thumbviewer/thumbviewer.cxx
source/win32/shlxthandler/ooofilt/stream_helper.cxx
source/win32/shlxthandler/ooofilt/propspec.hxx
source/win32/shlxthandler/ooofilt/ooofilt.cxx
source/win32/shlxthandler/ooofilt/ooofilt.hxx
source/win32/shlxthandler/ooofilt/propspec.cxx
source/win32/shlxthandler/classfactory.cxx
source/win32/shlxthandler/prophdl/propertyhdl.cxx
source/win32/shlxthandler/infotips/infotips.cxx
source/win32/zipfile/zipexcptn.hxx
source/win32/zipfile/zipfile.cxx
source/win32/zipfile/zipexcptn.cxx
source/win32/SysShExec.hxx
source/win32/simplemail/simplemapi.cxx
source/win32/simplemail/smplmail.component
source/win32/simplemail/smplmailclient.hxx
source/win32/simplemail/smplmailmsg.hxx
source/win32/simplemail/smplmailsuppl.hxx
source/win32/simplemail/smplmailmsg.cxx
source/win32/simplemail/smplmailentry.cxx
source/win32/simplemail/smplmailsuppl.cxx
source/win32/simplemail/senddoc.cxx
source/win32/simplemail/simplemapi.hxx
source/win32/simplemail/smplmailclient.cxx
source/win32/workbench/makefile.mk
source/win32/workbench/TestSmplMail.cxx
source/win32/workbench/TestSysShExec.cxx
source/win32/syssh.component
source/win32/ooofilereader/keywordstag.hxx
source/win32/ooofilereader/metainforeader.cxx
source/win32/ooofilereader/itag.hxx
source/win32/ooofilereader/autostyletag.hxx
source/win32/ooofilereader/dummytag.hxx
source/win32/ooofilereader/simpletag.hxx
source/win32/ooofilereader/basereader.cxx
source/win32/ooofilereader/simpletag.cxx
source/win32/ooofilereader/contentreader.cxx
source/win32/ooofilereader/keywordstag.cxx
source/win32/ooofilereader/autostyletag.cxx
source/win32/SysShentry.cxx
Library_ooofilt_x64.mk
Executable_lngconvex.mk
qa/zip/simpledocument.odt
qa/zip/testzipimpl.hxx
qa/zip/ziptest.cxx
qa/zip/testzipimpl.cxx
qa/zip/export.map
Library_desktopbe.mk
README
Package_senddoc.mk
Library_propertyhdl.mk
Executable_regsvrex.mk
Executable_senddoc.mk
Library_smplmail.mk
Library_macbe.mk
Library_shlxthdl_x64.mk
CustomTarget_x64.mk
Library_wininetbe.mk
Package_scripts_kde.mk
Package_scripts.mk
StaticLibrary_shlxthandler_common.mk
Module_shell.mk
Library_kdebe.mk
Library_propertyhdl_x64.mk
CustomTarget_shlxthdl_res.mk
Library_ooofilt.mk
Library_localebe.mk
Library_gconfbe.mk
