inc/iprcache.hxx
JunitTest_linguistic_unoapi.mk
workben/makefile.mk
workben/sspellimp.cxx
workben/sprophelp.hxx
workben/exports.dxp
workben/sreg.cxx
workben/sspellimp.hxx
workben/sprophelp.cxx
source/hyphdsp.cxx
source/convdicxml.hxx
source/dicimp.cxx
source/convdiclist.hxx
source/lngopt.hxx
source/spelldsp.cxx
source/defs.hxx
source/thesdsp.hxx
source/dlistimp.hxx
source/lngreg.hxx
source/hhconvdic.hxx
source/lng.component
source/convdic.cxx
source/hyphdta.cxx
source/spelldta.cxx
source/lngsvcmgr.hxx
source/misc2.cxx
source/lngprophelp.cxx
source/convdic.hxx
source/lngsvcmgr.cxx
source/iprcache.cxx
source/misc.cxx
source/hyphdsp.hxx
source/convdicxml.cxx
source/dicimp.hxx
source/convdiclist.cxx
source/lngopt.cxx
source/spelldsp.hxx
source/thesdsp.cxx
source/dlistimp.cxx
source/lngreg.cxx
source/hhconvdic.cxx
qa/complex/linguistic/testdocuments/hangulhanja.sxc
qa/complex/linguistic/HangulHanjaConversion.java
qa/complex/linguistic/TestDocument.java
qa/unoapi/lng.sce
qa/unoapi/knownissues.xcl
Library_lng.mk
README
Module_linguistic.mk
JunitTest_linguistic_complex.mk
