CppunitTest_sal_osl_pipe.mk
Library_uwinapi.mk
CppunitTest_sal_rtl_strings.mk
CppunitTest_sal_types.mk
CppunitTest_sal_rtl_locale.mk
inc/pch/precompiled_sal.cxx
inc/pch/precompiled_sal.hxx
inc/internal/oslmemory.h
inc/internal/rtllifecycle.h
CppunitTest_sal_rtl_cipher.mk
CppunitTest_sal_rtl_ostringbuffer.mk
osl/w32/file_url.h
osl/w32/thread.c
osl/w32/path_helper.hxx
osl/w32/salinit.cxx
osl/w32/interlck.c
osl/w32/memory.c
osl/w32/pipe.c
osl/w32/file_error.h
osl/w32/tempfile.cxx
osl/w32/mutex.c
osl/w32/path_helper.h
osl/w32/signal.cxx
osl/w32/file.cxx
osl/w32/file_url.cxx
osl/w32/profile.cxx
osl/w32/time.c
osl/w32/secimpl.h
osl/w32/procimpl.cxx
osl/w32/file_error.c
osl/w32/socket.cxx
osl/w32/procimpl.h
osl/w32/conditn.c
osl/w32/module.cxx
osl/w32/system.h
osl/w32/path_helper.cxx
osl/w32/process.cxx
osl/w32/dllentry.c
osl/w32/security.c
osl/w32/sockimpl.h
osl/w32/nlsupport.c
osl/w32/file_dirvol.cxx
osl/unx/secimpl.hxx
osl/unx/file_error_transl.hxx
osl/unx/time.cxx
osl/unx/salinit.cxx
osl/unx/asm/interlck_sparc.s
osl/unx/sockimpl.hxx
osl/unx/file_path_helper.cxx
osl/unx/readwrite_helper.cxx
osl/unx/uunxapi.hxx
osl/unx/backtrace.h
osl/unx/file_url.hxx
osl/unx/nlsupport.cxx
osl/unx/file_impl.hxx
osl/unx/profile.cxx
osl/unx/nlsupport.hxx
osl/unx/uunxapi.mm
osl/unx/backtrace.c
osl/unx/createfilehandlefromfd.hxx
osl/unx/interlck.cxx
osl/unx/socket.cxx
osl/unx/salinit.cxx.orig
osl/unx/module.cxx
osl/unx/file_error_transl.cxx
osl/unx/conditn.cxx
osl/unx/process_impl.cxx
osl/unx/saltime.hxx
osl/unx/mutex.cxx
osl/unx/file_path_helper.hxx
osl/unx/memory.cxx
osl/unx/readwrite_helper.hxx
osl/all/utility.cxx
osl/all/logformat.hxx
osl/all/loadmodulerelative.cxx
osl/all/debugbase.cxx
osl/all/log.cxx
osl/all/compat.cxx
test/bootstraptest.ini
test/makefile.mk
test/bootstrap.pl
test/bootstrap
test/test_salmainwithargs.cxx
test/test_salmain.cxx
test/testbootstrap.ini
test/testbootstrap.cxx
test/bootstrap.bat
CppunitTest_sal_tcwf.mk
cpprt/operators_new_delete.cxx
CppunitTest_Module_DLL.mk
CppunitTest_sal_osl_thread.mk
Library_lo-bootstrap.mk
Module_sal.mk
textenc/tcvtkr6.tab
textenc/convertiso2022jp.hxx
textenc/convertbig5hkscs.tab
textenc/tcvtkr5.tab
textenc/gettextencodingdata.hxx
textenc/tcvttcn6.tab
textenc/tcvtmb.cxx
textenc/tcvtkr4.tab
textenc/tcvttcn2.tab
textenc/convertbig5hkscs.cxx
textenc/convertiso2022kr.hxx
textenc/unichars.cxx
textenc/tcvtkr1.tab
textenc/tcvtutf8.cxx
textenc/tcvttcn1.tab
textenc/convertsimple.hxx
textenc/tcvtkr2.tab
textenc/tenchelp.hxx
textenc/convertisciidevangari.hxx
textenc/handleundefinedunicodetotextchar.cxx
textenc/tcvtbyte.hxx
textenc/converteuctw.cxx
textenc/tcvteas1.tab
textenc/tcvtsym1.tab
textenc/convertsinglebytetobmpunicode.hxx
textenc/tcvtarb1.tab
textenc/convertadobe.tab
textenc/tcvtuni1.tab
textenc/converteuctw.tab
textenc/convertgb18030.hxx
textenc/convertiso2022cn.hxx
textenc/context.hxx
textenc/converter.hxx
textenc/convertisciidevangari.cxx
textenc/handleundefinedunicodetotextchar.hxx
textenc/tcvtbyte.cxx
textenc/tcvtjp4.tab
textenc/converteuctw.hxx
textenc/tcvtjp5.tab
textenc/textcvt.cxx
textenc/textenc.cxx
textenc/tables.cxx
textenc/tcvtjp6.tab
textenc/convertgb18030.tab
textenc/convertiso2022cn.tab
textenc/convertsinglebytetobmpunicode.cxx
textenc/tcvtjp2.tab
textenc/tcvtjp3.tab
textenc/convertisciidevangari.tab
textenc/tcvtest1.tab
textenc/convertgb18030.cxx
textenc/generate/cns116431992.tab
textenc/generate/big5hkscs2001.pl
textenc/generate/gb180302000.pl
textenc/generate/big5hkscs2001.tab
textenc/generate/cns116431992.pl
textenc/generate/gb180302000.tab
textenc/context.cxx
textenc/convertiso2022cn.cxx
textenc/tcvtjp1.tab
textenc/converter.cxx
textenc/tcvtscn4.tab
textenc/convertiso2022jp.cxx
textenc/convertiso2022kr.tab
textenc/tcvtscn5.tab
textenc/tcvtlat1.tab
textenc/tcvtutf7.cxx
textenc/tcvtscn6.tab
textenc/tcvtscn2.tab
textenc/convertiso2022kr.cxx
textenc/unichars.hxx
textenc/convertbig5hkscs.hxx
textenc/tcvtscn3.tab
textenc/convertiso2022jp.tab
textenc/tcvtscn1.tab
textenc/tcvtutf8.hxx
textenc/convertsimple.cxx
workben/getlocaleinfotest.cxx
workben/t_osl_joinProcess.cxx
workben/makefile.mk
workben/t_readline.c
workben/t_digest.c
workben/t_cipher.c
workben/testpip2.cxx
workben/testpipe.cxx
workben/testproc.cxx
workben/measure_oustrings.cxx
workben/t_random.c
workben/test.cxx
workben/testfile.cxx
workben/clipboardwben/testcopy/makefile.mk
workben/clipboardwben/testcopy/StdAfx.h
workben/clipboardwben/testcopy/XTDataObject.cxx
workben/clipboardwben/testcopy/cbcpytest.rc
workben/clipboardwben/testcopy/small.ico
workben/clipboardwben/testcopy/cbcpytest.cxx
workben/clipboardwben/testcopy/resource.h
workben/clipboardwben/testcopy/TestWin32.ico
workben/clipboardwben/testcopy/StdAfx.cpp
workben/clipboardwben/testcopy/XTDataObject.hxx
workben/clipboardwben/testpaste/makefile.mk
workben/clipboardwben/testpaste/StdAfx.h
workben/clipboardwben/testpaste/cbptest.rc
workben/clipboardwben/testpaste/small.ico
workben/clipboardwben/testpaste/resource.h
workben/clipboardwben/testpaste/TestWin32.ico
workben/clipboardwben/testpaste/cbptest.cxx
workben/clipboardwben/testpaste/StdAfx.cpp
workben/clipboardwben/testviewer/makefile.mk
workben/clipboardwben/testviewer/StdAfx.h
workben/clipboardwben/testviewer/cbvtest.cxx
workben/clipboardwben/testviewer/small.ico
workben/clipboardwben/testviewer/cbvtest.rc
workben/clipboardwben/testviewer/resource.h
workben/clipboardwben/testviewer/TestWin32.ico
workben/clipboardwben/testviewer/StdAfx.cpp
workben/t_ojp_exe.cxx
workben/t_osl_getVolInfo.cxx
workben/export.exp
CppunitTest_sal_rtl_alloc.mk
CppunitTest_sal_rtl_uri.mk
CppunitTest_sal_rtl_oustringbuffer.mk
CppunitTest_sal_rtl_process.mk
CppunitTest_sal_osl_process.mk
Library_sal_textenc.mk
qa/inc/valueequal.hxx
qa/inc/stringhelper.hxx
qa/libs2test.txt
qa/sal/test_types.cxx
qa/osl/pipe/osl_Pipe.cxx
qa/osl/file/osl_File_Const.h
qa/osl/file/test_cpy_wrt_file.cxx
qa/osl/file/osl_old_test_file.cxx
qa/osl/file/osl_File.cxx
qa/osl/security/osl_Security_Const.h
qa/osl/security/osl_Security.cxx
qa/osl/security/TODO.h
qa/osl/module/osl_Module_DLL.cxx
qa/osl/module/osl_Module.cxx
qa/osl/module/osl_Module_Const.h
qa/osl/condition/osl_Condition.cxx
qa/osl/condition/osl_Condition_Const.h
qa/osl/profile/osl_old_testprofile.cxx
qa/osl/setthreadname/test-setthreadname.cxx
qa/osl/mutex/osl_Mutex_Const.h
qa/osl/mutex/osl_Mutex.cxx
qa/osl/thread/test_thread.cxx
qa/osl/socket/sockethelper.cxx
qa/osl/socket/osl_Socket2.cxx
qa/osl/socket/osl_ConnectorSocket.cxx
qa/osl/socket/osl_Socket_Const_orig.h
qa/osl/socket/osl_DatagramSocket.cxx
qa/osl/socket/osl_StreamSocket.xsce
qa/osl/socket/osl_SocketAddr.cxx
qa/osl/socket/osl_SocketAddr.xsce
qa/osl/socket/osl_Socket.cxx
qa/osl/socket/osl_StreamSocket.cxx
qa/osl/socket/osl_AcceptorSocket.cxx
qa/osl/socket/osl_Socket.xsce
qa/osl/socket/osl_Socket2.xsce
qa/osl/socket/osl_Socket_tests.cxx
qa/osl/socket/osl_ConnectorSocket.xsce
qa/osl/socket/osl_SocketOld.xsce
qa/osl/socket/sockethelper.hxx
qa/osl/socket/osl_Socket_Const.h
qa/osl/socket/export.exp
qa/osl/socket/osl_Socket_tests.xsce
qa/osl/process/osl_Thread.xsce
qa/osl/process/osl_process_child.cxx
qa/osl/process/osl_Thread.cxx
qa/osl/process/batch.bat
qa/osl/process/osl_process.cxx
qa/osl/process/batch.sh
qa/ByteSequence/ByteSequence.cxx
qa/OStringBuffer/rtl_String_Utils_Const.h
qa/OStringBuffer/rtl_String_Const.h
qa/OStringBuffer/rtl_OStringBuffer.cxx
qa/rtl/doublelock/rtl_doublelocking.cxx
qa/rtl/strings/test_oustring_stringliterals.cxx
qa/rtl/strings/test_ostring_concat.cxx
qa/rtl/strings/test_oustring_endswith.cxx
qa/rtl/strings/test_oustring_concat.cxx
qa/rtl/strings/test_strings_replace.cxx
qa/rtl/strings/test_oustring_compare.cxx
qa/rtl/strings/test_oustring_convert.cxx
qa/rtl/strings/test_strings_valuex.cxx
qa/rtl/strings/test_ostring_stringliterals.cxx
qa/rtl/strings/test_oustring_noadditional.cxx
qa/rtl/strings/test_oustring_startswith.cxx
qa/rtl/strings/test_strings_toint.cxx
qa/rtl/locale/rtl_locale.cxx
qa/rtl/alloc/rtl_alloc.cxx
qa/rtl/bootstrap/expand.cxx
qa/rtl/oustring/joblist.txt
qa/rtl/oustring/rtl_OUString2.cxx
qa/rtl/oustring/rtl_ustr.cxx
qa/rtl/oustring/rtl_ustr.xsce
qa/rtl/textenc/rtl_tencinfo.cxx
qa/rtl/textenc/rtl_textcvt.cxx
qa/rtl/digest/rtl_digest.cxx
qa/rtl/cipher/rtl_cipher.cxx
qa/rtl/crc32/rtl_crc32.cxx
qa/rtl/math/test-rtl-math.cxx
qa/rtl/ostring/rtl_OString2.cxx
qa/rtl/ostring/rtl_string.xsce
qa/rtl/ostring/rtl_string.cxx
qa/rtl/ostring/rtl_str.cxx
qa/rtl/ostring/rtl_str.xsce
qa/rtl/logfile/rtl_logfile.cxx
qa/rtl/random/rtl_random.cxx
qa/rtl/random/random.txt
qa/rtl/uri/rtl_Uri.cxx
qa/rtl/uri/rtl_testuri.cxx
qa/rtl/uuid/rtl_Uuid.cxx
qa/rtl/oustringbuffer/test_oustringbuffer_appendchar.cxx
qa/rtl/oustringbuffer/test_oustringbuffer_tostring.cxx
qa/rtl/oustringbuffer/test_oustringbuffer_utf32.cxx
qa/rtl/oustringbuffer/test_oustringbuffer_noadditional.cxx
qa/rtl/process/rtl_Process.cxx
qa/rtl/process/rtl_Process_Const.h
qa/rtl/process/child_process_id.cxx
qa/rtl/process/child_process.cxx
qa/helper/gcov/statistics
qa/helper/gcov/gcov_resultcompare.pl
qa/helper/gcov/gcov_all
qa/helper/gcov/gcov_run.sh
qa/helper/gcov/deprecated.txt
qa/helper/gcov/readme.txt
qa/helper/gcov/gcov_result.pl
qa/helper/gcov/build_coverage
qa/helper/gcov/gcov_resultinterpreter.pl
qa/helper/gcov/gcov_filter.pl
qa/systools/test_comtools.cxx
qa/checkapi/strings.cxx
CppunitTest_sal_rtl_oustring.mk
CppunitTest_sal_osl_file.mk
CppunitTest_sal_osl_getsystempathfromfileurl.mk
CppunitTest_sal_osl_setthreadname.mk
README
Executable_cppunittester.mk
CppunitTest_sal_rtl_uuid.mk
CppunitTest_sal_rtl_digest.mk
StaticLibrary_salcpprt.mk
android/lo-bootstrap.c
android/libreofficekit-jni.c
android/uthash.h
Executable_osl_process_child.mk
CppunitTest_sal_osl_condition.mk
CppunitTest_sal_rtl_math.mk
rtl/rtl_process.cxx
rtl/strtmpl.cxx
rtl/ustring.cxx
rtl/hash.cxx
rtl/byteseq.cxx
rtl/cmdargs.cxx
rtl/cipher.cxx
rtl/alloc_cache.cxx
rtl/surrogates.hxx
rtl/bootstrap.cxx
rtl/strimp.cxx
rtl/alloc_impl.hxx
rtl/alloc_arena.hxx
rtl/ustrbuf.cxx
rtl/alloc_fini.cxx
rtl/alloc_global.cxx
rtl/uuid.cxx
rtl/logfile.cxx
rtl/alloc_cache.hxx
rtl/string.cxx
rtl/uri.cxx
rtl/strimp.hxx
rtl/alloc_arena.cxx
rtl/random.cxx
rtl/math.cxx
rtl/strbuf.cxx
rtl/unload.cxx
rtl/locale.cxx
rtl/hash.hxx
rtl/crc.cxx
rtl/digest.cxx
CppunitTest_sal_osl_profile.mk
CppunitTest_sal_rtl_doublelock.mk
CppunitTest_sal_osl_mutex.mk
CppunitTest_sal_bytesequence.mk
CppunitTest_sal_rtl_bootstrap.mk
CppunitTest_sal_osl_security.mk
CppunitTest_sal_osl_module.mk
systools/win32/uwinapi/sntprintf.c
systools/win32/uwinapi/snwprintf.c
systools/win32/uwinapi/snprintf.c
systools/win32/uwinapi/uwinapi.def
systools/win32/uwinapi/legacy.c
CppunitTest_sal_rtl_crc32.mk
CppunitTest_sal_osl_old_test_file.mk
CppunitTest_sal_rtl_textenc.mk
