CompilerTest_sal_rtl_oustring.mk
CppunitTest_Module_DLL.mk
CppunitTest_sal_comtools.mk
CppunitTest_sal_osl.mk
CppunitTest_sal_osl_security.mk
CppunitTest_sal_retry_if_failed.mk
CppunitTest_sal_rtl.mk
CppunitTest_sal_types.mk
Executable_cppunittester.mk
Executable_osl_process_child.mk
Library_lo-bootstrap.mk
Library_sal_textenc.mk
Module_sal.mk
README.md
android/libreofficekit-jni.c
android/lo-bootstrap.c
android/uthash.h
inc/backtraceasstring.hxx
inc/oslmemory.h
inc/oslrandom.h
inc/oslsocket.hxx
inc/pch/precompiled_sal.cxx
inc/pch/precompiled_sal.hxx
inc/rtllifecycle.h
inc/salusesyslog.hxx
inc/signalshared.hxx
inc/uri_internal.hxx
osl/all/compat.cxx
osl/all/debugbase.cxx
osl/all/loadmodulerelative.cxx
osl/all/log.cxx
osl/all/mutexshared.cxx
osl/all/signalshared.cxx
osl/all/utility.cxx
osl/unx/asm/interlck_sparc.s
osl/unx/backtrace.c
osl/unx/backtrace.h
osl/unx/backtraceapi.cxx
osl/unx/conditn.cxx
osl/unx/createfilehandlefromfd.hxx
osl/unx/file_error_transl.cxx
osl/unx/file_error_transl.hxx
osl/unx/file_impl.hxx
osl/unx/file_path_helper.cxx
osl/unx/file_path_helper.hxx
osl/unx/file_url.hxx
osl/unx/interlck.cxx
osl/unx/memory.cxx
osl/unx/module.cxx
osl/unx/mutex.cxx
osl/unx/nlsupport.cxx
osl/unx/nlsupport.hxx
osl/unx/process_impl.cxx
osl/unx/profile.cxx
osl/unx/random.cxx
osl/unx/readwrite_helper.cxx
osl/unx/readwrite_helper.hxx
osl/unx/salinit.cxx
osl/unx/saltime.hxx
osl/unx/secimpl.hxx
osl/unx/socket.cxx
osl/unx/sockimpl.hxx
osl/unx/soffice.cxx
osl/unx/soffice.hxx
osl/unx/system.mm
osl/unx/time.cxx
osl/unx/unixerrnostring.hxx
osl/unx/uunxapi.hxx
osl/unx/uunxapi.mm
osl/w32/backtrace.cxx
osl/w32/conditn.cxx
osl/w32/dllentry.cxx
osl/w32/file-impl.hxx
osl/w32/file.cxx
osl/w32/file_dirvol.cxx
osl/w32/file_error.cxx
osl/w32/file_error.hxx
osl/w32/file_url.cxx
osl/w32/file_url.hxx
osl/w32/filetime.hxx
osl/w32/interlck.cxx
osl/w32/memory.cxx
osl/w32/module.cxx
osl/w32/mutex.cxx
osl/w32/nlsupport.cxx
osl/w32/nlsupport.hxx
osl/w32/path_helper.cxx
osl/w32/path_helper.hxx
osl/w32/pipe.cxx
osl/w32/process.cxx
osl/w32/procimpl.cxx
osl/w32/procimpl.hxx
osl/w32/profile.cxx
osl/w32/random.cxx
osl/w32/salinit.cxx
osl/w32/secimpl.hxx
osl/w32/security.cxx
osl/w32/signal.cxx
osl/w32/socket.cxx
osl/w32/sockimpl.hxx
osl/w32/system.h
osl/w32/tempfile.cxx
osl/w32/thread.cxx
osl/w32/thread.hxx
osl/w32/time.cxx
osl/w32/time.hxx
qa/ByteSequence/ByteSequence.cxx
qa/OStringBuffer/rtl_OStringBuffer.cxx
qa/OStringBuffer/rtl_String_Const.h
qa/OStringBuffer/rtl_String_Utils_Const.h
qa/inc/stringhelper.hxx
qa/inc/valueequal.hxx
qa/libs2test.txt
qa/osl/condition/osl_Condition.cxx
qa/osl/condition/osl_Condition_Const.h
qa/osl/file/osl_File.cxx
qa/osl/file/osl_File_Const.h
qa/osl/file/osl_old_test_file.cxx
qa/osl/file/test_cpy_wrt_file.cxx
qa/osl/getsystempathfromfileurl/test-getsystempathfromfileurl.cxx
qa/osl/module/osl_Module.cxx
qa/osl/module/osl_Module_Const.h
qa/osl/module/osl_Module_DLL.cxx
qa/osl/mutex/osl_Mutex.cxx
qa/osl/mutex/osl_Mutex_Const.h
qa/osl/pipe/osl_Pipe.cxx
qa/osl/process/batch.bat
qa/osl/process/batch.sh
qa/osl/process/osl_Thread.cxx
qa/osl/process/osl_Thread.xsce
qa/osl/process/osl_process.cxx
qa/osl/process/osl_process_child.cxx
qa/osl/profile/osl_old_testprofile.cxx
qa/osl/security/TODO.h
qa/osl/security/osl_Security.cxx
qa/osl/security/osl_Security_Const.h
qa/osl/setthreadname/test-setthreadname.cxx
qa/osl/socket.cxx
qa/osl/thread/test_thread.cxx
qa/rtl/alloc/rtl_alloc.cxx
qa/rtl/bootstrap/expand.cxx
qa/rtl/cipher/rtl_cipher.cxx
qa/rtl/crc32/rtl_crc32.cxx
qa/rtl/digest/rtl_digest.cxx
qa/rtl/doublelock/rtl_doublelocking.cxx
qa/rtl/locale/rtl_locale.cxx
qa/rtl/math/test-rtl-math.cxx
qa/rtl/ostring/rtl_OString2.cxx
qa/rtl/ostring/rtl_str.cxx
qa/rtl/ostring/rtl_str.xsce
qa/rtl/ostring/rtl_string.cxx
qa/rtl/ostring/rtl_string.xsce
qa/rtl/oustring/joblist.txt
qa/rtl/oustring/rtl_OUString2.cxx
qa/rtl/oustring/rtl_ustr.cxx
qa/rtl/oustring/rtl_ustr.xsce
qa/rtl/oustringbuffer/test_oustringbuffer_appendchar.cxx
qa/rtl/oustringbuffer/test_oustringbuffer_appenduninitialized.cxx
qa/rtl/oustringbuffer/test_oustringbuffer_assign.cxx
qa/rtl/oustringbuffer/test_oustringbuffer_tostring.cxx
qa/rtl/oustringbuffer/test_oustringbuffer_utf32.cxx
qa/rtl/process/child_process.cxx
qa/rtl/process/child_process_id.cxx
qa/rtl/process/rtl_Process.cxx
qa/rtl/process/rtl_Process_Const.h
qa/rtl/random/random.txt
qa/rtl/random/rtl_random.cxx
qa/rtl/ref/rtl_ref.cxx
qa/rtl/strings/compile-oustring.cxx
qa/rtl/strings/nonconstarray.cxx
qa/rtl/strings/test_ostring.cxx
qa/rtl/strings/test_ostring_concat.cxx
qa/rtl/strings/test_ostring_stringliterals.cxx
qa/rtl/strings/test_ostringbuffer.cxx
qa/rtl/strings/test_oustring_compare.cxx
qa/rtl/strings/test_oustring_concat.cxx
qa/rtl/strings/test_oustring_convert.cxx
qa/rtl/strings/test_oustring_endswith.cxx
qa/rtl/strings/test_oustring_startswith.cxx
qa/rtl/strings/test_oustring_stringliterals.cxx
qa/rtl/strings/test_strings_defaultstringview.cxx
qa/rtl/strings/test_strings_replace.cxx
qa/rtl/strings/test_strings_toint.cxx
qa/rtl/strings/test_strings_valuex.cxx
qa/rtl/textenc/rtl_tencinfo.cxx
qa/rtl/textenc/rtl_textcvt.cxx
qa/rtl/uri/rtl_Uri.cxx
qa/rtl/uri/rtl_testuri.cxx
qa/rtl/uuid/rtl_Uuid.cxx
qa/sal/test_types.cxx
qa/systools/test_comtools.cxx
qa/systools/test_retry_if_failed.cxx
rtl/alloc_arena.cxx
rtl/alloc_arena.hxx
rtl/alloc_cache.cxx
rtl/alloc_cache.hxx
rtl/alloc_fini.cxx
rtl/alloc_global.cxx
rtl/alloc_impl.hxx
rtl/bootstrap.cxx
rtl/byteseq.cxx
rtl/cipher.cxx
rtl/cmdargs.cxx
rtl/crc.cxx
rtl/digest.cxx
rtl/hash.cxx
rtl/hash.hxx
rtl/locale.cxx
rtl/math.cxx
rtl/random.cxx
rtl/rtl_process.cxx
rtl/strbuf.cxx
rtl/strimp.cxx
rtl/strimp.hxx
rtl/string.cxx
rtl/strtmpl.hxx
rtl/unload.cxx
rtl/uri.cxx
rtl/ustrbuf.cxx
rtl/ustring.cxx
rtl/uuid.cxx
test/bootstrap
test/bootstrap.bat
test/bootstrap.pl
test/bootstraptest.ini
test/makefile.mk
test/test_salmain.cxx
test/test_salmainwithargs.cxx
test/testbootstrap.cxx
test/testbootstrap.ini
textenc/context.cxx
textenc/context.hxx
textenc/convertadobe.tab
textenc/convertbig5hkscs.cxx
textenc/convertbig5hkscs.hxx
textenc/convertbig5hkscs.tab
textenc/converter.cxx
textenc/converter.hxx
textenc/converteuctw.cxx
textenc/converteuctw.hxx
textenc/converteuctw.tab
textenc/convertgb18030.cxx
textenc/convertgb18030.hxx
textenc/convertgb18030.tab
textenc/convertisciidevangari.cxx
textenc/convertisciidevangari.hxx
textenc/convertisciidevangari.tab
textenc/convertiso2022cn.cxx
textenc/convertiso2022cn.hxx
textenc/convertiso2022cn.tab
textenc/convertiso2022jp.cxx
textenc/convertiso2022jp.hxx
textenc/convertiso2022jp.tab
textenc/convertiso2022kr.cxx
textenc/convertiso2022kr.hxx
textenc/convertiso2022kr.tab
textenc/convertsimple.cxx
textenc/convertsimple.hxx
textenc/convertsinglebytetobmpunicode.cxx
textenc/convertsinglebytetobmpunicode.hxx
textenc/generate/big5hkscs2001.pl
textenc/generate/big5hkscs2001.tab
textenc/generate/cns116431992.pl
textenc/generate/cns116431992.tab
textenc/generate/gb180302000.pl
textenc/generate/gb180302000.tab
textenc/gettextencodingdata.hxx
textenc/handleundefinedunicodetotextchar.cxx
textenc/handleundefinedunicodetotextchar.hxx
textenc/tables.cxx
textenc/tcvtarb1.tab
textenc/tcvtbyte.cxx
textenc/tcvtbyte.hxx
textenc/tcvteas1.tab
textenc/tcvtest1.tab
textenc/tcvtjp1.tab
textenc/tcvtjp2.tab
textenc/tcvtjp3.tab
textenc/tcvtjp4.tab
textenc/tcvtjp5.tab
textenc/tcvtjp6.tab
textenc/tcvtkr1.tab
textenc/tcvtkr2.tab
textenc/tcvtkr4.tab
textenc/tcvtkr5.tab
textenc/tcvtkr6.tab
textenc/tcvtlat1.tab
textenc/tcvtmb.cxx
textenc/tcvtscn1.tab
textenc/tcvtscn2.tab
textenc/tcvtscn3.tab
textenc/tcvtscn4.tab
textenc/tcvtscn5.tab
textenc/tcvtscn6.tab
textenc/tcvtsym1.tab
textenc/tcvttcn1.tab
textenc/tcvttcn2.tab
textenc/tcvttcn6.tab
textenc/tcvtuni1.tab
textenc/tcvtutf7.cxx
textenc/tcvtutf8.cxx
textenc/tcvtutf8.hxx
textenc/tenchelp.hxx
textenc/tencinfo.cxx
textenc/textcvt.cxx
textenc/textenc.cxx
textenc/unichars.cxx
textenc/unichars.hxx
