<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>odg</string>
				<string>sda</string>
				<string>sxd</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>sxd_sda.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/vnd.sun.xml.draw</string>
				<string>application/vnd.stardivision.draw</string>
				<string>application/x-stardraw</string>
				<string>application/vnd.oasis.opendocument.graphics</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>$(PRODUCT_NAME) Document</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ods</string>
				<string>odc</string>
				<string>sdc</string>
				<string>sxc</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>sxc_sdc_slk_xls.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/vnd.sun.xml.calc</string>
				<string>application/vnd.stardivision.calc</string>
				<string>application/x-starcalc</string>
				<string>application/vnd.oasis.opendocument.chart</string>
				<string>application/vnd.oasis.opendocument.spreadsheet</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>$(PRODUCT_NAME) Document</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>odp</string>
				<string>sdd</string>
				<string>sdp</string>
				<string>sxi</string>
				<string>sxp</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>sxi_sdd_ppt.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/vnd.sun.xml.impress</string>
				<string>application/vnd.stardivision.impress</string>
				<string>application/vnd.stardivision.impress-packed</string>
				<string>application/x-starimpress</string>
				<string>application/vnd.oasis.openoffice.presentation</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>$(PRODUCT_NAME) Document</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>sds</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>sds.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/vnd.stardivision.chart</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>$(PRODUCT_NAME) Document</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>odm</string>
				<string>odt</string>
				<string>oth</string>
				<string>sdw</string>
				<string>sxw</string>
				<string>sgl</string>
				<string>sxg</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>sxw_sdw_doc_Option_1.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/vnd.sun.xml.writer</string>
				<string>application/vnd.sun.xml.writer.global</string>
				<string>application/vnd.stardivision.writer</string>
				<string>application/vnd.stardivision.writer-global</string>
				<string>application/x-starwriter</string>
				<string>application/vnd.oasis.opendocument.text</string>
				<string>application/vnd.oasis.opendocument.text-master</string>
				<string>application/vnd.oasis.opendocument.text-web</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>$(PRODUCT_NAME) Document</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>otc</string>
				<string>ots</string>
				<string>stc</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>stc_xlt.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/vnd.sun.xml.calc.template</string>
				<string>application/vnd.oasis.opendocument.spreadsheet-template</string>
				<string>application/vnd.oasis.opendocument.chart-template</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>$(PRODUCT_NAME) Document</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>std</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>std.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/vnd.sun.xml.draw.template</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>$(PRODUCT_NAME) Document</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>otp</string>
				<string>sti</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>sti_pot.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/vnd.sun.xml.impress.template</string>
				<string>application/vnd.oasis.opendocument.presentation-template</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>$(PRODUCT_NAME) Document</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>dot</string>
				<string>ott</string>
				<string>stw</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>stw_dot_Option_1.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/vnd.sun.xml.writer.template</string>
				<string>application/vnd.oasis.opendocument.text-template</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>$(PRODUCT_NAME) Document</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>W8TN</string>
				<string>s8BN</string>
				<string>s6BN</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>odf</string>
				<string>sxm</string>
				<string>smf</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>sxm_smf_mml.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/vnd.sun.xml.math</string>
				<string>application/vnd.stardivision.math</string>
				<string>application/x-starmath</string>
				<string>application/vnd.oasis.opendocument.formula</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>$(PRODUCT_NAME) Document</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>odi</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>sxd_sda.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/vnd.oasis.opendocument.image</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>$(PRODUCT_NAME) Document</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>oti</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>std.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/vnd.oasis.opendocument.image-template</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>$(PRODUCT_NAME) Document</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>odb</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>dbf_dif.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/vnd.oasis.opendocument.database</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>$(PRODUCT_NAME) Document</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>bmp</string>
				<string>emf</string>
				<string>gif</string>
				<string>jpeg</string>
				<string>jpg</string>
				<string>met</string>
				<string>pbm</string>
				<string>pct</string>
				<string>pict</string>
				<string>pgm</string>
				<string>psd</string>
				<string>png</string>
				<string>ppm</string>
				<string>ras</string>
				<string>svg</string>
				<string>svm</string>
				<string>tif</string>
				<string>tiff</string>
				<string>wmf</string>
				<string>xpm</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>sxd_sda.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>image/gif</string>
				<string>image/jpeg</string>
				<string>image/png</string>
				<string>image/tiff</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>$(PRODUCT_NAME) Document</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>csv</string>
				<string>vor</string>
				<string>tsv</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>generic.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>text/csv</string>
				<string>text/tab-separated-values</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>$(PRODUCT_NAME) Document</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>dbf</string>
				<string>dif</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>dbf_dif.icns</string>
			<key>CFBundleTypeName</key>
			<string>$(PRODUCT_NAME) Document</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>doc</string>
				<string>wp</string>
				<string>wpd</string>
				<string>wri</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>sxw_sdw_doc_Option_1.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/msword</string>
				<string>application/vnd.wordperfect</string>
				<string>application/vnd.wordperfect5.1</string>
				<string>application/wordperfect5.1</string>
				<string>application/vnd.wordperfect6.1</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>$(PRODUCT_NAME) Document</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>W8BN</string>
				<string>W6BN</string>
				<string>.WP5</string>
				<string>.WP6</string>
				<string>WPD3</string>
				<string>WPD4</string>
				<string>WPPC</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>htm</string>
				<string>html</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>html.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>text/html</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>$(PRODUCT_NAME) Document</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mml</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>sxm_smf_mml.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>text/mathml</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>$(PRODUCT_NAME) Document</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pot</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>sti_pot.icns</string>
			<key>CFBundleTypeName</key>
			<string>$(PRODUCT_NAME) Document</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>PPOT</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pps</string>
				<string>ppt</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>sxi_sdd_ppt.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/powerpoint</string>
				<string>application/mspowerpoint</string>
				<string>application/vnd.ms-powerpoint</string>
				<string>application/x-mspowerpoint</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>$(PRODUCT_NAME) Document</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>SLD8</string>
				<string>PPSS</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>rtf</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>rtf.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>text/rtf</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>$(PRODUCT_NAME) Document</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>RTF </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>txt</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>txt.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>text/plain</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>$(PRODUCT_NAME) Document</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TEXT</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>slk</string>
				<string>sylk</string>
				<string>wk1</string>
				<string>wks</string>
				<string>xl</string>
				<string>xlc</string>
				<string>xlm</string>
				<string>xls</string>
				<string>xlw</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>sxc_sdc_slk_xls.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/excel</string>
				<string>application/msexcel</string>
				<string>application/vnd.ms-excel</string>
				<string>application/x-msexcel</string>
				<string>application/vnd.lotus-1-2-3</string>
				<string>application/x-123</string>
				<string>application/lotus123</string>
				<string>application/x-lotus123</string>
				<string>application/wk1</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>$(PRODUCT_NAME) Document</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>XLS8</string>
				<string>XLS5</string>
				<string>XLS4</string>
				<string>XLS3</string>
				<string>LWKS</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>xlt</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>stc_xlt.icns</string>
			<key>CFBundleTypeName</key>
			<string>$(PRODUCT_NAME) Document</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>sLS8</string>
				<string>sLS5</string>
				<string>sLS4</string>
				<string>sLS3</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>*</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>generic.icns</string>
			<key>CFBundleTypeName</key>
			<string>$(PRODUCT_NAME) Document</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>$(PRODUCT_FILETYPE)</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<false/>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>soffice.bin</string>
	<key>CFBundleGetInfoString</key>
	<string>$(PRODUCT_TRADEMARKED_NAME) $(PRODUCT_VERSION)</string>
	<key>CFBundleIconFile</key>
	<string>ship.icns</string>
	<key>CFBundleIdentifier</key>
	<string>org.neooffice.neooffice</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(PRODUCT_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>$(PRODUCT_FILETYPE)</string>
	<key>CFBundleVersion</key>
	<string>$(PRODUCT_VERSION) Build $(RSCVERSION)</string>
	<key>Java</key>
	<dict>
		<!-- Don't allow Java 1.5 to be used -->
		<key>JVMVersion</key>
		<string>1.4*</string>
	</dict>
</dict>
</plist>
