<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>sda</string>
				<string>sxd</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>sxd_sda.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/vnd.sun.xml.draw</string>
				<string>application/vnd.stardivision.draw</string>
				<string>application/x-stardraw</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>$(PRODUCT_NAME) Document</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>$(PRODUCT_FILETYPE)</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>sdc</string>
				<string>sxc</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>sxc_sdc_slk_xls.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/vnd.sun.xml.calc</string>
				<string>application/vnd.stardivision.calc</string>
				<string>application/x-starcalc</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>$(PRODUCT_NAME) Document</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>$(PRODUCT_FILETYPE)</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>sdd</string>
				<string>sdp</string>
				<string>sxi</string>
				<string>sxp</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>sxi_sdd_ppt.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/vnd.sun.xml.impress</string>
				<string>application/vnd.stardivision.impress</string>
				<string>application/vnd.stardivision.impress-packed</string>
				<string>application/x-starimpress</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>$(PRODUCT_NAME) Document</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>$(PRODUCT_FILETYPE)</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>sds</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>sds.icns</string>
			<key>CFBundleTypeName</key>
			<string>NeoOffice/J Document</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>$(PRODUCT_FILETYPE)</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>sdw</string>
				<string>sxw</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>sxw_sdw_doc_Option_1.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/vnd.sun.xml.writer</string>
				<string>application/vnd.sun.xml.writer.global</string>
				<string>application/vnd.stardivision.writer</string>
				<string>application/vnd.stardivision.writer-global</string>
				<string>application/x-starwriter</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>$(PRODUCT_NAME) Document</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>$(PRODUCT_FILETYPE)</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>stc</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>stc_xlt.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/vnd.sun.xml.calc.template</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>$(PRODUCT_NAME) Document</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>$(PRODUCT_FILETYPE)</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>std</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>std.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/vnd.sun.xml.draw.template</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>$(PRODUCT_NAME) Document</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>$(PRODUCT_FILETYPE)</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>sti</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>sti_pot.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/vnd.sun.xml.impress.template</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>$(PRODUCT_NAME) Document</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>$(PRODUCT_FILETYPE)</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>dot</string>
				<string>stw</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>stw_dot_Option_1.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/vnd.sun.xml.writer.template</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>$(PRODUCT_NAME) Document</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>$(PRODUCT_FILETYPE)</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>sxm</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>sxm_smf_mml.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/vnd.sun.xml.math</string>
				<string>application/vnd.stardivision.math</string>
				<string>application/x-starmath</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>$(PRODUCT_NAME) Document</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>$(PRODUCT_FILETYPE)</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>bmp</string>
				<string>emf</string>
				<string>gif</string>
				<string>jpeg</string>
				<string>jpg</string>
				<string>met</string>
				<string>pbm</string>
				<string>pct</string>
				<string>pict</string>
				<string>pgm</string>
				<string>psd</string>
				<string>png</string>
				<string>ppm</string>
				<string>ras</string>
				<string>svg</string>
				<string>svm</string>
				<string>tif</string>
				<string>tiff</string>
				<string>wmf</string>
				<string>xpm</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>sxd_sda.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>image/gif</string>
				<string>image/jpeg</string>
				<string>image/png</string>
				<string>image/tiff</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>$(PRODUCT_NAME) Document</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>$(PRODUCT_FILETYPE)</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>csv</string>
				<string>vor</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>generic.icns</string>
			<key>CFBundleTypeName</key>
			<string>$(PRODUCT_NAME) Document</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>$(PRODUCT_FILETYPE)</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>dbf</string>
				<string>dif</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>dbf_dif.icns</string>
			<key>CFBundleTypeName</key>
			<string>$(PRODUCT_NAME) Document</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>$(PRODUCT_FILETYPE)</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>doc</string>
				<string>wri</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>sxw_sdw_doc_Option_1.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/msword</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>$(PRODUCT_NAME) Document</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>$(PRODUCT_FILETYPE)</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>htm</string>
				<string>html</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>html.icns</string>
			<key>CFBundleTypeName</key>
			<string>$(PRODUCT_NAME) Document</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>$(PRODUCT_FILETYPE)</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mml</string>
				<string>smf</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>sxm_smf_mml.icns</string>
			<key>CFBundleTypeName</key>
			<string>$(PRODUCT_NAME) Document</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>$(PRODUCT_FILETYPE)</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pot</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>sti_pot.icns</string>
			<key>CFBundleTypeName</key>
			<string>$(PRODUCT_NAME) Document</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>$(PRODUCT_FILETYPE)</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pps</string>
				<string>ppt</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>sxi_sdd_ppt.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/powerpoint</string>
				<string>application/mspowerpoint</string>
				<string>application/vnd.ms-powerpoint</string>
				<string>application/x-mspowerpoint</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>$(PRODUCT_NAME) Document</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>$(PRODUCT_FILETYPE)</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>rtf</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>rtf.icns</string>
			<key>CFBundleTypeName</key>
			<string>$(PRODUCT_NAME) Document</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>$(PRODUCT_FILETYPE)</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>slk</string>
				<string>sylk</string>
				<string>tsv</string>
				<string>wk1</string>
				<string>wks</string>
				<string>xl</string>
				<string>xlc</string>
				<string>xlm</string>
				<string>xls</string>
				<string>xlw</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>sxc_sdc_slk_xls.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/excel</string>
				<string>application/msexcel</string>
				<string>application/vnd.ms-excel</string>
				<string>application/x-msexcel</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>$(PRODUCT_NAME) Document</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>$(PRODUCT_FILETYPE)</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>txt</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>txt.icns</string>
			<key>CFBundleTypeName</key>
			<string>$(PRODUCT_NAME) Document</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>$(PRODUCT_FILETYPE)</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>xlt</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>stc_xlt.icns</string>
			<key>CFBundleTypeName</key>
			<string>$(PRODUCT_NAME) Document</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>$(PRODUCT_FILETYPE)</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<false/>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>soffice.bin</string>
	<key>CFBundleIdentifier</key>
	<string>org.neooffice.neooffice.java</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundleIconFile</key>
	<string>ship.icns</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(PRODUCT_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>$(PRODUCT_FILETYPE)</string>
	<key>CFBundleVersion</key>
	<string>$(PRODUCT_VERSION) Build $(RSCVERSION)</string>
	<key>CFBundleGetInfoString</key>
	<string>$(PRODUCT_TRADEMARKED_NAME) copyright 2004 Patrick Luby with portions copyright 2004 Sun Microsystems, Inc.</string>
</dict>
</plist>
