inc/vendorplugin.hxx
Package_rcfiles.mk
plugins/sunmajor/javaenvsetup/javaldx.cxx
plugins/sunmajor/pluginlib/vendorlist.hxx
plugins/sunmajor/pluginlib/util_cocoa.hxx
plugins/sunmajor/pluginlib/vendorbase.cxx
plugins/sunmajor/pluginlib/util.hxx
plugins/sunmajor/pluginlib/gnujre.cxx
plugins/sunmajor/pluginlib/sunjre.cxx
plugins/sunmajor/pluginlib/otherjre.cxx
plugins/sunmajor/pluginlib/JREProperties.java
plugins/sunmajor/pluginlib/sunversion.hxx
plugins/sunmajor/pluginlib/util_cocoa.mm.orig
plugins/sunmajor/pluginlib/util.cxx.orig
plugins/sunmajor/pluginlib/sunjre.cxx.orig
plugins/sunmajor/pluginlib/sunversion.cxx
plugins/sunmajor/pluginlib/sunjavapluginrc
plugins/sunmajor/pluginlib/util_cocoa.mm
plugins/sunmajor/pluginlib/diagnostics.h
plugins/sunmajor/pluginlib/util_cocoa.hxx.orig
plugins/sunmajor/pluginlib/vendorlist.cxx
plugins/sunmajor/pluginlib/sunversion.cxx.orig
plugins/sunmajor/pluginlib/vendorbase.hxx
plugins/sunmajor/pluginlib/sunjavaplugin.cxx.orig
plugins/sunmajor/pluginlib/util.cxx
plugins/sunmajor/pluginlib/sunjre.hxx
plugins/sunmajor/pluginlib/gnujre.hxx
plugins/sunmajor/pluginlib/otherjre.hxx
source/framework.hxx
source/fwkutil.hxx
source/elements.hxx
source/javasettings_template.xml
source/libxmlutil.cxx
source/fwkbase.hxx
source/framework.cxx.orig
source/fwkbase.cxx
source/libxmlutil.hxx
source/jvmfwk3rc
source/readme.txt
source/fwkutil.cxx
source/elements.cxx
source/javasettings.xsd
Module_jvmfwk.mk
Library_jvmfwk.mk
Package_jreproperties.mk
README
Library_jvmfwk.mk.orig
CustomTarget_jreproperties.mk
Executable_javaldx.mk
distributions/OpenOfficeorg/javavendors_macosx.xml.orig
distributions/OpenOfficeorg/javavendors_wnt.xml
distributions/OpenOfficeorg/javavendors.xsd
distributions/OpenOfficeorg/javavendors_template.xml
distributions/OpenOfficeorg/javavendors_freebsd.xml
distributions/OpenOfficeorg/javavendors_linux.xml
distributions/OpenOfficeorg/javavendors_unx.xml
