CppunitTest_jvmfwk_sunversion.mk
CustomTarget_jreproperties.mk
CustomTarget_jvmfwk_jvmfwk3_ini.mk
Executable_javaldx.mk
IwyuFilter_jvmfwk.yaml
Library_jvmfwk.mk
Module_jvmfwk.mk
Package_jreproperties.mk
Package_jvmfwk_jvmfwk3_ini.mk
Package_rcfiles.mk
README.md
distributions/OpenOfficeorg/javavendors.xsd
distributions/OpenOfficeorg/javavendors_freebsd.xml
distributions/OpenOfficeorg/javavendors_linux.xml
distributions/OpenOfficeorg/javavendors_unx.xml
distributions/OpenOfficeorg/javavendors_wnt.xml
inc/elements.hxx
inc/fwkbase.hxx
inc/fwkutil.hxx
inc/libxmlutil.hxx
inc/vendorbase.hxx
inc/vendorplugin.hxx
plugins/sunmajor/javaenvsetup/javaldx.cxx
plugins/sunmajor/pluginlib/JREProperties.java
plugins/sunmajor/pluginlib/diagnostics.h
plugins/sunmajor/pluginlib/otherjre.cxx
plugins/sunmajor/pluginlib/otherjre.hxx
plugins/sunmajor/pluginlib/sunjre.cxx
plugins/sunmajor/pluginlib/sunjre.hxx
plugins/sunmajor/pluginlib/sunversion.cxx
plugins/sunmajor/pluginlib/sunversion.hxx
plugins/sunmajor/pluginlib/util.cxx
plugins/sunmajor/pluginlib/util.hxx
plugins/sunmajor/pluginlib/util_cocoa.hxx
plugins/sunmajor/pluginlib/util_cocoa.mm
plugins/sunmajor/pluginlib/vendorbase.cxx
plugins/sunmajor/pluginlib/vendorlist.cxx
plugins/sunmajor/pluginlib/vendorlist.hxx
qa/unit/sunversion.cxx
source/elements.cxx
source/framework.hxx
source/fwkbase.cxx
source/fwkutil.cxx
source/javasettings.xsd
source/javasettings_template.xml
source/libxmlutil.cxx
