Library_ucpftp1.mk
Library_ucphier1.mk
Library_ucpgio1.mk
JunitTest_ucb_complex.mk
Library_ucpexpand1.mk
test/com/sun/star/comp/ucb/GlobalTransfer_Test.java
test/com/sun/star/comp/ucb/makefile.mk
Library_ucb1.mk
Library_srtrs1.mk
Module_ucb.mk
Library_cached1.mk
source/inc/regexp.hxx
source/inc/regexpmap.hxx
source/regexp/regexp.cxx
source/core/ucb.hxx
source/core/ucbcmds.cxx
source/core/ucb1.component
source/core/FileAccess.cxx
source/core/identify.hxx
source/core/ucbstore.cxx
source/core/provprox.cxx
source/core/providermap.hxx
source/core/ucbprops.hxx
source/core/cmdenv.cxx
source/core/ucbserv.cxx
source/core/ucbstore.hxx
source/core/provprox.hxx
source/core/ucbprops.cxx
source/core/cmdenv.hxx
source/core/ucb.cxx
source/core/ucbcmds.hxx
source/core/FileAccess.hxx
source/core/identify.cxx
source/sorter/sortresult.hxx
source/sorter/sortdynres.cxx
source/sorter/srtrs1.component
source/sorter/sortdynres.hxx
source/sorter/sortmain.cxx
source/sorter/sortresult.cxx
source/ucp/cmis/auth_provider.cxx
source/ucp/cmis/cmis_provider.cxx
source/ucp/cmis/ucpcmis1.component
source/ucp/cmis/children_provider.hxx
source/ucp/cmis/cmis_content.cxx
source/ucp/cmis/cmis_strings.hxx
source/ucp/cmis/cmis_repo_content.hxx
source/ucp/cmis/cmis_datasupplier.hxx
source/ucp/cmis/certvalidation_handler.cxx
source/ucp/cmis/cmis_url.hxx
source/ucp/cmis/cmis_resultset.hxx
source/ucp/cmis/cmis_datasupplier.cxx
source/ucp/cmis/cmis_url.cxx
source/ucp/cmis/certvalidation_handler.hxx
source/ucp/cmis/cmis_resultset.cxx
source/ucp/cmis/auth_provider.hxx
source/ucp/cmis/cmis_provider.hxx
source/ucp/cmis/cmis_content.hxx
source/ucp/cmis/cmis_repo_content.cxx
source/ucp/ftp/ftpstrcont.hxx
source/ucp/ftp/ftpservices.cxx
source/ucp/ftp/ftpcfunc.hxx
source/ucp/ftp/test_activedatasink.cxx
source/ucp/ftp/ftpcontentidentifier.hxx
source/ucp/ftp/ftpdirp.cxx
source/ucp/ftp/ftpresultsetI.cxx
source/ucp/ftp/ftpresultsetbase.cxx
source/ucp/ftp/ftpdynresultset.hxx
source/ucp/ftp/ucpftp1.component
source/ucp/ftp/ftploaderthread.hxx
source/ucp/ftp/test_multiservicefac.cxx
source/ucp/ftp/ftpurl.hxx
source/ucp/ftp/ftpcontentprovider.cxx
source/ucp/ftp/ftpintreq.hxx
source/ucp/ftp/ftpcontent.hxx
source/ucp/ftp/test.py
source/ucp/ftp/test_ftpurl.hxx
source/ucp/ftp/ftpresultsetfactory.hxx
source/ucp/ftp/ftploaderthread.cxx
source/ucp/ftp/ftpcontentprovider.hxx
source/ucp/ftp/curl.hxx
source/ucp/ftp/ftpurl.cxx
source/ucp/ftp/test_multiservicefac.hxx
source/ucp/ftp/ftpcontainer.hxx
source/ucp/ftp/ftpintreq.cxx
source/ucp/ftp/test.cxx
source/ucp/ftp/ftpcontent.cxx
source/ucp/ftp/ftphandleprovider.hxx
source/ucp/ftp/test_ftpurl.cxx
source/ucp/ftp/test_activedatasink.hxx
source/ucp/ftp/ftpcfunc.cxx
source/ucp/ftp/ftpcontentidentifier.cxx
source/ucp/ftp/ftpdirp.hxx
source/ucp/ftp/ftpcontentcaps.cxx
source/ucp/ftp/ftpresultsetbase.hxx
source/ucp/ftp/ftpresultsetI.hxx
source/ucp/ftp/ftpdynresultset.cxx
source/ucp/expand/ucpexpand1.component
source/ucp/expand/ucpexpand.cxx
source/ucp/inc/urihelper.hxx
source/ucp/tdoc/tdoc_uri.cxx
source/ucp/tdoc/tdoc_passwordrequest.cxx
source/ucp/tdoc/tdoc_resultset.hxx
source/ucp/tdoc/tdoc_services.cxx
source/ucp/tdoc/tdoc_stgelems.cxx
source/ucp/tdoc/tdoc_datasupplier.cxx
source/ucp/tdoc/tdoc_content.hxx
source/ucp/tdoc/tdoc_storage.cxx
source/ucp/tdoc/tdoc_provider.hxx
source/ucp/tdoc/tdoc_documentcontentfactory.cxx
source/ucp/tdoc/tdoc_stgelems.hxx
source/ucp/tdoc/tdoc_datasupplier.hxx
source/ucp/tdoc/tdoc_content.cxx
source/ucp/tdoc/tdoc_storage.hxx
source/ucp/tdoc/tdoc_provider.cxx
source/ucp/tdoc/tdoc_contentcaps.cxx
source/ucp/tdoc/tdoc_documentcontentfactory.hxx
source/ucp/tdoc/tdoc_uri.hxx
source/ucp/tdoc/tdoc_docmgr.hxx
source/ucp/tdoc/ucptdoc1.component
source/ucp/tdoc/tdoc_resultset.cxx
source/ucp/tdoc/tdoc_passwordrequest.hxx
source/ucp/hierarchy/hierarchyuri.hxx
source/ucp/hierarchy/hierarchycontentcaps.cxx
source/ucp/hierarchy/hierarchydata.cxx
source/ucp/hierarchy/hierarchyprovider.cxx
source/ucp/hierarchy/hierarchydatasource.cxx
source/ucp/hierarchy/hierarchycontent.cxx
source/ucp/hierarchy/hierarchydatasupplier.cxx
source/ucp/hierarchy/dynamicresultset.hxx
source/ucp/hierarchy/hierarchycontent.hxx
source/ucp/hierarchy/hierarchydatasupplier.hxx
source/ucp/hierarchy/hierarchyservices.cxx
source/ucp/hierarchy/dynamicresultset.cxx
source/ucp/hierarchy/ucphier1.component
source/ucp/hierarchy/hierarchyuri.cxx
source/ucp/hierarchy/hierarchydata.hxx
source/ucp/hierarchy/hierarchyprovider.hxx
source/ucp/hierarchy/hierarchydatasource.hxx
source/ucp/file/filglob.hxx
source/ucp/file/filtask.hxx
source/ucp/file/filrow.hxx
source/ucp/file/ucpfile1.component
source/ucp/file/filrset.cxx
source/ucp/file/filcmd.hxx
source/ucp/file/filinsreq.cxx
source/ucp/file/filinpstr.cxx
source/ucp/file/filrec.hxx
source/ucp/file/prov.hxx
source/ucp/file/filstr.cxx
source/ucp/file/filprp.cxx
source/ucp/file/filid.cxx
source/ucp/file/filnot.hxx
source/ucp/file/filinpstr.hxx
source/ucp/file/filrec.cxx
source/ucp/file/prov.cxx
source/ucp/file/filerror.hxx
source/ucp/file/filstr.hxx
source/ucp/file/filprp.hxx
source/ucp/file/filid.hxx
source/ucp/file/filnot.cxx
source/ucp/file/filglob.cxx
source/ucp/file/filinl.hxx
source/ucp/file/shell.hxx
source/ucp/file/filrow.cxx
source/ucp/file/filtask.cxx
source/ucp/file/filrset.hxx
source/ucp/file/filcmd.cxx
source/ucp/file/filinsreq.hxx
source/ucp/ext/ucpext_provider.cxx
source/ucp/ext/ucpext_resultset.cxx
source/ucp/ext/ucpext_datasupplier.cxx
source/ucp/ext/ucpext.component
source/ucp/ext/ucpext_content.cxx
source/ucp/ext/ucpext_services.cxx
source/ucp/ext/ucpext_content.hxx
source/ucp/ext/ucpext_provider.hxx
source/ucp/ext/ucpext_resultset.hxx
source/ucp/ext/ucpext_datasupplier.hxx
source/ucp/webdav-neon/NeonPropFindRequest.cxx
source/ucp/webdav-neon/ContentProperties.hxx
source/ucp/webdav-neon/UCBDeadPropertyValue.hxx
source/ucp/webdav-neon/DAVException.hxx
source/ucp/webdav-neon/DAVSession.hxx
source/ucp/webdav-neon/ucpdav1.component
source/ucp/webdav-neon/DAVSessionFactory.cxx
source/ucp/webdav-neon/NeonLockStore.hxx
source/ucp/webdav-neon/webdavprovider.hxx
source/ucp/webdav-neon/NeonSession.cxx
source/ucp/webdav-neon/webdavcontent.cxx
source/ucp/webdav-neon/DAVAuthListener.hxx
source/ucp/webdav-neon/LinkSequence.hxx
source/ucp/webdav-neon/PropertyMap.hxx
source/ucp/webdav-neon/DAVProperties.cxx
source/ucp/webdav-neon/LockSequence.cxx
source/ucp/webdav-neon/DAVRequestEnvironment.hxx
source/ucp/webdav-neon/NeonInputStream.cxx
source/ucp/webdav-neon/NeonHeadRequest.cxx
source/ucp/webdav-neon/NeonUri.hxx
source/ucp/webdav-neon/LockEntrySequence.cxx
source/ucp/webdav-neon/webdavdatasupplier.hxx
source/ucp/webdav-neon/DateTimeHelper.cxx
source/ucp/webdav-neon/webdavservices.cxx
source/ucp/webdav-neon/webdavresultset.cxx
source/ucp/webdav-neon/LockSequence.hxx
source/ucp/webdav-neon/DAVTypes.hxx
source/ucp/webdav-neon/DAVProperties.hxx
source/ucp/webdav-neon/NeonInputStream.hxx
source/ucp/webdav-neon/DAVResource.hxx
source/ucp/webdav-neon/NeonHeadRequest.hxx
source/ucp/webdav-neon/DAVResourceAccess.hxx
source/ucp/webdav-neon/NeonUri.cxx
source/ucp/webdav-neon/LockEntrySequence.hxx
source/ucp/webdav-neon/webdavdatasupplier.cxx
source/ucp/webdav-neon/NeonTypes.hxx
source/ucp/webdav-neon/DateTimeHelper.hxx
source/ucp/webdav-neon/webdavresultset.hxx
source/ucp/webdav-neon/UCBDeadPropertyValue.cxx
source/ucp/webdav-neon/NeonPropFindRequest.hxx
source/ucp/webdav-neon/ContentProperties.cxx
source/ucp/webdav-neon/webdavcontentcaps.cxx
source/ucp/webdav-neon/DAVSessionFactory.hxx
source/ucp/webdav-neon/NeonLockStore.cxx
source/ucp/webdav-neon/webdavprovider.cxx
source/ucp/webdav-neon/NeonSession.hxx
source/ucp/webdav-neon/DAVAuthListenerImpl.hxx
source/ucp/webdav-neon/LinkSequence.cxx
source/ucp/webdav-neon/webdavcontent.hxx
source/ucp/webdav/SerfCallbacks.cxx
source/ucp/webdav/ContentProperties.hxx
source/ucp/webdav/UCBDeadPropertyValue.hxx
source/ucp/webdav/SerfDeleteReqProcImpl.cxx
source/ucp/webdav/AprEnv.hxx
source/ucp/webdav/SerfUnlockReqProcImpl.hxx
source/ucp/webdav/SerfUri.cxx
source/ucp/webdav/DAVException.hxx
source/ucp/webdav/DAVSession.hxx
source/ucp/webdav/SerfPostReqProcImpl.cxx
source/ucp/webdav/SerfInputStream.cxx
source/ucp/webdav/SerfLockReqProcImpl.cxx
source/ucp/webdav/ucpdav1.component
source/ucp/webdav/SerfPropFindReqProcImpl.cxx
source/ucp/webdav/SerfMoveReqProcImpl.cxx
source/ucp/webdav/SerfCopyReqProcImpl.cxx
source/ucp/webdav/DAVSessionFactory.cxx
source/ucp/webdav/webdavprovider.hxx
source/ucp/webdav/SerfLockStore.hxx
source/ucp/webdav/SerfPropPatchReqProcImpl.cxx
source/ucp/webdav/webdavresponseparser.cxx
source/ucp/webdav/webdavcontent.cxx
source/ucp/webdav/DAVAuthListener.hxx
source/ucp/webdav/PropertyMap.hxx
source/ucp/webdav/SerfRequestProcessorImpl.hxx
source/ucp/webdav/SerfMkColReqProcImpl.cxx
source/ucp/webdav/DAVProperties.cxx
source/ucp/webdav/DAVRequestEnvironment.hxx
source/ucp/webdav/SerfGetReqProcImpl.cxx
source/ucp/webdav/SerfSession.cxx
source/ucp/webdav/SerfRequestProcessor.cxx
source/ucp/webdav/webdavdatasupplier.hxx
source/ucp/webdav/SerfHeadReqProcImpl.hxx
source/ucp/webdav/SerfPutReqProcImpl.cxx
source/ucp/webdav/DateTimeHelper.cxx
source/ucp/webdav/webdavservices.cxx
source/ucp/webdav/webdavresultset.cxx
source/ucp/webdav/SerfMkColReqProcImpl.hxx
source/ucp/webdav/DAVTypes.hxx
source/ucp/webdav/DAVProperties.hxx
source/ucp/webdav/DAVResource.hxx
source/ucp/webdav/SerfGetReqProcImpl.hxx
source/ucp/webdav/DAVResourceAccess.hxx
source/ucp/webdav/SerfSession.hxx
source/ucp/webdav/webdavdatasupplier.cxx
source/ucp/webdav/SerfHeadReqProcImpl.cxx
source/ucp/webdav/SerfRequestProcessor.hxx
source/ucp/webdav/SerfPutReqProcImpl.hxx
source/ucp/webdav/DateTimeHelper.hxx
source/ucp/webdav/webdavresultset.hxx
source/ucp/webdav/UCBDeadPropertyValue.cxx
source/ucp/webdav/SerfCallbacks.hxx
source/ucp/webdav/ContentProperties.cxx
source/ucp/webdav/SerfUnlockReqProcImpl.cxx
source/ucp/webdav/AprEnv.cxx
source/ucp/webdav/SerfDeleteReqProcImpl.hxx
source/ucp/webdav/SerfPostReqProcImpl.hxx
source/ucp/webdav/SerfInputStream.hxx
source/ucp/webdav/SerfUri.hxx
source/ucp/webdav/SerfLockReqProcImpl.hxx
source/ucp/webdav/webdavcontentcaps.cxx
source/ucp/webdav/SerfCopyReqProcImpl.hxx
source/ucp/webdav/DAVSessionFactory.hxx
source/ucp/webdav/SerfPropFindReqProcImpl.hxx
source/ucp/webdav/SerfMoveReqProcImpl.hxx
source/ucp/webdav/webdavprovider.cxx
source/ucp/webdav/SerfLockStore.cxx
source/ucp/webdav/SerfPropPatchReqProcImpl.hxx
source/ucp/webdav/webdavresponseparser.hxx
source/ucp/webdav/DAVAuthListenerImpl.hxx
source/ucp/webdav/webdavcontent.hxx
source/ucp/package/pkgdatasupplier.hxx
source/ucp/package/pkgprovider.cxx
source/ucp/package/pkguri.hxx
source/ucp/package/pkgcontentcaps.cxx
source/ucp/package/pkgcontent.hxx
source/ucp/package/pkgresultset.cxx
source/ucp/package/ucppkg1.component
source/ucp/package/pkgcontent.cxx
source/ucp/package/pkgresultset.hxx
source/ucp/package/pkgservices.cxx
source/ucp/package/pkgdatasupplier.cxx
source/ucp/package/pkgprovider.hxx
source/ucp/package/pkguri.cxx
source/ucp/gvfs/gvfs_directory.cxx
source/ucp/gvfs/gvfs_stream.hxx
source/ucp/gvfs/gvfs_provider.hxx
source/ucp/gvfs/gvfs_content.hxx
source/ucp/gvfs/ucpgvfs.component
source/ucp/gvfs/gvfs_content.cxx
source/ucp/gvfs/gvfs_directory.hxx
source/ucp/gvfs/gvfs_provider.cxx
source/ucp/gvfs/gvfs_stream.cxx
source/ucp/gio/gio_seekable.hxx
source/ucp/gio/gio_content.cxx
source/ucp/gio/ucpgio.component
source/ucp/gio/gio_datasupplier.cxx
source/ucp/gio/gio_resultset.cxx
source/ucp/gio/gio_mount.hxx
source/ucp/gio/gio_inputstream.hxx
source/ucp/gio/gio_provider.cxx
source/ucp/gio/gio_outputstream.cxx
source/ucp/gio/gio_mount.cxx
source/ucp/gio/gio_inputstream.cxx
source/ucp/gio/gio_provider.hxx
source/ucp/gio/gio_outputstream.hxx
source/ucp/gio/gio_seekable.cxx
source/ucp/gio/gio_content.hxx
source/ucp/gio/gio_datasupplier.hxx
source/ucp/gio/gio_resultset.hxx
source/cacher/cacheddynamicresultset.hxx
source/cacher/contentresultsetwrapper.cxx
source/cacher/cachedcontentresultset.cxx
source/cacher/dynamicresultsetwrapper.hxx
source/cacher/cachedcontentresultsetstub.cxx
source/cacher/cached1.component
source/cacher/cacheddynamicresultsetstub.cxx
source/cacher/dynamicresultsetwrapper.cxx
source/cacher/cachedcontentresultsetstub.hxx
source/cacher/cacheddynamicresultsetstub.hxx
source/cacher/cacheddynamicresultset.cxx
source/cacher/cacheserv.cxx
source/cacher/contentresultsetwrapper.hxx
source/cacher/cachedcontentresultset.hxx
qa/complex/tdoc/CheckTransientDocumentsContentProvider.java
qa/complex/tdoc/makefile.mk
qa/complex/tdoc/_XCommandInfoChangeNotifier.java
qa/complex/tdoc/_XComponent.java
qa/complex/tdoc/_XServiceInfo.java
qa/complex/tdoc/_XCommandProcessor.java
qa/complex/tdoc/_XPropertiesChangeNotifier.java
qa/complex/tdoc/test_documents/filter.sxw
qa/complex/tdoc/test_documents/Iterator.sxw
qa/complex/tdoc/test_documents/chinese.sxw
qa/complex/tdoc/_XPropertyContainer.java
qa/complex/tdoc/_XPropertySetInfoChangeNotifier.java
qa/complex/tdoc/TestDocument.java
qa/complex/tdoc/_XContent.java
qa/complex/tdoc/_XTypeProvider.java
qa/complex/tdoc/CheckTransientDocumentsContent.java
qa/complex/tdoc/_XChild.java
qa/complex/tdoc/CheckTransientDocumentsDocumentContent.java
qa/complex/tdoc/CheckContentProvider.java
qa/complex/tdoc/interfaces/makefile.mk
qa/complex/ucb/makefile.mk
qa/complex/ucb/UCB.java
qa/unoapi/ucb.sce
qa/unoapi/knownissues.xcl
Library_ucpgvfs1.mk
Library_ucpext.mk
README
Library_ucpfile1.mk
Library_ucptdoc1.mk
Library_ucpcmis1.mk
Library_ucppkg1.mk
JunitTest_ucb_unoapi.mk
