CppunitTest_sdext_pdfimport.mk
inc/pch/precompiled_PresentationMinimizer.hxx
inc/pch/precompiled_PresenterScreen.cxx
inc/pch/precompiled_PresenterScreen.hxx
inc/pch/precompiled_PresentationMinimizer.cxx
Module_sdext.mk
Executable_pdf2xml.mk
Package_pdfimport_xpdfimport.mk
source/pdfimport/filterdet.hxx
source/pdfimport/misc/pwdinteract.cxx
source/pdfimport/misc/pdfihelper.cxx
source/pdfimport/tree/imagecontainer.cxx
source/pdfimport/tree/style.hxx
source/pdfimport/tree/pdfiprocessor.cxx
source/pdfimport/tree/writertreevisiting.cxx
source/pdfimport/tree/treevisiting.hxx
source/pdfimport/tree/drawtreevisiting.hxx
source/pdfimport/tree/genericelements.hxx
source/pdfimport/tree/genericelements.cxx
source/pdfimport/tree/imagecontainer.hxx
source/pdfimport/tree/style.cxx
source/pdfimport/tree/pdfiprocessor.hxx
source/pdfimport/tree/writertreevisiting.hxx
source/pdfimport/tree/style.hxx.orig
source/pdfimport/tree/treevisitorfactory.cxx
source/pdfimport/tree/drawtreevisiting.cxx
source/pdfimport/odf/odfemitter.cxx
source/pdfimport/inc/odfemitter.hxx
source/pdfimport/inc/wrapper.hxx
source/pdfimport/inc/treevisitorfactory.hxx
source/pdfimport/inc/pdfihelper.hxx
source/pdfimport/inc/contentsink.hxx
source/pdfimport/inc/pdfparse.hxx
source/pdfimport/inc/saxemitter.hxx
source/pdfimport/inc/xmlemitter.hxx
source/pdfimport/pdfparse/pdfparse.cxx
source/pdfimport/pdfparse/pdfentries.cxx
source/pdfimport/test/outputwrap.hxx
source/pdfimport/test/testinput.pdf
source/pdfimport/test/tests.cxx
source/pdfimport/test/pdfunzip.cxx
source/pdfimport/test/pdf2xml.cxx
source/pdfimport/test/testdocs/makefile.mk
source/pdfimport/test/testdocs/pictxt.pdf
source/pdfimport/test/testdocs/pictxt_pdfi_unittest_impress.xml
source/pdfimport/test/testdocs/graphicformats.pdf
source/pdfimport/test/testdocs/verticaltext_pdfi_unittest_writer.xml
source/pdfimport/test/testdocs/txtpic_pdfi_unittest_draw.xml
source/pdfimport/test/testdocs/txtpic.pdf
source/pdfimport/test/testdocs/pictxt_pdfi_unittest_draw.xml
source/pdfimport/test/testdocs/txtpic_pdfi_unittest_writer.xml
source/pdfimport/test/testdocs/verticaltext.pdf
source/pdfimport/test/testdocs/graphicformats_pdfi_unittest_writer.xml
source/pdfimport/test/testdocs/txtpictxt_pdfi_unittest_writer.xml
source/pdfimport/test/testdocs/verticaltext_pdfi_unittest_impress.xml
source/pdfimport/test/testdocs/graphicformats_pdfi_unittest_impress.xml
source/pdfimport/test/testdocs/verticaltext_pdfi_unittest_draw.xml
source/pdfimport/test/testdocs/txtpictxt_pdfi_unittest_impress.xml
source/pdfimport/test/testdocs/graphicformats_pdfi_unittest_draw.xml
source/pdfimport/test/testdocs/txtpictxt.pdf
source/pdfimport/test/testdocs/txtpictxt_pdfi_unittest_draw.xml
source/pdfimport/test/testdocs/txtpic_pdfi_unittest_impress.xml
source/pdfimport/test/testdocs/pictxt_pdfi_unittest_writer.xml
source/pdfimport/test/export.map
source/pdfimport/test/testinput.odp
source/pdfimport/wrapper/keyword_list
source/pdfimport/sax/emitcontext.cxx
source/pdfimport/sax/saxattrlist.hxx
source/pdfimport/sax/saxattrlist.cxx
source/pdfimport/sax/emitcontext.hxx
source/pdfimport/config/pdf_types.xcu
source/pdfimport/config/pdf_import_filter.xcu
source/pdfimport/pdfimport.component
source/pdfimport/pdfiadaptor.cxx
source/pdfimport/services.cxx
source/pdfimport/pdfiadaptor.hxx
source/pdfimport/dialogs/xpdfimport_err.pdf
source/pdfimport/xpdftest/book.pdf
source/pdfimport/xpdftest/makefile.mk
source/pdfimport/xpdftest/testinput.pdf
source/pdfimport/xpdftest/text_1_out.def
source/pdfimport/xpdftest/text_0_out.def
source/pdfimport/xpdftest/binary_0_out.def
source/pdfimport/xpdftest/binary_1_out.def
source/pdfimport/xpdftest/testinput.odp
source/pdfimport/xpdfwrapper/pnghelper.hxx
source/pdfimport/xpdfwrapper/pdfioutdev_gpl.cxx
source/pdfimport/xpdfwrapper/pnghelper.cxx
source/pdfimport/xpdfwrapper/wrapper_gpl.cxx
source/pdfimport/xpdfwrapper/pdfioutdev_gpl.hxx
source/presenter/PresenterScrollBar.cxx
source/presenter/PresenterPaneContainer.cxx
source/presenter/PresenterHelpView.hxx
source/presenter/PresenterPaneBase.cxx
source/presenter/PresenterSlideShowView.hxx
source/presenter/presenter.component
source/presenter/PresenterButton.hxx
source/presenter/PresenterBitmapContainer.cxx
source/presenter/PresenterCurrentSlideObserver.cxx
source/presenter/PresenterSpritePane.hxx
source/presenter/PresenterNotesView.cxx
source/presenter/PresenterConfigurationAccess.cxx
source/presenter/PresenterCanvasHelper.cxx
source/presenter/PresenterProtocolHandler.hxx
source/presenter/PresenterToolBar.cxx
source/presenter/PresenterSlidePreview.hxx
source/presenter/PresenterWindowManager.cxx
source/presenter/PresenterSlideSorter.cxx
source/presenter/PresenterTimer.cxx
source/presenter/PresenterGeometryHelper.hxx
source/presenter/PresenterPaneBorderPainter.hxx
source/presenter/PresenterHelper.hxx
source/presenter/PresenterUIPainter.hxx
source/presenter/PresenterTheme.hxx
source/presenter/PresenterPaneBorderManager.hxx
source/presenter/PresenterViewFactory.cxx
source/presenter/PresenterSprite.hxx
source/presenter/PresenterPane.hxx
source/presenter/PresenterTextView.cxx
source/presenter/PresenterAccessibility.hxx
source/presenter/PresenterFrameworkObserver.cxx
source/presenter/PresenterController.cxx
source/presenter/PresenterScreen.hxx
source/presenter/PresenterPaintManager.cxx
source/presenter/PresenterPaneFactory.cxx
source/presenter/PresenterComponent.cxx
source/presenter/PresenterWindowManager.hxx
source/presenter/PresenterTimer.hxx
source/presenter/PresenterSlideSorter.hxx
source/presenter/PresenterGeometryHelper.cxx
source/presenter/PresenterHelper.cxx
source/presenter/PresenterUIPainter.cxx
source/presenter/PresenterPaneBorderPainter.cxx
source/presenter/PresenterTheme.cxx
source/presenter/PresenterPaneBorderManager.cxx
source/presenter/PresenterViewFactory.hxx
source/presenter/PresenterSprite.cxx
source/presenter/PresenterPane.cxx
source/presenter/PresenterAccessibility.cxx
source/presenter/PresenterTextView.hxx
source/presenter/PresenterController.hxx
source/presenter/PresenterFrameworkObserver.hxx
source/presenter/PresenterPaintManager.hxx
source/presenter/PresenterScreen.cxx
source/presenter/PresenterPaneFactory.hxx
source/presenter/PresenterScrollBar.hxx
source/presenter/PresenterHelpView.cxx
source/presenter/PresenterPaneBase.hxx
source/presenter/PresenterPaneContainer.hxx
source/presenter/PresenterSlideShowView.cxx
source/presenter/PresenterButton.cxx
source/presenter/PresenterBitmapContainer.hxx
source/presenter/PresenterNotesView.hxx
source/presenter/PresenterCurrentSlideObserver.hxx
source/presenter/PresenterSpritePane.cxx
source/presenter/PresenterCanvasHelper.hxx
source/presenter/PresenterConfigurationAccess.hxx
source/presenter/PresenterProtocolHandler.cxx
source/presenter/PresenterToolBar.hxx
source/presenter/PresenterSlidePreview.cxx
source/minimizer/fileopendialog.hxx
source/minimizer/optimizerdialog.cxx
source/minimizer/impoptimizer.cxx
source/minimizer/pagecollector.cxx
source/minimizer/pppoptimizer.cxx
source/minimizer/configurationaccess.hxx
source/minimizer/graphiccollector.hxx
source/minimizer/pppoptimizerdialog.hxx
source/minimizer/pppoptimizertoken.cxx
source/minimizer/unodialog.cxx
source/minimizer/optimizationstats.cxx
source/minimizer/minimizer.component
source/minimizer/informationdialog.cxx
source/minimizer/optimizerdialogcontrols.cxx
source/minimizer/informationdialog.hxx
source/minimizer/optimizerdialog.hxx
source/minimizer/fileopendialog.cxx
source/minimizer/optimizerdialog.hrc
source/minimizer/impoptimizer.hxx
source/minimizer/pagecollector.hxx
source/minimizer/pppoptimizer.hxx
source/minimizer/configurationaccess.cxx
source/minimizer/graphiccollector.cxx
source/minimizer/pppoptimizeruno.cxx
source/minimizer/pppoptimizerdialog.cxx
source/minimizer/pppoptimizertoken.hxx
source/minimizer/optimizationstats.hxx
source/minimizer/unodialog.hxx
StaticLibrary_pdfimport_s.mk
README
Library_pdfimport.mk
Library_PresentationMinimizer.mk
Executable_pdfunzip.mk
Library_PresenterScreen.mk
CustomTarget_pdfimport.mk
Executable_xpdfimport.mk
