Library_so_activex_x64.mk
Library_updatefeed.mk
AllLangResTarget_abp.mk
inc/dbpilots.hrc
inc/extensio.hrc
inc/abpilot.hrc
inc/update.hrc
inc/propctrlr.hrc
inc/bibliography.hrc
Library_updatecheckui.mk
WinResTarget_activex.mk
test/ole/idl/oletest.idl
test/ole/unoTocomCalls/Test/Test.vcproj
test/ole/unoTocomCalls/Test/Test.dsp
test/ole/unoTocomCalls/Test/StdAfx.h
test/ole/unoTocomCalls/Test/Test.sln
test/ole/unoTocomCalls/Test/Test.cpp
test/ole/unoTocomCalls/Test/StdAfx.cpp
test/ole/unoTocomCalls/XCallback_Impl/XCallback_Impl.idl
test/ole/unoTocomCalls/XCallback_Impl/Simple.rgs
test/ole/unoTocomCalls/XCallback_Impl/StdAfx.h
test/ole/unoTocomCalls/XCallback_Impl/Simple.h
test/ole/unoTocomCalls/XCallback_Impl/Callback.cpp
test/ole/unoTocomCalls/XCallback_Impl/XCallback_Impl.def
test/ole/unoTocomCalls/XCallback_Impl/Simple.cpp
test/ole/unoTocomCalls/XCallback_Impl/BasicTest.rgs
test/ole/unoTocomCalls/XCallback_Impl/Basic.rgs
test/ole/unoTocomCalls/XCallback_Impl/XCallback_Impl.vcproj
test/ole/unoTocomCalls/XCallback_Impl/Callback.rgs
test/ole/unoTocomCalls/XCallback_Impl/XCallback_Impl.rc
test/ole/unoTocomCalls/XCallback_Impl/resource.h
test/ole/unoTocomCalls/XCallback_Impl/XCallback_Impl.cpp
test/ole/unoTocomCalls/XCallback_Impl/XCallback_Impl.sln
test/ole/unoTocomCalls/XCallback_Impl/StdAfx.cpp
test/ole/unoTocomCalls/XCallback_Impl/Callback.h
test/ole/unoTocomCalls/XCallback_Impl/XCallback_Impl.dsp
test/ole/unoTocomCalls/readme.txt
test/ole/OleTest.htm
test/ole/EventListenerSample/events.htm
test/ole/EventListenerSample/VBEventListener/Module1.bas
test/ole/EventListenerSample/VBEventListener/VBasicEventListener.vbw
test/ole/EventListenerSample/VBEventListener/VBasicEventListener.vbp
test/ole/EventListenerSample/VBEventListener/VBEventListener.cls
test/ole/EventListenerSample/VBEventListener/readme.txt
test/ole/EventListenerSample/readme.txt
test/ole/EventListenerSample/EventListener/EventListener.rc
test/ole/EventListenerSample/EventListener/StdAfx.h
test/ole/EventListenerSample/EventListener/EventListener.def
test/ole/EventListenerSample/EventListener/EventListener.idl
test/ole/EventListenerSample/EventListener/EventListener.vcproj
test/ole/EventListenerSample/EventListener/EvtListener.cpp
test/ole/EventListenerSample/EventListener/resource.h
test/ole/EventListenerSample/EventListener/EventListener.sln
test/ole/EventListenerSample/EventListener/EvtListener.rgs
test/ole/EventListenerSample/EventListener/EventListener.cpp
test/ole/EventListenerSample/EventListener/StdAfx.cpp
test/ole/EventListenerSample/EventListener/EvtListener.h
test/ole/ScriptTest.html
test/ole/AxTestComponents/Foo.cpp
test/ole/AxTestComponents/AxTestComponents.cpp
test/ole/AxTestComponents/StdAfx.h
test/ole/AxTestComponents/AxTestComponents.rc
test/ole/AxTestComponents/Basic.cpp
test/ole/AxTestComponents/AxTestComponents.sln
test/ole/AxTestComponents/Basic.rgs
test/ole/AxTestComponents/AxTestComponents.dsp
test/ole/AxTestComponents/AxTestComponents.idl
test/ole/AxTestComponents/Basic.h
test/ole/AxTestComponents/AxTestComponents.def
test/ole/AxTestComponents/resource.h
test/ole/AxTestComponents/readme.txt
test/ole/AxTestComponents/Foo.h
test/ole/AxTestComponents/StdAfx.cpp
test/ole/AxTestComponents/AxTestComponents.vcproj
test/ole/JScriptNewStyle.htm
test/ole/OleClient/funcs.cxx
test/ole/OleClient/axhost.hxx
test/ole/OleClient/axhost.cxx
test/ole/OleClient/OleClient.ini
test/ole/OleClient/readme.txt
test/ole/OleClient/clientTest.cxx
test/ole/cpptest/makefile.mk
test/ole/cpptest/cpptest.cxx
test/ole/cpptest/readme.txt
test/ole/callUnoToJava.htm
test/ole/StarBasic_OleClient/readme.txt
test/ole/StarBasic_OleClient/oleclient.bas
test/ole/MfcControl/StdAfx.h
test/ole/MfcControl/MfcControl.def
test/ole/MfcControl/MfcControlPpg.h
test/ole/MfcControl/MfcControlCtl.cpp
test/ole/MfcControl/MfcControl.vcproj
test/ole/MfcControl/MfcControl.h
test/ole/MfcControl/MfcControlCtl.png
test/ole/MfcControl/MfcControl.odl
test/ole/MfcControl/MfcControl.rc
test/ole/MfcControl/MfcControl.cpp
test/ole/MfcControl/Resource.h
test/ole/MfcControl/MfcControlCtl.h
test/ole/MfcControl/StdAfx.cpp
test/ole/MfcControl/MfcControlPpg.cpp
test/ole/MfcControl/MfcControl.sln
test/ole/MfcControl/MfcControl.dsp
test/ole/cpnt/makefile.mk
test/ole/cpnt/exports.dxp
test/ole/cpnt/cpnt.cxx
test/ole/cpnt/readme.txt
test/ole/unloading/makefile.mk
test/ole/unloading/readme.txt
test/ole/unloading/unloadTest.cxx
test/ole/OleConverterVar1/makefile.mk
test/ole/OleConverterVar1/smartarray.h
test/ole/OleConverterVar1/convTest.cxx
test/ole/OleConverterVar1/readme.txt
test/ole/cppToUno/makefile.mk
test/ole/cppToUno/testcppuno.cxx
test/ole/cppToUno/readme.txt
test/ole/VisualBasic/Project1.vbproj
test/ole/VisualBasic/Project1.sln
test/ole/VisualBasic/readme.txt
test/ole/VisualBasic/Module1.vb
test/ole/VisualBasic/AssemblyInfo.vb
test/ole/DCOM/Clients/WriterDemo/Module1.bas
test/ole/DCOM/Clients/WriterDemo/readme.txt
test/ole/DCOM/Clients/WriterDemo/client_writerdemo.vbp
test/ole/DCOM/Clients/WriterDemo/client_writerdemo.vbw
test/ole/DCOM/scriptComponents/WriterDemo.wsc
test/ole/DCOM/scriptComponents/readme.txt
test/ole/DCOM/dcom_test/Module1.bas
test/ole/DCOM/dcom_test/readme.txt
test/ole/DCOM/dcom_test/dcom_test.vbp
test/ole/DCOM/dcom_test/dcom_test.vbw
test/pgp/makefile.mk
test/pgp/TestPGP.java
test/pgp/readme.txt
Executable_pluginapp.bin.mk
JunitTest_extensions_unoapi.mk
UIConfig_sabpilot.mk
workben/makefile.mk
workben/testresource.src
workben/testcomponent.cxx
workben/pythonautotest.cxx
workben/testpgp.cxx
workben/testresource.cxx
workben/pythontest.cxx
workben/testframecontrol.cxx
CustomTarget_so_activex_x64.mk
Library_res.mk
source/abpilot/fieldmappingpage.hxx
source/abpilot/abspilot.hxx
source/abpilot/abptypes.hxx
source/abpilot/admininvokationpage.cxx
source/abpilot/unodialogabp.hxx
source/abpilot/abspage.cxx
source/abpilot/tableselectionpage.hxx
source/abpilot/abpfinalpage.hxx
source/abpilot/fieldmappingimpl.hxx
source/abpilot/abspilot.src
source/abpilot/datasourcehandling.hxx
source/abpilot/admininvokationimpl.cxx
source/abpilot/unodialogabp.cxx
source/abpilot/abpservices.cxx
source/abpilot/abp.component
source/abpilot/abspage.hxx
source/abpilot/typeselectionpage.hxx
source/abpilot/abpresid.hrc
source/abpilot/tableselectionpage.cxx
source/abpilot/addresssettings.hxx
source/abpilot/abpfinalpage.cxx
source/abpilot/fieldmappingimpl.cxx
source/abpilot/datasourcehandling.cxx
source/abpilot/moduleabp.cxx
source/abpilot/admininvokationimpl.hxx
source/abpilot/fieldmappingpage.cxx
source/abpilot/abspilot.cxx
source/abpilot/admininvokationpage.hxx
source/propctrlr/inspectormodelbase.cxx
source/propctrlr/eventhandler.cxx
source/propctrlr/formbrowsertools.hxx
source/propctrlr/browserview.cxx
source/propctrlr/usercontrol.hxx
source/propctrlr/commoncontrol.cxx
source/propctrlr/formlinkdialog.cxx
source/propctrlr/linedescriptor.hxx
source/propctrlr/propertycontrolextender.hxx
source/propctrlr/sqlcommanddesign.hxx
source/propctrlr/selectlabeldialog.src
source/propctrlr/inspectorhelpwindow.cxx
source/propctrlr/xsddatatypes.cxx
source/propctrlr/controltype.hxx
source/propctrlr/listselectiondlg.hrc
source/propctrlr/pushbuttonnavigation.hxx
source/propctrlr/buttonnavigationhandler.hxx
source/propctrlr/formres.src
source/propctrlr/listselectiondlg.hxx
source/propctrlr/controlfontdialog.cxx
source/propctrlr/xsdvalidationhelper.cxx
source/propctrlr/formlocalid.hrc
source/propctrlr/browserlistbox.cxx
source/propctrlr/fontdialog.cxx
source/propctrlr/propertyeditor.hxx
source/propctrlr/propertyhandler.hxx
source/propctrlr/MasterDetailLinkDialog.hxx
source/propctrlr/stringrepresentation.cxx
source/propctrlr/propresid.hrc
source/propctrlr/formmetadata.hxx
source/propctrlr/eformspropertyhandler.hxx
source/propctrlr/defaultforminspection.hxx
source/propctrlr/formcontroller.cxx
source/propctrlr/composeduiupdate.cxx
source/propctrlr/editpropertyhandler.cxx
source/propctrlr/defaulthelpprovider.cxx
source/propctrlr/propcontroller.hxx
source/propctrlr/modulepcr.cxx
source/propctrlr/formgeometryhandler.cxx
source/propctrlr/submissionhandler.cxx
source/propctrlr/pcr.component
source/propctrlr/eformshelper.hxx
source/propctrlr/unourl.hxx
source/propctrlr/handlerhelper.hxx
source/propctrlr/pcrunodialogs.hxx
source/propctrlr/cellbindinghelper.hxx
source/propctrlr/browserpage.cxx
source/propctrlr/pcrservices.cxx
source/propctrlr/propertycomposer.cxx
source/propctrlr/standardcontrol.hxx
source/propctrlr/propcontrolobserver.hxx
source/propctrlr/pcrcommon.hxx
source/propctrlr/newdatatype.cxx
source/propctrlr/taborder.cxx
source/propctrlr/cellbindinghandler.cxx
source/propctrlr/selectlabeldialog.hxx
source/propctrlr/genericpropertyhandler.cxx
source/propctrlr/formcomponenthandler.cxx
source/propctrlr/browserline.cxx
source/propctrlr/xsdvalidationpropertyhandler.hxx
source/propctrlr/propeventtranslation.hxx
source/propctrlr/composeduiupdate.hxx
source/propctrlr/formcontroller.hxx
source/propctrlr/defaultforminspection.cxx
source/propctrlr/editpropertyhandler.hxx
source/propctrlr/defaulthelpprovider.hxx
source/propctrlr/modulepcr.hxx
source/propctrlr/propcontroller.cxx
source/propctrlr/submissionhandler.hxx
source/propctrlr/proplinelistener.hxx
source/propctrlr/pcrcommontypes.hxx
source/propctrlr/eformshelper.cxx
source/propctrlr/unourl.cxx
source/propctrlr/pcrunodialogs.cxx
source/propctrlr/handlerhelper.cxx
source/propctrlr/cellbindinghelper.cxx
source/propctrlr/browserpage.hxx
source/propctrlr/pcrservices.hxx
source/propctrlr/formlinkdialog.src
source/propctrlr/propres.src
source/propctrlr/standardcontrol.cxx
source/propctrlr/propertycomposer.hxx
source/propctrlr/formresid.hrc
source/propctrlr/pcrcommon.cxx
source/propctrlr/selectlabeldialog.cxx
source/propctrlr/cellbindinghandler.hxx
source/propctrlr/taborder.hxx
source/propctrlr/newdatatype.hxx
source/propctrlr/propeventtranslation.cxx
source/propctrlr/browserline.hxx
source/propctrlr/genericpropertyhandler.hxx
source/propctrlr/formcomponenthandler.hxx
source/propctrlr/xsdvalidationpropertyhandler.cxx
source/propctrlr/inspectormodelbase.hxx
source/propctrlr/eventhandler.hxx
source/propctrlr/enumrepresentation.hxx
source/propctrlr/fontitemids.hxx
source/propctrlr/formbrowsertools.cxx
source/propctrlr/browserview.hxx
source/propctrlr/usercontrol.cxx
source/propctrlr/pcrmiscres.src
source/propctrlr/commoncontrol.hxx
source/propctrlr/formlinkdialog.hxx
source/propctrlr/formstrings.hxx
source/propctrlr/propertycontrolextender.cxx
source/propctrlr/sqlcommanddesign.cxx
source/propctrlr/pcrstrings.hxx
source/propctrlr/inspectorhelpwindow.hxx
source/propctrlr/buttonnavigationhandler.cxx
source/propctrlr/pushbuttonnavigation.cxx
source/propctrlr/propertyinfo.hxx
source/propctrlr/xsddatatypes.hxx
source/propctrlr/listselectiondlg.cxx
source/propctrlr/xsdvalidationhelper.hxx
source/propctrlr/controlfontdialog.hxx
source/propctrlr/browserlistbox.hxx
source/propctrlr/fontdialog.hxx
source/propctrlr/propertyeditor.cxx
source/propctrlr/MasterDetailLinkDialog.cxx
source/propctrlr/propertyhandler.cxx
source/propctrlr/objectinspectormodel.cxx
source/propctrlr/formmetadata.cxx
source/propctrlr/eformspropertyhandler.cxx
source/inc/componentmodule.hxx
source/inc/componentmodule.cxx
source/update/ui/updchk.component
source/update/ui/updatecheckui.src
source/update/ui/updatecheckui.hrc
source/update/feed/updatefeed.cxx
source/update/feed/test/updatefeedtest.cxx
source/update/feed/updatefeed.component
source/update/check/download.cxx
source/update/check/updatecheckconfiglistener.hxx
source/update/check/org/openoffice/Office/Jobs.xcu
source/update/check/org/openoffice/Office/Addons.xcu
source/update/check/updateprotocoltest.cxx
source/update/check/updchk.uno.component
source/update/check/updatehdl.src
source/update/check/updatecheckconfig.hxx
source/update/check/actionlistener.hxx
source/update/check/download.hxx
source/update/check/updatehdl.hrc
source/update/check/updateinfo.hxx
source/update/check/onlinecheck.cxx
source/update/check/updateprotocol.hxx
source/bibliography/bibresid.hxx
source/bibliography/bibconfig.cxx
source/bibliography/bibtools.hxx
source/bibliography/bibview.cxx
source/bibliography/bibmod.cxx
source/bibliography/formcontrolcontainer.cxx
source/bibliography/general.hxx
source/bibliography/bibcont.hxx
source/bibliography/toolbar.cxx
source/bibliography/bib.component
source/bibliography/datman.cxx
source/bibliography/loadlisteneradapter.cxx
source/bibliography/bibshortcuthandler.hxx
source/bibliography/bibbeam.hxx
source/bibliography/framectr.cxx
source/bibliography/toolbar.hrc
source/bibliography/toolbar.hxx
source/bibliography/datman.hxx
source/bibliography/loadlisteneradapter.hxx
source/bibliography/bibload.cxx
source/bibliography/bib.hrc
source/bibliography/bibbeam.cxx
source/bibliography/framectr.hxx
source/bibliography/bib.src
source/bibliography/sections.src
source/bibliography/bibprop.hrc
source/bibliography/bibconfig.hxx
source/bibliography/bibview.hxx
source/bibliography/toolbar.src
source/bibliography/formcontrolcontainer.hxx
source/bibliography/bibmod.hxx
source/bibliography/bibcont.cxx
source/bibliography/general.cxx
source/config/ldap/ldapaccess.hxx
source/config/ldap/ldapbe2.component
source/config/ldap/ldapuserprofilebe.cxx
source/config/ldap/ldapuserprofilebe.hxx
source/config/ldap/componentdef.cxx
source/config/ldap/ldapaccess.cxx
source/activex/StdAfx2.cxx
source/activex/SODispatchInterceptor.cxx
source/activex/SOComWindowPeer.h
source/activex/SOActionsApproval.rgs
source/activex/SOComWindowPeer.rgs
source/activex/SOActiveX.rgs
source/activex/SODispatchInterceptor.h
source/activex/so_activex.rc
source/activex/example.html
source/activex/com_uno_helper.h
source/activex/resource.h
source/activex/SODispatchInterceptor.rgs
source/activex/so_activex.cxx
source/activex/SOActiveX.h
source/activex/README.txt
source/activex/so_activex.def
source/activex/StdAfx2.h
source/activex/so_activex.idl
source/activex/SOActionsApproval.cxx
source/activex/SOActiveX.cxx
source/activex/SOComWindowPeer.cxx
source/activex/SOActionsApproval.h
source/plugin/inc/plugin/unx/mediator.hxx
source/plugin/inc/plugin/unx/plugcon.hxx
source/plugin/inc/plugin/unx/sysplug.hxx
source/plugin/inc/plugin/plcom.hxx
source/plugin/inc/plugin/impl.hxx
source/plugin/inc/plugin/win/sysplug.hxx
source/plugin/inc/plugin/plctrl.hxx
source/plugin/inc/plugin/model.hxx
source/plugin/inc/plugin/aqua/sysplug.hxx
source/plugin/inc/plugin/multiplx.hxx
source/plugin/unx/npwrap.hxx
source/plugin/unx/sysplug.cxx
source/plugin/unx/mediator.cxx
source/plugin/unx/plugcon.cxx
source/plugin/unx/unxmgr.cxx
source/plugin/unx/nppapi.cxx
source/plugin/unx/npwrap.cxx
source/plugin/unx/npnapi.cxx
source/plugin/win/sysplug.cxx
source/plugin/win/winmgr.cxx
source/plugin/aqua/sysplug.mm
source/plugin/aqua/macmgr.mm
source/plugin/pl.component
source/plugin/base/evtlstnr.cxx
source/plugin/base/nfuncs.cxx
source/plugin/base/plctrl.cxx
source/plugin/base/service.cxx
source/plugin/base/multiplx.cxx
source/plugin/base/manager.cxx
source/plugin/base/context.cxx
source/plugin/base/xplugin.cxx
source/plugin/base/plmodel.cxx
source/plugin/base/plcom.cxx
source/ole/windata.hxx
source/ole/oleautobridge.component
source/ole/unotypewrapper.hxx
source/ole/jscriptclasses.cxx
source/ole/wincrap.hxx
source/ole/unoobjw.hxx
source/ole/servreg.cxx
source/ole/oleobjw.hxx
source/ole/servprov.cxx
source/ole/olethread.cxx
source/ole/ole2uno.hxx
source/ole/oleobjw.cxx
source/ole/unoconversionutilities.hxx
source/ole/servprov.hxx
source/ole/ole2uno.cxx
source/ole/windata.cxx
source/ole/unotypewrapper.cxx
source/ole/oledll.cxx
source/ole/jscriptclasses.hxx
source/ole/unoobjw.cxx
source/ole/comifaces.hxx
source/macosx/spotlight/OOoMetaDataParser.m.orig
source/macosx/spotlight/OOoSpotlightImporter.h
source/macosx/spotlight/OOoMetaDataParser.m
source/macosx/spotlight/OOoContentDataParser.m.orig
source/macosx/spotlight/OOoContentDataParser.m
source/macosx/spotlight/GetMetadataForFile.m
source/macosx/spotlight/main.m
source/macosx/spotlight/mdimporter/en.lproj/schema.strings
source/macosx/spotlight/mdimporter/schema.xml
source/macosx/spotlight/mdimporter/Info.plist
source/macosx/spotlight/OOoMetaDataParser.h
source/macosx/spotlight/OOoSpotlightImporter.m
source/macosx/spotlight/GetMetadataForFile.h
source/macosx/spotlight/OOoContentDataParser.h
source/macosx/spotlight/version.plist
source/dbpilots/dbptypes.hxx
source/dbpilots/unoautopilot.hxx
source/dbpilots/listcombowizard.hxx
source/dbpilots/dbpilots.src
source/dbpilots/dbptools.cxx
source/dbpilots/gridwizard.hxx
source/dbpilots/controlwizard.hxx
source/dbpilots/wizardservices.cxx
source/dbpilots/optiongrouplayouter.cxx
source/dbpilots/gridpages.src
source/dbpilots/groupboxwiz.hxx
source/dbpilots/dbpservices.cxx
source/dbpilots/commonpagesdbp.cxx
source/dbpilots/wizardcontext.hxx
source/dbpilots/listcombowizard.cxx
source/dbpilots/dbptools.hxx
source/dbpilots/gridwizard.cxx
source/dbpilots/optiongrouplayouter.hxx
source/dbpilots/wizardservices.hxx
source/dbpilots/controlwizard.cxx
source/dbpilots/listcombopages.src
source/dbpilots/groupboxwiz.cxx
source/dbpilots/dbp.component
source/dbpilots/dbpresid.hrc
source/dbpilots/dbpservices.hxx
source/dbpilots/commonpagesdbp.hxx
source/dbpilots/unoautopilot.inl
source/dbpilots/groupboxpages.src
source/dbpilots/commonpagesdbp.src
source/dbpilots/moduledbp.cxx
source/resource/res.component
source/resource/ResourceIndexAccess.cxx
source/resource/oooresourceloader.cxx
source/resource/ResourceIndexAccess.hxx
source/resource/oooresourceloader.hxx
source/resource/resourceservices.cxx
source/scanner/strings.src
source/scanner/sane.hxx
source/scanner/scanner.hxx
source/scanner/scanwin.cxx
source/scanner/grid.cxx
source/scanner/strings.hrc
source/scanner/scanner.cxx
source/scanner/scn.component
source/scanner/grid.hxx
source/scanner/scnserv.cxx
source/scanner/sane.cxx
source/scanner/sanedlg.hxx
source/logging/filehandler.cxx
source/logging/consolehandler.cxx
source/logging/logger.cxx
source/logging/log_services.hxx
source/logging/log_module.cxx
source/logging/loghandler.hxx
source/logging/csvformatter.cxx
source/logging/logrecord.hxx
source/logging/loggerconfig.hxx
source/logging/plaintextformatter.cxx
source/logging/loghandler.cxx
source/logging/log.component
source/logging/logrecord.cxx
source/logging/loggerconfig.cxx
source/logging/methodguard.hxx
source/logging/log_services.cxx
source/logging/log_module.hxx
AllLangResTarget_pcr.mk
Library_dbp.mk
qa/update/test_update.cxx
qa/update/simple.xml
qa/complex/extensions/makefile.mk
qa/complex/extensions/extensions_all.sce
qa/complex/extensions/orl_en-US.src
qa/complex/extensions/OfficeResourceLoader.java
qa/complex/extensions/orl_de.src
qa/integration/extensions/makefile.mk
qa/integration/extensions/extensions_complex.sce
qa/integration/extensions/ObjectInspector.java
qa/integration/extensions/ComponentFactory.java
qa/integration/extensions/Frame.java
qa/integration/extensions/MethodHandler.java
qa/integration/extensions/ConsoleWait.java
qa/integration/extensions/ServicesHandler.java
qa/integration/extensions/TestSkeleton.java
qa/integration/extensions/HelpTextProvider.java
qa/unoapi/extensions.sce
UIConfig_scanner.mk
AllLangResTarget_bib.mk
Library_log.mk
README
uiconfig/sabpilot/ui/fieldassignpage.ui
uiconfig/sabpilot/ui/selecttablepage.ui
uiconfig/sabpilot/ui/defaultfieldselectionpage.ui
uiconfig/sabpilot/ui/groupradioselectionpage.ui
uiconfig/sabpilot/ui/optiondbfieldpage.ui
uiconfig/sabpilot/ui/fieldlinkpage.ui
uiconfig/sabpilot/ui/datasourcepage.ui
uiconfig/sabpilot/ui/contenttablepage.ui
uiconfig/sabpilot/ui/gridfieldsselectionpage.ui
uiconfig/sabpilot/ui/optionvaluespage.ui
uiconfig/sabpilot/ui/tableselectionpage.ui
uiconfig/sabpilot/ui/invokeadminpage.ui
uiconfig/sabpilot/ui/optionsfinalpage.ui
uiconfig/sabpilot/ui/contentfieldpage.ui
uiconfig/sabpilot/ui/selecttypepage.ui
uiconfig/spropctrlr/ui/formlinksdialog.ui
uiconfig/spropctrlr/ui/fieldlinkrow.ui
uiconfig/spropctrlr/ui/listselectdialog.ui
uiconfig/spropctrlr/ui/taborder.ui
uiconfig/spropctrlr/ui/controlfontdialog.ui
uiconfig/spropctrlr/ui/datatypedialog.ui
uiconfig/spropctrlr/ui/labelselectiondialog.ui
uiconfig/scanner/ui/griddialog.ui
uiconfig/scanner/ui/sanedialog.ui
uiconfig/sbibliography/ui/mappingdialog.ui
uiconfig/sbibliography/ui/choosedatasourcedialog.ui
uiconfig/sbibliography/ui/generalpage.ui
uiconfig/sbibliography/menubar/menubar.xml
Library_OOoSpotlightImporter.mk
Library_pcr.mk
Library_so_activex.mk
Library_ldapbe2.mk
CustomTarget_so_activex_idl.mk
StaticLibrary_plugcon.mk
AllLangResTarget_upd.mk
AllLangResTarget_updchk.mk
Library_bib.mk
Library_oleautobridge.mk
AllLangResTarget_dbp.mk
AllLangResTarget_scn.mk
Library_abp.mk
Configuration_updchk.mk
Package_mdibundle.mk
Package_OOoSpotlightImporter.mk
UIConfig_spropctrlr.mk
UIConfig_sbibliography.mk
Library_pl.mk
