AllLangResTarget_rptui.mk
inc/pch/precompiled_rptxml.cxx
inc/pch/precompiled_rpt.cxx
inc/pch/precompiled_rptui.hxx
inc/pch/precompiled_rpt.hxx
inc/pch/precompiled_rptui.cxx
inc/pch/precompiled_rptxml.hxx
inc/RptModel.hxx
inc/RptDef.hxx
inc/reportformula.hxx
inc/RptResId.hrc
inc/conditionalexpression.hxx
inc/helpids.hrc
inc/RptPage.hxx
inc/ReportVisitor.hxx
inc/dllapi.h
inc/rptui_slotid.hrc
inc/PropertyForward.hxx
inc/ReportHelperDefines.hxx
inc/UndoEnv.hxx
inc/RptObject.hxx
inc/ReportDefinition.hxx
inc/UndoActions.hxx
inc/ModuleHelper.hxx
Module_reportdesign.mk
UIConfig_dbreport.mk
util/rptxml.component
util/rpt.component
util/rptui.component
images/em42.png
images/em42_hc.png
source/ui/misc/statusbarcontroller.cxx
source/ui/misc/RptUndo.cxx
source/ui/misc/UITools.cxx
source/ui/misc/ColorListener.cxx
source/ui/misc/toolboxcontroller.cxx
source/ui/misc/rptuiservices.cxx
source/ui/misc/FunctionHelper.cxx
source/ui/inc/RptUndo.hxx
source/ui/inc/StartMarker.hxx
source/ui/inc/ReportSection.hxx
source/ui/inc/UITools.hxx
source/ui/inc/SectionView.hxx
source/ui/inc/dlgedclip.hxx
source/ui/inc/FormattedFieldBeautifier.hxx
source/ui/inc/ColorListener.hxx
source/ui/inc/toolboxcontroller.hxx
source/ui/inc/ColumnInfo.hxx
source/ui/inc/FunctionHelper.hxx
source/ui/inc/PageNumber.hxx
source/ui/inc/SectionWindow.hxx
source/ui/inc/dlgedfac.hxx
source/ui/inc/ReportComponentHandler.hxx
source/ui/inc/ReportDefines.hxx
source/ui/inc/ColorChanger.hxx
source/ui/inc/FixedTextColor.hxx
source/ui/inc/metadata.hxx
source/ui/inc/CondFormat.hxx
source/ui/inc/dlgpage.hxx
source/ui/inc/statusbarcontroller.hxx
source/ui/inc/propbrw.hxx
source/ui/inc/AddField.hxx
source/ui/inc/ViewsWindow.hxx
source/ui/inc/dlgedfunc.hxx
source/ui/inc/ReportControllerObserver.hxx
source/ui/inc/Formula.hxx
source/ui/inc/DataProviderHandler.hxx
source/ui/inc/GroupsSorting.hxx
source/ui/inc/ReportController.hxx
source/ui/inc/GeometryHandler.hxx
source/ui/inc/IReportControllerObserver.hxx
source/ui/inc/ScrollHelper.hxx
source/ui/inc/Navigator.hxx
source/ui/inc/ReportWindow.hxx
source/ui/inc/DefaultInspection.hxx
source/ui/inc/DateTime.hxx
source/ui/inc/DesignView.hxx
source/ui/inc/EndMarker.hxx
source/ui/inc/MarkedSection.hxx
source/ui/dlg/Navigator.cxx
source/ui/dlg/GroupExchange.hxx
source/ui/dlg/DateTime.cxx
source/ui/dlg/Condition.hxx
source/ui/dlg/CondFormat.cxx
source/ui/dlg/dlgpage.cxx
source/ui/dlg/PageNumber.src
source/ui/dlg/AddField.cxx
source/ui/dlg/Formula.cxx
source/ui/dlg/GroupsSorting.cxx
source/ui/dlg/CondFormat.hrc
source/ui/dlg/Navigator.src
source/ui/dlg/GroupsSorting.src
source/ui/dlg/CondFormat.src
source/ui/dlg/GroupExchange.cxx
source/ui/dlg/PageNumber.cxx
source/ui/dlg/Condition.cxx
source/ui/inspection/DefaultInspection.cxx
source/ui/inspection/metadata.cxx
source/ui/inspection/DataProviderHandler.cxx
source/ui/inspection/GeometryHandler.cxx
source/ui/inspection/inspection.src
source/ui/inspection/ReportComponentHandler.cxx
source/ui/inspection/GeometryHandler.cxx.orig
source/ui/report/ReportController.cxx.orig
source/ui/report/ScrollHelper.cxx
source/ui/report/ReportWindow.cxx
source/ui/report/DesignView.cxx
source/ui/report/EndMarker.cxx
source/ui/report/propbrw.cxx
source/ui/report/report.src
source/ui/report/dlgedfunc.cxx
source/ui/report/ViewsWindow.cxx
source/ui/report/ReportControllerObserver.cxx
source/ui/report/ReportController.cxx
source/ui/report/SectionWindow.cxx
source/ui/report/dlgedfac.cxx
source/ui/report/FixedTextColor.cxx
source/ui/report/ReportSection.cxx
source/ui/report/StartMarker.cxx
source/ui/report/SectionView.cxx
source/ui/report/dlgedclip.cxx
source/ui/report/FormattedFieldBeautifier.cxx
source/inc/corestrings.hrc
source/inc/stringconstants.hrc
source/inc/uistrings.hrc
source/inc/xmlstrings.hrc
source/inc/GroupProperties.hxx
source/core/misc/conditionupdater.cxx
source/core/misc/reportformula.cxx
source/core/misc/conditionalexpression.cxx
source/core/inc/ImageControl.hxx
source/core/inc/FixedText.hxx
source/core/inc/ReportControlModel.hxx
source/core/inc/FixedLine.hxx
source/core/inc/RptObjectListener.hxx
source/core/inc/ReportComponent.hxx
source/core/inc/ReportDrawPage.hxx
source/core/inc/Groups.hxx
source/core/inc/core_resource.hxx
source/core/inc/core_resource.hrc
source/core/inc/conditionupdater.hxx
source/core/inc/FormattedField.hxx
source/core/inc/ReportEngineJFree.hxx
source/core/inc/ReportUndoFactory.hxx
source/core/inc/Section.hxx
source/core/inc/Tools.hxx
source/core/inc/Shape.hxx
source/core/inc/Function.hxx
source/core/inc/ReportHelperImpl.hxx
source/core/inc/Group.hxx
source/core/inc/FormatCondition.hxx
source/core/inc/Functions.hxx
source/core/sdr/RptObject.cxx
source/core/sdr/UndoActions.cxx
source/core/sdr/ModuleHelper.cxx
source/core/sdr/formatnormalizer.cxx
source/core/sdr/ReportUndoFactory.cxx
source/core/sdr/PropertyForward.cxx.orig
source/core/sdr/PropertyForward.cxx
source/core/sdr/UndoEnv.cxx
source/core/sdr/formatnormalizer.hxx
source/core/sdr/RptPage.cxx
source/core/sdr/RptModel.cxx
source/core/sdr/RptObjectListener.cxx
source/core/sdr/ReportDrawPage.cxx
source/core/api/Group.cxx
source/core/api/FormatCondition.cxx
source/core/api/Functions.cxx
source/core/api/ReportEngineJFree.cxx
source/core/api/FormattedField.cxx
source/core/api/Tools.cxx
source/core/api/Section.cxx
source/core/api/Shape.cxx
source/core/api/services.cxx
source/core/api/Function.cxx
source/core/api/ReportVisitor.cxx
source/core/api/ImageControl.cxx
source/core/api/FixedText.cxx
source/core/api/ReportControlModel.cxx
source/core/api/FixedLine.cxx
source/core/api/ReportComponent.cxx
source/core/api/Groups.cxx
source/core/resource/strings.src
source/core/resource/core_resource.cxx
source/filter/xml/xmlCell.hxx
source/filter/xml/xmlComponent.cxx
source/filter/xml/xmlColumn.hxx
source/filter/xml/xmlExportDocumentHandler.hxx
source/filter/xml/xmlCondPrtExpr.hxx
source/filter/xml/xmlControlProperty.cxx
source/filter/xml/xmlFunction.hxx
source/filter/xml/xmlStyleImport.hxx
source/filter/xml/xmlReportElement.hxx
source/filter/xml/xmlRow.cxx
source/filter/xml/xmlMasterFields.hxx
source/filter/xml/xmlReport.hxx
source/filter/xml/xmlGroup.cxx
source/filter/xml/xmlExport.cxx
source/filter/xml/xmlSubDocument.cxx
source/filter/xml/xmlAutoStyle.hxx
source/filter/xml/xmlTable.hxx
source/filter/xml/xmlFormattedField.cxx
source/filter/xml/xmlSection.hxx
source/filter/xml/xmlFixedContent.hxx
source/filter/xml/xmlFormatCondition.cxx
source/filter/xml/rptxml.component
source/filter/xml/xmlImage.hxx
source/filter/xml/dbloader2.cxx
source/filter/xml/xmlHelper.hxx
source/filter/xml/xmlPropertyHandler.hxx
source/filter/xml/xmlImportDocumentHandler.cxx
source/filter/xml/xmlReportElementBase.hxx
source/filter/xml/xmlfilter.hxx
source/filter/xml/xmlExport.hxx
source/filter/xml/xmlGroup.hxx
source/filter/xml/xmlSubDocument.hxx
source/filter/xml/xmlTable.cxx
source/filter/xml/xmlFormattedField.hxx
source/filter/xml/xmlAutoStyle.cxx
source/filter/xml/xmlSection.cxx
source/filter/xml/xmlFixedContent.cxx
source/filter/xml/xmlFormatCondition.hxx
source/filter/xml/xmlImage.cxx
source/filter/xml/dbloader2.hxx
source/filter/xml/xmlHelper.cxx
source/filter/xml/xmlImportDocumentHandler.hxx
source/filter/xml/xmlPropertyHandler.cxx
source/filter/xml/xmlReportElementBase.cxx
source/filter/xml/xmlfilter.cxx
source/filter/xml/xmlCell.cxx
source/filter/xml/xmlComponent.hxx
source/filter/xml/xmlColumn.cxx
source/filter/xml/xmlExportDocumentHandler.cxx
source/filter/xml/xmlCondPrtExpr.cxx
source/filter/xml/xmlservices.cxx
source/filter/xml/xmlControlProperty.hxx
source/filter/xml/xmlFunction.cxx
source/filter/xml/xmlEnums.hxx
source/filter/xml/xmlStyleImport.cxx
source/filter/xml/xmlReportElement.cxx
source/filter/xml/xmlMasterFields.cxx
source/filter/xml/xmlReport.cxx
qa/complex/reportdesign/ReportDesignerTest.java
qa/complex/reportdesign/test_documents/RPTWriterTests.odb
qa/complex/reportdesign/test_documents/RPTCalcTests.odb
qa/complex/reportdesign/runner.props
qa/complex/reportdesign/TestDocument.java
qa/complex/reportdesign/FileURL.java
qa/complex/reportdesign/mysql-connector-exists.pl
AllLangResTarget_rpt.mk
README
uiconfig/dbreport/ui/backgrounddialog.ui
uiconfig/dbreport/ui/conditionwin.ui
uiconfig/dbreport/ui/floatingsort.ui
uiconfig/dbreport/ui/pagedialog.ui
uiconfig/dbreport/ui/datetimedialog.ui
uiconfig/dbreport/ui/chardialog.ui
uiconfig/dbreport/ui/floatingnavigator.ui
uiconfig/dbreport/ui/condformatdialog.ui
uiconfig/dbreport/ui/pagenumberdialog.ui
uiconfig/dbreport/menubar/menubar.xml
uiconfig/dbreport/statusbar/statusbar.xml
uiconfig/dbreport/toolbar/arrowshapes.xml
uiconfig/dbreport/toolbar/resizebar.xml
uiconfig/dbreport/toolbar/alignmentbar.xml
uiconfig/dbreport/toolbar/starshapes.xml
uiconfig/dbreport/toolbar/flowchartshapes.xml
uiconfig/dbreport/toolbar/Formatting.xml
uiconfig/dbreport/toolbar/drawbar.xml
uiconfig/dbreport/toolbar/sectionshrinkbar.xml
uiconfig/dbreport/toolbar/calloutshapes.xml
uiconfig/dbreport/toolbar/basicshapes.xml
uiconfig/dbreport/toolbar/reportcontrols.xml
uiconfig/dbreport/toolbar/toolbar.xml
uiconfig/dbreport/toolbar/symbolshapes.xml
uiconfig/dbreport/toolbar/sectionalignmentbar.xml
Library_rptxml.mk
Library_rpt.mk
JunitTest_reportdesign_complex.mk
Library_rptui.mk
