UIConfig_sfx.mk
CppunitTest_sfx2_metadatable.mk
inc/pch/precompiled_sfx.cxx
inc/pch/precompiled_sfx.hxx
inc/sidebar/PopupContainer.hxx
inc/sidebar/ContextChangeBroadcaster.hxx
inc/bluthsndapi.hxx
inc/fwkhelper.hxx
inc/configmgr.hxx
inc/arrdecl.hxx
inc/sorgitm.hxx
inc/inettbc.hxx
inc/sfxbasecontroller_internal.hxx
inc/filedlghelper.hrc
inc/bitset.hxx
inc/srchdlg.hxx
JunitTest_sfx2_complex.mk
util/sfx.component
sdi/frmslots.sdi
sdi/docslots.sdi
sdi/appslots.sdi
sdi/sfxslots.sdi
sdi/sfxitems.sdi
sdi/sfx.sdi
sdi/viwslots.sdi
source/sidebar/SidebarDockingWindow.hxx
source/sidebar/DeckTitleBar.cxx
source/sidebar/SidebarToolBox.cxx
source/sidebar/ControlFactory.cxx
source/sidebar/Sidebar.hrc
source/sidebar/ControllerFactory.cxx
source/sidebar/ResourceManager.cxx
source/sidebar/TabBar.hxx
source/sidebar/Accessible.hxx
source/sidebar/CommandInfoProvider.cxx
source/sidebar/ContextChangeBroadcaster.cxx
source/sidebar/PanelDescriptor.cxx
source/sidebar/SidebarController.hxx
source/sidebar/MenuButton.cxx
source/sidebar/ControllerItem.cxx
source/sidebar/Panel.hxx
source/sidebar/Tools.cxx
source/sidebar/TabItem.cxx
source/sidebar/DeckLayouter.cxx
source/sidebar/TitleBar.cxx
source/sidebar/AsynchronousCall.cxx
source/sidebar/Sidebar.src
source/sidebar/AccessibleTitleBar.hxx
source/sidebar/SidebarResource.hxx
source/sidebar/Paint.cxx
source/sidebar/Deck.hxx
source/sidebar/FocusManager.hxx
source/sidebar/PanelTitleBar.hxx
source/sidebar/Context.hxx
source/sidebar/ContextList.cxx
source/sidebar/DeckDescriptor.hxx
source/sidebar/DrawHelper.hxx
source/sidebar/Panel.cxx
source/sidebar/ToolBox.hxx
source/sidebar/SidebarChildWindow.cxx
source/sidebar/TabItem.hxx
source/sidebar/DeckLayouter.hxx
source/sidebar/TitleBar.hxx
source/sidebar/AsynchronousCall.hxx
source/sidebar/PopupContainer.cxx
source/sidebar/AccessibleTitleBar.cxx
source/sidebar/Deck.cxx
source/sidebar/Paint.hxx
source/sidebar/PanelTitleBar.cxx
source/sidebar/FocusManager.cxx
source/sidebar/Context.cxx
source/sidebar/ContextList.hxx
source/sidebar/DeckDescriptor.cxx
source/sidebar/DrawHelper.cxx
source/sidebar/ILayoutableWindow.cxx
source/sidebar/SidebarDockingWindow.cxx
source/sidebar/DeckTitleBar.hxx
source/sidebar/Sidebar.cxx
source/sidebar/IContextChangeReceiver.cxx
source/sidebar/ResourceManager.hxx
source/sidebar/SidebarPanelBase.cxx
source/sidebar/TabBar.cxx
source/sidebar/Accessible.cxx
source/sidebar/PanelDescriptor.hxx
source/sidebar/EnumContext.cxx
source/sidebar/SidebarController.cxx
source/sidebar/MenuButton.hxx
source/notify/hintpost.cxx
source/inc/macroloader.hxx
source/inc/nochaos.hxx
source/inc/eventsupplier.hxx
source/inc/workwin.hxx
source/inc/slotserv.hxx
source/inc/appbaslib.hxx
source/inc/itemdel.hxx
source/inc/openflag.hxx
source/inc/helpid.hrc
source/inc/sfxurlrelocator.hxx
source/inc/fltoptint.hxx
source/inc/splitwin.hxx
source/inc/helper.hxx
source/inc/openuriexternally.hxx
source/inc/templatesearchviewitem.hxx
source/inc/appopen.hxx
source/inc/sfxpicklist.hxx
source/inc/documentfontsdialog.hxx
source/inc/sfxtypes.hxx
source/inc/recfloat.hxx
source/inc/virtmenu.hxx
source/inc/partwnd.hxx
source/inc/sfxlocal.hrc
source/inc/inputdlg.hxx
source/inc/templatesearchview.hxx
source/inc/statcach.hxx
source/inc/tplcitem.hxx
source/inc/appdata.hxx
source/inc/versdlg.hxx
source/inc/docundomanager.hxx
source/inc/templdgi.hxx
source/inc/preview.hxx
source/statbar/stbitem.cxx
source/config/evntconf.cxx
source/appl/imestatuswindow.hxx
source/appl/sfx.src
source/appl/appdispatchprovider.cxx
source/appl/impldde.hxx
source/appl/xpackcreator.cxx
source/appl/shutdownicon.cxx.orig
source/appl/appdata.cxx
source/appl/childwin.cxx
source/appl/helpdispatch.cxx
source/appl/panelist.hxx
source/appl/shutdowniconaqua.mm.orig
source/appl/helpinterceptor.hxx
source/appl/appbas.cxx
source/appl/appreg.cxx
source/appl/fileobj.cxx
source/appl/appmisc.cxx
source/appl/linksrc.cxx
source/appl/appcfg.cxx
source/appl/lnkbase2.cxx
source/appl/shutdowniconunx.cxx
source/appl/helpinterceptor.cxx
source/appl/newhelp.src
source/appl/appquit.cxx
source/appl/fileobj.hxx
source/appl/appchild.cxx
source/appl/imagemgr.cxx
source/appl/app.src
source/appl/linkmgr2.cxx
source/appl/appmain.cxx
source/appl/openuriexternally.cxx
source/appl/module.cxx
source/appl/imestatuswindow.cxx
source/appl/macroloader.cxx
source/appl/app.hrc
source/appl/impldde.cxx
source/appl/appdde.cxx
source/appl/workwin.cxx
source/appl/shutdowniconaqua.mm
source/appl/appbaslib.cxx
source/appl/shutdowniconw32.cxx
source/appl/fwkhelper.cxx
source/appl/newhelp.hrc
source/appl/newhelp.hxx
source/appl/helpdispatch.hxx
source/appl/opengrf.cxx
source/explorer/nochaos.cxx
source/dialog/partwnd.cxx
source/dialog/templdlg.src
source/dialog/inputdlg.cxx
source/dialog/dialog.src
source/dialog/dinfdlg.src
source/dialog/styfitem.cxx
source/dialog/newstyle.src
source/dialog/printopt.cxx
source/dialog/tplcitem.cxx
source/dialog/itemconnect.cxx
source/dialog/versdlg.cxx
source/dialog/filtergrouping.cxx
source/dialog/sfxdlg.cxx
source/dialog/mgetempl.cxx
source/dialog/srchdlg.cxx
source/dialog/dockwin.cxx
source/dialog/dialoghelper.cxx
source/dialog/navigat.cxx
source/dialog/titledockwin.src
source/dialog/dinfedt.cxx
source/dialog/securitypage.cxx
source/dialog/templdlg.hrc
source/dialog/taskpane.cxx
source/dialog/documentfontsdialog.cxx
source/dialog/recfloat.cxx
source/dialog/dialog.hrc
source/dialog/dinfdlg.hrc
source/dialog/versdlg.src
source/dialog/backingwindow.hxx
source/dialog/checkin.cxx
source/dialog/splitwin.cxx
source/dialog/templateinfodlg.cxx
source/dialog/filedlghelper.src
source/dialog/templdlg.cxx
source/dialog/tplpitem.cxx
source/dialog/mailmodel.cxx
source/dialog/newstyle.cxx
source/dialog/styledlg.cxx
source/dialog/backingcomp.cxx
source/dialog/taskpane.src
source/dialog/basedlgs.cxx
source/dialog/recfloat.src
source/dialog/bluthsnd.cxx
source/dialog/passwd.cxx
source/dialog/titledockwin.cxx
source/dialog/tabdlg.cxx
source/dialog/filedlgimpl.hxx
source/dialog/filtergrouping.hxx
source/inet/inettbc.cxx
source/bastyp/bitset.cxx
source/bastyp/fltfnc.src
source/bastyp/fltlst.hxx
source/bastyp/progress.cxx
source/bastyp/helper.cxx
source/bastyp/bastyp.src
source/bastyp/fltfnc.cxx
source/bastyp/dummytypes.cxx
source/bastyp/bastyp.hrc
source/bastyp/frmhtml.cxx
source/bastyp/mieclip.cxx
source/bastyp/sfxresid.cxx
source/bastyp/fltlst.cxx
source/bastyp/frmhtmlw.cxx
source/bastyp/sfxhtml.cxx
source/toolbox/imgmgr.cxx
source/menu/menu.src
source/menu/thessubmenu.cxx
source/menu/mnumgr.cxx
source/menu/menu.hrc
source/menu/virtmenu.cxx
source/menu/mnuitem.cxx
source/menu/thessubmenu.hxx
source/view/viewimp.hxx
source/view/view.src
source/view/sfxbasecontroller.cxx
source/view/view.hrc
source/view/viewfac.cxx
source/view/userinputinterception.cxx
source/view/impframe.hxx
source/view/frame.cxx
source/doc/doctemplates.cxx
source/doc/objitem.cxx
source/doc/docfac.cxx
source/doc/sfxacldetect.hxx
source/doc/graphhelp.src
source/doc/templatelocnames.src
source/doc/doctempl.cxx
source/doc/docstoragemodifylistener.cxx
source/doc/docundomanager.cxx
source/doc/querytemplate.hxx
source/doc/oleprops.hxx
source/doc/DocumentMetadataAccess.cxx
source/doc/sfxmodelfactory.cxx
source/doc/frmdescr.cxx
source/doc/objstor.hxx
source/doc/syspathw32.cxx
source/doc/sfxbasemodel.cxx.orig
source/doc/plugin.cxx
source/doc/doctemplateslocal.cxx
source/doc/docinf.cxx
source/doc/graphhelp.hxx
source/doc/syspath.cxx
source/doc/printhelper.cxx
source/doc/doctempl.src
source/doc/objembed.cxx
source/doc/new.cxx
source/doc/ownsubfilterservice.cxx
source/doc/docfilt.cxx
source/doc/QuerySaveDocument.cxx
source/doc/zoomitem.cxx
source/doc/doctemplateslocal.hxx
source/doc/docinsert.cxx
source/doc/graphhelp.cxx
source/doc/doc.src
source/doc/syspath.hxx
source/doc/printhelper.hxx
source/doc/iframe.cxx
source/doc/doc.hrc
source/doc/sfxacldetect.cxx
source/doc/objcont.cxx
source/doc/docmacromode.cxx
source/doc/Metadatable.cxx
source/doc/templatedlg.cxx
source/doc/querytemplate.cxx
source/doc/oleprops.cxx
source/control/templateviewitem.cxx
source/control/thumbnailview.cxx
source/control/templatesearchview.cxx
source/control/msg.cxx
source/control/statcach.cxx
source/control/templatecontaineritem.cxx
source/control/thumbnailviewacc.hxx
source/control/dispatch.cxx
source/control/templateremoteview.cxx
source/control/templateabstractview.cxx
source/control/templatelocalview.cxx
source/control/recentdocsview.cxx
source/control/msgpool.cxx
source/control/minfitem.cxx
source/control/sorgitm.cxx
source/control/templateview.hrc
source/control/sfxstatuslistener.cxx
source/control/templatedefaultview.cxx
source/control/thumbnailviewitem.cxx
source/control/request.cxx
source/control/ctrlitem.cxx
source/control/querystatus.cxx
source/control/recentdocsviewitem.cxx
source/control/objface.cxx
source/control/thumbnailviewacc.cxx
source/control/templateview.src
source/control/itemdel.cxx
Library_qstart_gtk.mk
qa/complex/sfx2/tools/TestDocument.java
qa/complex/sfx2/tools/DialogThread.java
qa/complex/sfx2/tools/WriterHelper.java
qa/complex/sfx2/testdocuments/TESTRDFA.odt
qa/complex/sfx2/testdocuments/CUSTOM.odt
qa/complex/sfx2/testdocuments/empty.rdf
qa/complex/sfx2/testdocuments/TEST.odt
qa/complex/sfx2/undo/WriterDocumentTest.java
qa/complex/sfx2/undo/ImpressDocumentTest.java
qa/complex/sfx2/undo/DocumentTest.java
qa/complex/sfx2/undo/DrawingOrPresentationDocumentTest.java
qa/complex/sfx2/undo/DrawDocumentTest.java
qa/complex/sfx2/undo/DocumentTestBase.java
qa/complex/sfx2/undo/CalcDocumentTest.java
qa/complex/sfx2/undo/ChartDocumentTest.java
qa/complex/sfx2/DocumentProperties.java
qa/complex/sfx2/GlobalEventBroadcaster.java
qa/complex/sfx2/DocumentMetadataAccess.java
qa/complex/sfx2/JUnitBasedTest.java
qa/complex/sfx2/DocumentEvents.java
qa/complex/sfx2/UndoManager.java
qa/unoapi/testdocuments/report2.stw
qa/unoapi/testdocuments/report.stw
qa/unoapi/testdocuments/SfxStandaloneDocInfoObject.sdw
qa/unoapi/sfx.sce
qa/unoapi/knownissues.xcl
qa/cppunit/test_metadatable.cxx
README
uiconfig/ui/checkin.ui
uiconfig/ui/templateinfodialog.ui
uiconfig/ui/bookmarkdialog.ui
uiconfig/ui/versioncommentdialog.ui
uiconfig/ui/securityinfopage.ui
uiconfig/ui/editdurationdialog.ui
uiconfig/ui/searchdialog.ui
uiconfig/ui/querysavedialog.ui
uiconfig/ui/custominfopage.ui
uiconfig/ui/managestylepage.ui
uiconfig/ui/documentfontspage.ui
uiconfig/ui/helpindexpage.ui
uiconfig/ui/loadtemplatedialog.ui
uiconfig/ui/inputdialog.ui
uiconfig/ui/documentpropertiesdialog.ui
uiconfig/ui/cmisline.ui
uiconfig/ui/documentinfopage.ui
uiconfig/ui/cmisinfopage.ui
uiconfig/ui/alienwarndialog.ui
uiconfig/ui/floatingrecord.ui
uiconfig/ui/helpbookmarkpage.ui
uiconfig/ui/helpcontentpage.ui
uiconfig/ui/printeroptionsdialog.ui
uiconfig/ui/templatedlg.ui
uiconfig/ui/newstyle.ui
uiconfig/ui/versionscmis.ui
uiconfig/ui/versionsofdialog.ui
uiconfig/ui/descriptioninfopage.ui
uiconfig/ui/password.ui
uiconfig/ui/errorfindemaildialog.ui
uiconfig/ui/linkeditdialog.ui
uiconfig/ui/helpsearchpage.ui
uiconfig/ui/optprintpage.ui
uiconfig/ui/singletabdialog.ui
uiconfig/ui/helpcontrol.ui
uiconfig/ui/startcenter.ui
JunitTest_sfx2_unoapi.mk
doc/sfx2doc0001.svg
doc/sfx2doc.html
Module_sfx2.mk
