Package_customshapes.mk
inc/pch/precompiled_oox.hxx
inc/pch/precompiled_oox.cxx
inc/drawingml/textbodyproperties.hxx
inc/drawingml/customshapegeometry.hxx
inc/drawingml/graphicproperties.hxx
inc/drawingml/clrschemecontext.hxx
inc/drawingml/textfieldcontext.hxx
inc/drawingml/shape3dproperties.hxx
inc/drawingml/textbodypropertiescontext.hxx
inc/drawingml/objectdefaultcontext.hxx
inc/drawingml/scene3dcontext.hxx
inc/drawingml/diagram/diagram.hxx
inc/drawingml/textparagraphpropertiescontext.hxx
inc/drawingml/textfield.hxx
inc/drawingml/chart/titleconverter.hxx
inc/drawingml/chart/chartdrawingfragment.hxx
inc/drawingml/chart/converterbase.hxx
inc/drawingml/chart/typegroupcontext.hxx
inc/drawingml/chart/datasourcecontext.hxx
inc/drawingml/chart/axismodel.hxx
inc/drawingml/chart/seriesconverter.hxx
inc/drawingml/chart/objectformatter.hxx
inc/drawingml/chart/seriesmodel.hxx
inc/drawingml/chart/datasourceconverter.hxx
inc/drawingml/chart/chartspaceconverter.hxx
inc/drawingml/chart/plotareaconverter.hxx
inc/drawingml/chart/plotareamodel.hxx
inc/drawingml/chart/typegroupconverter.hxx
inc/drawingml/chart/chartspacemodel.hxx
inc/drawingml/chart/chartspacefragment.hxx
inc/drawingml/chart/chartcontextbase.hxx
inc/drawingml/chart/plotareacontext.hxx
inc/drawingml/chart/seriescontext.hxx
inc/drawingml/chart/titlecontext.hxx
inc/drawingml/chart/typegroupmodel.hxx
inc/drawingml/chart/axisconverter.hxx
inc/drawingml/chart/axiscontext.hxx
inc/drawingml/chart/titlemodel.hxx
inc/drawingml/textspacing.hxx
inc/drawingml/transform2dcontext.hxx
inc/drawingml/shapepropertiescontext.hxx
inc/drawingml/textbody.hxx
inc/drawingml/textbodycontext.hxx
inc/drawingml/spdefcontext.hxx
inc/drawingml/colorchoicecontext.hxx
inc/drawingml/textparagraph.hxx
inc/drawingml/linepropertiescontext.hxx
inc/drawingml/textcharacterproperties.hxx
inc/drawingml/table/tablestylelist.hxx
inc/drawingml/table/tablerowcontext.hxx
inc/drawingml/table/tablebackgroundstylecontext.hxx
inc/drawingml/table/tablepartstylecontext.hxx
inc/drawingml/table/tablestylecellstylecontext.hxx
inc/drawingml/table/tablestylelistfragmenthandler.hxx
inc/drawingml/table/tablestyletextstylecontext.hxx
inc/drawingml/table/tablecellcontext.hxx
inc/drawingml/table/tablerow.hxx
inc/drawingml/table/tableproperties.hxx
inc/drawingml/table/tablestylepart.hxx
inc/drawingml/table/tablecontext.hxx
inc/drawingml/table/tablestylecontext.hxx
inc/drawingml/table/tablecell.hxx
inc/drawingml/table/tablestyle.hxx
inc/drawingml/textrun.hxx
inc/drawingml/embeddedwavaudiofile.hxx
inc/drawingml/textfont.hxx
inc/drawingml/textparagraphproperties.hxx
inc/drawingml/themeelementscontext.hxx
inc/drawingml/ThemeOverrideFragmentHandler.hxx
inc/drawingml/texteffectscontext.hxx
inc/drawingml/textcharacterpropertiescontext.hxx
inc/drawingml/customshapeproperties.hxx
inc/drawingml/guidcontext.hxx
inc/drawingml/textliststyle.hxx
inc/drawingml/fillpropertiesgroupcontext.hxx
inc/drawingml/textliststylecontext.hxx
inc/drawingml/shapestylecontext.hxx
inc/services.hxx
Package_generated.mk
util/oox.component
CustomTarget_generated.mk
source/token/properties.txt
source/token/tokenmap.cxx
source/token/properties.pl
source/token/namespaces-strict.txt
source/token/namespacemap.cxx
source/token/properties.hxx.tail
source/token/tokens.txt
source/token/namespaces.hxx.tail
source/token/tokens.hxx.head
source/token/tokens.pl
source/token/tokens.hxx.tail
source/token/namespaces.hxx.head
source/token/parsexsd.pl
source/token/properties.hxx.head
source/token/propertynames.cxx
source/token/namespaces.txt
source/token/namespaces.pl
source/crypto/AgileEngine.cxx
source/crypto/CryptTools.cxx
source/crypto/DocumentDecryption.cxx
source/crypto/Standard2007Engine.cxx
source/crypto/DocumentEncryption.cxx
source/shape/ShapeDrawingFragmentHandler.cxx
source/shape/WpgContext.hxx
source/shape/WpsContext.hxx
source/shape/ShapeContextHandler.cxx
source/shape/ShapeFilterBase.hxx
source/shape/LockedCanvasContext.cxx
source/shape/WpsContext.cxx
source/shape/ShapeContextHandler.hxx
source/shape/ShapeFilterBase.cxx
source/shape/LockedCanvasContext.hxx
source/shape/ShapeDrawingFragmentHandler.hxx
source/shape/WpgContext.cxx
source/dump/oledumper.cxx
source/dump/biffdumper.ini
source/dump/dumperbase.ini
source/dump/pptxdumper.cxx
source/dump/dffdumper.cxx
source/dump/dumperbase.cxx
source/dump/dffdumper.ini
source/dump/pptxdumper.ini
source/dump/xlsbdumper.ini
source/dump/oledumper.ini
source/mathml/import.cxx
source/mathml/export.cxx
source/mathml/importutils.cxx
source/core/filterbase.cxx
source/core/recordparser.cxx
source/core/relations.cxx
source/core/filterdetect.cxx
source/core/binarycodec.cxx
source/core/services.cxx
source/core/fastparser.cxx
source/core/contexthandler2.cxx
source/core/xmlfilterbase.cxx
source/core/fragmenthandler2.cxx
source/core/contexthandler.cxx
source/core/fasttokenhandler.cxx
source/core/fragmenthandler.cxx
source/core/relationshandler.cxx
source/vml/vmlshapecontext.cxx
source/vml/vmldrawing.cxx
source/vml/vmlshapecontainer.cxx
source/vml/vmldrawingfragment.cxx
source/vml/vmltextbox.cxx
source/vml/vmlinputstream.cxx
source/vml/vmltextboxcontext.cxx
source/vml/vmlformatting.cxx
source/vml/vmlshape.cxx
source/ole/vbahelper.cxx
source/ole/vbainputstream.cxx
source/ole/olehelper.cxx
source/ole/axbinaryreader.cxx
source/ole/vbamodule.cxx
source/ole/axcontrol.cxx
source/ole/axbinarywriter.cxx
source/ole/vbacontrol.cxx
source/ole/vbaproject.cxx
source/ole/axfontdata.cxx
source/ole/olestorage.cxx
source/ole/axcontrolfragment.cxx
source/ole/oleobjecthelper.cxx
source/docprop/docprophandler.hxx
source/docprop/ooxmldocpropimport.cxx
source/docprop/ooxmldocpropimport.hxx
source/docprop/docprophandler.cxx
source/drawingml/customshapepresetdata.cxx
source/drawingml/effectpropertiescontext.hxx
source/drawingml/guidcontext.cxx
source/drawingml/textcharacterpropertiescontext.cxx
source/drawingml/customshapeproperties.cxx
source/drawingml/textliststyle.cxx
source/drawingml/fillproperties.cxx
source/drawingml/textliststylecontext.cxx
source/drawingml/shapegroupcontext.cxx
source/drawingml/diagram/diagram.hxx
source/drawingml/diagram/constraintlistcontext.cxx
source/drawingml/diagram/datamodelcontext.cxx
source/drawingml/diagram/diagramlayoutatoms.cxx
source/drawingml/diagram/layoutnodecontext.hxx
source/drawingml/diagram/diagramdefinitioncontext.hxx
source/drawingml/diagram/diagramfragmenthandler.hxx
source/drawingml/diagram/diagramdefinitioncontext.cxx
source/drawingml/diagram/diagramfragmenthandler.cxx
source/drawingml/diagram/diagram.cxx
source/drawingml/diagram/constraintlistcontext.hxx
source/drawingml/diagram/datamodelcontext.hxx
source/drawingml/diagram/diagramlayoutatoms.hxx
source/drawingml/diagram/layoutnodecontext.cxx
source/drawingml/shapestylecontext.cxx
source/drawingml/lineproperties.cxx
source/drawingml/colorchoicecontext.cxx
source/drawingml/textparagraph.cxx
source/drawingml/texttabstoplistcontext.cxx
source/drawingml/textcharacterproperties.cxx
source/drawingml/linepropertiescontext.cxx
source/drawingml/connectorshapecontext.cxx
source/drawingml/chart/modelbase.cxx
source/drawingml/chart/typegroupmodel.cxx
source/drawingml/chart/axisconverter.cxx
source/drawingml/chart/axiscontext.cxx
source/drawingml/chart/titlemodel.cxx
source/drawingml/chart/typegroupconverter.cxx
source/drawingml/chart/chartspacemodel.cxx
source/drawingml/chart/chartspacefragment.cxx
source/drawingml/chart/chartcontextbase.cxx
source/drawingml/chart/plotareacontext.cxx
source/drawingml/chart/titlecontext.cxx
source/drawingml/chart/seriescontext.cxx
source/drawingml/chart/seriesmodel.cxx
source/drawingml/chart/datasourceconverter.cxx
source/drawingml/chart/chartspaceconverter.cxx
source/drawingml/chart/plotareaconverter.cxx
source/drawingml/chart/chartconverter.cxx
source/drawingml/chart/datasourcemodel.cxx
source/drawingml/chart/plotareamodel.cxx
source/drawingml/chart/titleconverter.cxx
source/drawingml/chart/chartdrawingfragment.cxx
source/drawingml/chart/converterbase.cxx
source/drawingml/chart/typegroupcontext.cxx
source/drawingml/chart/axismodel.cxx
source/drawingml/chart/datasourcecontext.cxx
source/drawingml/chart/seriesconverter.cxx
source/drawingml/chart/objectformatter.cxx
source/drawingml/textrun.cxx
source/drawingml/fillproperties.cxx.orig
source/drawingml/effectproperties.hxx
source/drawingml/embeddedwavaudiofile.cxx
source/drawingml/customshapes/cshape.pptx
source/drawingml/customshapes/generatePresetsData.pl
source/drawingml/customshapes/README
source/drawingml/customshapes/generatePresetsPPTXs.pl
source/drawingml/customshapes/presetShapeDefinitions.xml
source/drawingml/customshapes/oox-drawingml-cs-presets
source/drawingml/textfont.cxx
source/drawingml/textparagraphproperties.cxx
source/drawingml/textspacingcontext.hxx
source/drawingml/themeelementscontext.cxx
source/drawingml/ThemeOverrideFragmentHandler.cxx
source/drawingml/texteffectscontext.cxx
source/drawingml/hyperlinkcontext.cxx
source/drawingml/theme.cxx
source/drawingml/color.cxx
source/drawingml/shapecontext.cxx
source/drawingml/texttabstoplistcontext.hxx
source/drawingml/textparagraphpropertiescontext.cxx
source/drawingml/textfield.cxx
source/drawingml/table/tablestylecontext.cxx
source/drawingml/table/tablecell.cxx
source/drawingml/table/tablestyle.cxx
source/drawingml/table/tablestyletextstylecontext.cxx
source/drawingml/table/tablerow.cxx
source/drawingml/table/tablecellcontext.cxx
source/drawingml/table/tableproperties.cxx
source/drawingml/table/tablestylepart.cxx
source/drawingml/table/tablecontext.cxx
source/drawingml/table/tablepartstylecontext.cxx
source/drawingml/table/tablestylecellstylecontext.cxx
source/drawingml/table/tablestylelistfragmenthandler.cxx
source/drawingml/table/tablestylelist.cxx
source/drawingml/table/tablerowcontext.cxx
source/drawingml/table/tablebackgroundstylecontext.cxx
source/drawingml/effectproperties.cxx
source/drawingml/themefragmenthandler.cxx
source/drawingml/textspacingcontext.cxx
source/drawingml/shapepropertiescontext.cxx
source/drawingml/transform2dcontext.cxx
source/drawingml/textbody.cxx
source/drawingml/hyperlinkcontext.hxx
source/drawingml/textbodycontext.cxx
source/drawingml/spdefcontext.cxx
source/drawingml/shapepropertymap.cxx
source/drawingml/customshapegeometry.cxx
source/drawingml/textbodyproperties.cxx
source/drawingml/textfieldcontext.cxx
source/drawingml/clrschemecontext.cxx
source/drawingml/effectpropertiescontext.cxx
source/drawingml/drawingmltypes.cxx
source/drawingml/shape3dproperties.cxx
source/drawingml/textbodypropertiescontext.cxx
source/drawingml/graphicshapecontext.cxx
source/drawingml/objectdefaultcontext.cxx
source/drawingml/scene3dcontext.cxx
source/drawingml/clrscheme.cxx
source/ppt/animationtypes.cxx
source/ppt/timeanimvaluecontext.hxx
source/ppt/animationspersist.cxx
source/ppt/slidetransitioncontext.cxx
source/ppt/buildlistcontext.cxx
source/ppt/conditioncontext.hxx
source/ppt/commontimenodecontext.cxx
source/ppt/pptfilterhelpers.cxx
source/ppt/pptshapecontext.cxx
source/ppt/backgroundproperties.cxx
source/ppt/timetargetelementcontext.cxx
source/ppt/commonbehaviorcontext.hxx
source/ppt/animvariantcontext.cxx
source/ppt/slidefragmenthandler.cxx
source/ppt/headerfootercontext.hxx
source/ppt/pptgraphicshapecontext.cxx
source/ppt/pptimport.cxx
source/ppt/dgmimport.cxx
source/ppt/presentationfragmenthandler.cxx
source/ppt/comments.cxx
source/ppt/slidemastertextstylescontext.cxx
source/ppt/extdrawingfragmenthandler.cxx
source/ppt/commonbehaviorcontext.cxx
source/ppt/animvariantcontext.hxx
source/ppt/pptshapepropertiescontext.cxx
source/ppt/headerfootercontext.cxx
source/ppt/pptshape.cxx
source/ppt/slidepersist.cxx
source/ppt/pptshapegroupcontext.cxx
source/ppt/soundactioncontext.cxx
source/ppt/slidetransition.cxx
source/ppt/timenodelistcontext.cxx
source/ppt/extdrawingfragmenthandler.hxx
source/ppt/animationtypes.hxx
source/ppt/dgmlayout.cxx
source/ppt/timeanimvaluecontext.cxx
source/ppt/buildlistcontext.hxx
source/ppt/conditioncontext.cxx
source/ppt/timenode.cxx
source/ppt/commontimenodecontext.hxx
source/ppt/customshowlistcontext.cxx
source/ppt/pptfilterhelpers.hxx
source/ppt/slidetimingcontext.cxx
source/ppt/timetargetelementcontext.hxx
source/ppt/layoutfragmenthandler.cxx
source/export/shapes.cxx
source/export/chartexport.cxx
source/export/ColorPropertySet.cxx
source/export/ooxml-export-notes.txt
source/export/README
source/export/ColorPropertySet.hxx
source/export/presetTextWarpDefinitions.xml
source/export/vmlexport.cxx
source/export/preset-definitions-to-shape-types.pl
source/helper/graphichelper.cxx
source/helper/binaryinputstream.cxx
source/helper/grabbagstack.cxx
source/helper/propertyset.cxx
source/helper/modelobjecthelper.cxx
source/helper/attributelist.cxx
source/helper/textinputstream.cxx
source/helper/progressbar.cxx
source/helper/zipstorage.cxx
source/helper/containerhelper.cxx
source/helper/propertymap.cxx
source/helper/storagebase.cxx
source/helper/binarystreambase.cxx
source/helper/binaryoutputstream.cxx
qa/token/tokenmap-test.cxx
Library_oox.mk
README
Module_oox.mk
CppunitTest_oox_tokenmap.mk
