Library_embobj.mk
Library_emboleobj.mk
Module_embeddedobj.mk
README
qa/embedding/EmbeddingTest.java
qa/embedding/EmbeddingUnitTest.java
qa/embedding/Test01.java
qa/embedding/TestHelper.java
qa/embedding/makefile.mk
source/commonembedding/embedobj.hxx
source/commonembedding/inplaceobj.cxx
source/commonembedding/miscobj.cxx
source/commonembedding/persistence.cxx
source/commonembedding/persistence.hxx
source/commonembedding/register.cxx
source/commonembedding/visobj.cxx
source/commonembedding/visobj.cxx.orig
source/commonembedding/xfactory.cxx
source/commonembedding/xfactory.hxx
source/general/docholder.cxx
source/general/dummyobject.cxx
source/general/intercept.cxx
source/general/xcreator.cxx
source/inc/closepreventer.hxx
source/inc/docholder.hxx
source/inc/dummyobject.hxx
source/inc/intercept.hxx
source/inc/oleembobj.hxx
source/inc/targetstatecontrol.hxx
source/inc/xcreator.hxx
source/msole/advisesink.cxx
source/msole/advisesink.hxx
source/msole/closepreventer.cxx
source/msole/emboleobj.component
source/msole/emboleobj.windows.component
source/msole/graphconvert.cxx
source/msole/mtnotification.hxx
source/msole/olecomponent.cxx
source/msole/olecomponent.hxx
source/msole/oleembed.cxx
source/msole/olemisc.cxx
source/msole/olepersist.cxx
source/msole/olepersist.hxx
source/msole/oleregister.cxx
source/msole/olevisual.cxx
source/msole/olewrapclient.cxx
source/msole/olewrapclient.hxx
source/msole/ownview.cxx
source/msole/ownview.hxx
source/msole/platform.h
source/msole/xdialogcreator.cxx
source/msole/xdialogcreator.hxx
source/msole/xolefactory.cxx
source/msole/xolefactory.hxx
test/Container1/BitmapPainter.java
test/Container1/EmbedContApp.java
test/Container1/EmbedContFrame.java
test/Container1/JavaWindowPeerFake.java
test/Container1/NativeView.java
test/Container1/PaintThread.java
test/Container1/WindowHelper.java
test/Container1/makefile.mk
test/Container1/nativelib/exports.dxp
test/Container1/nativelib/makefile.mk
test/Container1/nativelib/nativeview.c
test/Container1/nativelib/nativeview.h
test/MainThreadExecutor/exports.dxp
test/MainThreadExecutor/makefile.mk
test/MainThreadExecutor/register.cxx
test/MainThreadExecutor/xexecutor.cxx
test/MainThreadExecutor/xexecutor.hxx
test/mtexecutor/bitmapcreator.cxx
test/mtexecutor/bitmapcreator.hxx
test/mtexecutor/exports.dxp
test/mtexecutor/mainthreadexecutor.cxx
test/mtexecutor/mainthreadexecutor.hxx
test/mtexecutor/makefile.mk
test/mtexecutor/mteregister.cxx
util/embobj.component
