Library_wpftdraw.mk
Module_writerperfect.mk
inc/writerperfect/DocumentHandlerFor.hxx
source/calc/MSWorksCalcImportFilter.hxx
source/calc/MWAWCalcImportFilter.hxx
source/calc/MWAWCalcImportFilter.cxx
source/calc/wpftcalc_genericfilter.cxx
source/calc/DocumentHandlerForOds.hxx
source/calc/MSWorksCalcImportFilter.cxx
source/calc/wpftcalc.component
source/common/DocumentHandler.cxx
source/common/WPXSvInputStream.cxx
source/common/DirectoryStream.cxx
source/writer/WordPerfectImportFilter.cxx
source/writer/MWAWImportFilter.hxx
source/writer/MSWorksImportFilter.cxx
source/writer/AbiWordImportFilter.hxx
source/writer/EBookImportFilter.hxx
source/writer/MSWorksImportFilter.hxx
source/writer/wpftwriter.component
source/writer/AbiWordImportFilter.cxx
source/writer/DocumentHandlerForOdt.hxx
source/writer/EBookImportFilter.cxx
source/writer/WordPerfectImportFilter.hxx
source/writer/MWAWImportFilter.cxx
source/writer/wpftwriter_genericfilter.cxx
source/impress/MWAWPresentationImportFilter.cxx
source/impress/KeynoteImportFilter.hxx
source/impress/ImportFilterBase.cxx
source/impress/ImportFilterBase.hxx
source/impress/wpftimpress_genericfilter.cxx
source/impress/MWAWPresentationImportFilter.hxx
source/impress/wpftimpress.component
source/impress/KeynoteImportFilter.cxx
source/draw/MWAWDrawImportFilter.cxx
source/draw/CMXImportFilter.cxx
source/draw/WPGImportFilter.hxx
source/draw/PageMakerImportFilter.cxx
source/draw/MSPUBImportFilter.hxx
source/draw/FreehandImportFilter.hxx
source/draw/VisioImportFilter.hxx
source/draw/CDRImportFilter.cxx
source/draw/PageMakerImportFilter.hxx
source/draw/wpftdraw.component
source/draw/MSPUBImportFilter.cxx
source/draw/DocumentHandlerForOdg.hxx
source/draw/FreehandImportFilter.cxx
source/draw/VisioImportFilter.cxx
source/draw/wpftdraw_genericfilter.cxx
source/draw/CDRImportFilter.hxx
source/draw/MWAWDrawImportFilter.hxx
source/draw/CMXImportFilter.hxx
source/draw/WPGImportFilter.cxx
Library_wpftcalc.mk
Library_wpftimpress.mk
CppunitTest_writerperfect_stream.mk
qa/unit/WpftImpressFilterTest.cxx
qa/unit/WpftImportTestBase.cxx
qa/unit/WpftCalcFilterTest.cxx
qa/unit/WpftWriterFilterTest.cxx.orig
qa/unit/stream.cxx
qa/unit/WpftDrawFilterTest.cxx
qa/unit/DirectoryStreamTest.cxx
qa/unit/WpftImportTestBase.hxx
qa/unit/data/stream/fdo40686-1.doc
qa/unit/data/stream/test.dir/settings.xml
qa/unit/data/stream/test.dir/content.xml
qa/unit/data/stream/test.dir/meta.xml
qa/unit/data/stream/test.dir/META-INF/manifest.xml
qa/unit/data/stream/test.dir/styles.xml
qa/unit/data/stream/test.dir/mimetype
qa/unit/data/stream/test.dir/manifest.rdf
qa/unit/data/stream/test.dir/Thumbnails/thumbnail.png
qa/unit/data/stream/test.odt
qa/unit/data/calc/libmwaw/indeterminate/GreatWorks_2.0.hqx
qa/unit/data/calc/libmwaw/indeterminate/GreatWorks_DB_1.0.hqx
qa/unit/data/calc/libmwaw/indeterminate/GreatWorks_1.0.hqx
qa/unit/data/calc/libmwaw/indeterminate/GreatWorks_DB_2.0.hqx
qa/unit/data/calc/libmwaw/pass/MicrosoftWorks_2.0.hqx
qa/unit/data/calc/libmwaw/pass/BeagleWorks_DB_1.0.hqx
qa/unit/data/calc/libmwaw/pass/ClarisWorks_DB_4.0.hqx
qa/unit/data/calc/libmwaw/pass/ClarisWorks_DB_5.0.cwk
qa/unit/data/calc/libmwaw/pass/MicrosoftWorks_DB_3.0.hqx
qa/unit/data/calc/libmwaw/pass/ClarisWorks_DB_2.0.hqx
qa/unit/data/calc/libmwaw/pass/WordPerfectWorks_DB_1.0.hqx
qa/unit/data/calc/libmwaw/pass/MicrosoftWorks_3.0.hqx
qa/unit/data/calc/libmwaw/pass/MicrosoftWorks_DB_4.0.wdb
qa/unit/data/calc/libmwaw/pass/MicrosoftWorks_DB_2.0.hqx
qa/unit/data/calc/libmwaw/pass/ClarisWorks_6.0.cwk
qa/unit/data/calc/libmwaw/pass/MicrosoftWorks_4.0.wk4
qa/unit/data/calc/libmwaw/pass/ClarisResolve_1.0.hqx
qa/unit/data/calc/libmwaw/pass/BeagleWorks_1.0.hqx
qa/unit/data/calc/libmwaw/pass/WordPerfectWorks_1.0.hqx
qa/unit/data/calc/libmwaw/pass/ClarisWorks_5.0.cwk
qa/unit/data/calc/libmwaw/pass/Wingz_1.0.hqx
qa/unit/data/calc/libmwaw/pass/ClarisWorks_4.0.hqx
qa/unit/data/calc/libmwaw/pass/ClarisWorks_DB.cwk
qa/unit/data/calc/libmwaw/pass/ClarisWorks_2.0.hqx
qa/unit/data/calc/libwps/pass/Works_Windows.wks
qa/unit/data/calc/libwps/pass/Works_Windows.wdb
qa/unit/data/calc/libwps/pass/Works_2.0.wdb
qa/unit/data/calc/libwps/pass/Works_2.0.wks
qa/unit/data/writer/libabw/pass/hello.abw
qa/unit/data/writer/libabw/pass/hello.zabw
qa/unit/data/writer/libwpd/pass/WP4.wp
qa/unit/data/writer/libwpd/pass/WP5.wp
qa/unit/data/writer/libwpd/pass/CVE-2007-1735-1.wpd
qa/unit/data/writer/libwpd/pass/WP6.wpd
qa/unit/data/writer/libwpd/pass/WP3.wpd
qa/unit/data/writer/libwpd/pass/WP1.wpd
qa/unit/data/writer/libwpd/pass/EDB-14344-1.wpd
qa/unit/data/writer/libmwaw/indeterminate/GreatWorks_v2.hqx
qa/unit/data/writer/libmwaw/pass/ClarisWorks_1.0
qa/unit/data/writer/libmwaw/pass/MacWrite_Pro1.0
qa/unit/data/writer/libmwaw/pass/RagTime_3.2.hqx
qa/unit/data/writer/libmwaw/pass/MarinerWrite_3.5.hqx
qa/unit/data/writer/libmwaw/pass/TexEdit_2.0.hqx
qa/unit/data/writer/libmwaw/pass/HanMac_2.0.6K.hqx
qa/unit/data/writer/libmwaw/pass/BeagleWorks_v1.hqx
qa/unit/data/writer/libmwaw/pass/More.hqx
qa/unit/data/writer/libmwaw/pass/MacWrite_4.5
qa/unit/data/writer/libmwaw/pass/MindWrite_2.1
qa/unit/data/writer/libmwaw/pass/NisusWriter_4.0.hqx
qa/unit/data/writer/libmwaw/pass/LightWayText_4.0.hqx
qa/unit/data/writer/libmwaw/pass/MacDoc_1.0.hqx
qa/unit/data/writer/libmwaw/pass/MicrosoftWorks_1.0
qa/unit/data/writer/libmwaw/pass/eDoc_2.0.hqx
qa/unit/data/writer/libmwaw/pass/RagTime_2.1.hqx
qa/unit/data/writer/libmwaw/pass/ClarisWorks_2.0
qa/unit/data/writer/libmwaw/pass/MicrosoftWord_3.0
qa/unit/data/writer/libmwaw/pass/MarinerWrite_1.6L.hqx
qa/unit/data/writer/libmwaw/pass/WriteNow_4.0
qa/unit/data/writer/libmwaw/pass/MicrosoftWorks_2.0
qa/unit/data/writer/libmwaw/pass/Acta_1.0.hqx
qa/unit/data/writer/libmwaw/pass/ClarisWorks_6.0.cwk
qa/unit/data/writer/libmwaw/pass/WriterPlus
qa/unit/data/writer/libmwaw/pass/FullWrite_2.0
qa/unit/data/writer/libmwaw/pass/DOCMaker_4.hqx
qa/unit/data/writer/libmwaw/pass/MicrosoftWord_1.0
qa/unit/data/writer/libmwaw/pass/SimpleText_1.0.hqx
qa/unit/data/writer/libmwaw/pass/FullWrite_1.0
qa/unit/data/writer/libmwaw/pass/HanMac_2.0.4J.hqx
qa/unit/data/writer/libmwaw/pass/MicrosoftWord_5.0
qa/unit/data/writer/libmwaw/pass/WriteNow_2.0
qa/unit/data/writer/libwps/pass/Works_2.00A_DOS.wps
qa/unit/data/writer/libwps/pass/Works_4.5.wps
qa/unit/data/writer/libwps/pass/Works_6.0.wps
qa/unit/data/writer/libwps/pass/Works_3.0.wps
qa/unit/data/writer/libwps/pass/Works_5.0.wps
qa/unit/data/writer/libe-book/fail/TCR.tcr
qa/unit/data/writer/libe-book/pass/Broad_Band_eBook.lrf
qa/unit/data/writer/libe-book/pass/PalmDOC.pdb
qa/unit/data/writer/libe-book/pass/FictionBook2.fb2.zip
qa/unit/data/writer/libe-book/pass/FictionBook2.fb2
qa/unit/data/writer/libe-book/pass/Plucker.pdb
qa/unit/data/impress/libetonyek/fail/v6.zip
qa/unit/data/impress/libetonyek/pass/v4.zip
qa/unit/data/impress/libetonyek/pass/v3.zip
qa/unit/data/impress/libetonyek/pass/v2.zip
qa/unit/data/impress/libetonyek/pass/v5.key
qa/unit/data/impress/libmwaw/pass/ClarisWorks_6.0.cwk
qa/unit/data/draw/libvisio/pass/fdo57117-1.vsd
qa/unit/data/draw/libvisio/pass/EDB-22679-1.vsd
qa/unit/data/draw/libmwaw/indeterminate/GreatWorks_2.0.hqx
qa/unit/data/draw/libmwaw/indeterminate/GreatWorks_P_1.0.hqx
qa/unit/data/draw/libmwaw/indeterminate/GreatWorks_1.0.hqx
qa/unit/data/draw/libmwaw/pass/MacPaint_1.0.hqx
qa/unit/data/draw/libmwaw/pass/MicrosoftWorks_4.0.msw
qa/unit/data/draw/libmwaw/pass/SuperPaint_1.0.hqx
qa/unit/data/draw/libmwaw/pass/BeagleWorks_P_1.0.hqx
qa/unit/data/draw/libmwaw/pass/MacPaint_2.0.hqx
qa/unit/data/draw/libmwaw/pass/MicrosoftWorks_3.0.hqx
qa/unit/data/draw/libmwaw/pass/MacDraw_II.hqx
qa/unit/data/draw/libmwaw/pass/ClarisWorks_6.0.cwk
qa/unit/data/draw/libmwaw/pass/MacDraw_Pro_1.0.hqx
qa/unit/data/draw/libmwaw/pass/BeagleWorks_1.0.hqx
qa/unit/data/draw/libmwaw/pass/WordPerfectWorks_1.0.hqx
qa/unit/data/draw/libmwaw/pass/WordPerfectWorks_P_1.0.hqx
qa/unit/data/draw/libmwaw/pass/SuperPaint_P_1.0.hqx
qa/unit/data/draw/libmwaw/pass/ClarisWorks_5.0.cwk
qa/unit/data/draw/libmwaw/pass/ClarisWorks_4.0.hqx
qa/unit/data/draw/libmwaw/pass/MacDraw_0.hqx
qa/unit/data/draw/libmwaw/pass/MacDraw_1.hqx
qa/unit/data/draw/libmwaw/pass/ClarisWorks_2.0.hqx
qa/unit/data/draw/libcdr/fail/EDB-35217-1.cdr
qa/unit/data/draw/libcdr/pass/EDB-35217-2.cdr
qa/unit/data/draw/libcdr/pass/fdo65220-2.cdr
qa/unit/data/draw/libcdr-cmx/pass/fdo63782-1.cmx
qa/unit/data/draw/libwpg/pass/WPG1.wpg
qa/unit/data/draw/libpagemaker/pass/shapes.pmd
qa/unit/data/draw/libmspub/pass/EDB-29664-1.pub
qa/unit/data/draw/libmspub/pass/EDB-22310-1.pub
qa/unit/data/draw/libmspub/pass/fdo59355-1.pub
qa/unit/data/draw/libmspub/pass/EDB-22655-1.pub
qa/unit/WpftWriterFilterTest.cxx
qa/unit/WPXSvStreamTest.cxx
README
astyle.options
CppunitTest_writerperfect_calc.mk
CppunitTest_writerperfect_writer.mk
CppunitTest_writerperfect_impress.mk
CppunitTest_writerperfect_draw.mk
StaticLibrary_writerperfect_importtestbase.mk
Library_writerperfect.mk
Library_wpftwriter.mk
