inc/stocservices.hxx
test/testregistry.cxx
test/makefile.mk
test/language_binding.idl
test/testsmgr_cpnt.map
test/testcorefl.cxx
test/registry_tdprovider/makefile.mk
test/registry_tdprovider/types.idl
test/registry_tdprovider/readme.txt
test/registry_tdprovider/testregistrytdprovider.cxx
test/tdmanager/types5.idl
test/tdmanager/makefile.mk
test/tdmanager/types6_incomp.idl
test/tdmanager/testtdmanager.cxx
test/tdmanager/types3_incomp.idl
test/tdmanager/types4_incomp.idl
test/tdmanager/types2_incomp.idl
test/tdmanager/types.idl
test/tdmanager/readme.txt
test/tdmanager/types5_incomp.idl
test/testloader.cxx
test/testcorefl.idl
test/testsmgr.cxx
test/testintrosp.cxx
test/testconv.cxx
test/mergekeys_.cxx
test/testsmgr2.cxx
test/testiadapter.cxx
test/testproxyfac.cxx
test/testintrosp.idl
test/javavm/makefile.mk
test/javavm/jvm_interaction/makefile.mk
test/javavm/jvm_interaction/interactionhandler.cxx
test/javavm/testapplet/makefile.mk
test/javavm/testapplet/TestApplet.java
test/javavm/testapplet/TestApplet.html
test/javavm/testcomponent/makefile.mk
test/javavm/testcomponent/manifest
test/javavm/testcomponent/TestComponent.java
test/javavm/testjavavm.java
test/javavm/testjavavm.cxx
test/uriproc/test_uriproc.cxx
test/testsmgr_cpnt.cxx
util/bootstrap.component
util/stocservices.component
Library_reflection.mk
Module_stoc.mk
Library_proxyfac.mk
source/implementationregistration/mergekeys.hxx
source/implementationregistration/mergekeys.cxx
source/typeconv/convert.cxx
source/invocation/invocation.cxx
source/invocation/invocation.component
source/javaloader/javaloader.component
source/javaloader/javaloader.cxx
source/stocservices/stocservices.cxx
source/proxy_factory/proxyfac.component
source/proxy_factory/proxyfac.cxx
source/inspect/introspection.component
source/inspect/introspection.cxx
source/invocation_adapterfactory/invocadapt.component
source/invocation_adapterfactory/iafactory.cxx
source/security/permissions.h.orig
source/security/file_policy.cxx
source/security/lru_cache.h
source/security/permissions.cxx
source/security/permissions.h
source/security/access_controller.cxx
source/corereflection/crenum.cxx
source/corereflection/criface.cxx
source/corereflection/base.hxx
source/corereflection/reflection.component
source/corereflection/crefl.cxx
source/corereflection/lrucache.hxx
source/corereflection/crarray.cxx
source/corereflection/crcomp.cxx
source/corereflection/crbase.cxx
source/defaultregistry/defaultregistry.cxx
source/simpleregistry/simpleregistry.cxx
source/loader/dllcomponentloader.cxx
source/servicemanager/servicemanager.cxx
source/javavm/interact.hxx
source/javavm/jvmargs.cxx
source/javavm/javavm.component
source/javavm/javavm.hxx
source/javavm/interact.cxx
source/javavm/jvmargs.hxx
source/uriproc/UriReferenceFactory.cxx
source/uriproc/UriReference.cxx
source/uriproc/ExternalUriReferenceTranslator.cxx
source/uriproc/UriSchemeParser_vndDOTsunDOTstarDOTscript.cxx
source/uriproc/VndSunStarPkgUrlReferenceFactory.cxx
source/uriproc/UriReference.hxx
source/uriproc/UriSchemeParser_vndDOTsunDOTstarDOTexpand.cxx
source/namingservice/namingservice.cxx
source/namingservice/namingservice.component
Library_javavm.mk
README
unosdk.mk
Library_stocservices.mk
Library_javaloader.mk
Library_bootstrap.mk
Library_introspection.mk
Library_invocation.mk
Library_namingservice.mk
Library_invocadapt.mk
