CppunitTest_svl_items.mk
inc/pch/precompiled_svl.hxx
inc/pch/precompiled_svl.cxx
unx/inc/convert.hxx
unx/source/svdde/ddedummy.cxx
CppunitTest_svl_qa_cppunit.mk
util/svl.component
CppunitTest_svl_urihelper.mk
Library_passwordcontainer.mk
Module_svl.mk
source/misc/mediatyp.src
source/misc/PasswordHelper.cxx
source/misc/lngmisc.cxx
source/misc/ownlist.cxx
source/misc/sharedstring.cxx
source/misc/strmadpt.cxx
source/misc/sharecontrolfile.cxx
source/misc/getstringresource.hxx
source/misc/adrparse.cxx
source/misc/gridprinter.cxx
source/misc/inettype.cxx
source/misc/inethist.cxx
source/misc/getstringresource.cxx
source/misc/filenotation.cxx
source/misc/lockfilecommon.cxx
source/misc/fstathelper.cxx
source/misc/sharedstringpool.cxx
source/notify/SfxBroadcaster.cxx
source/notify/listener.cxx
source/notify/lstner.cxx
source/notify/hint.cxx
source/notify/broadcast.cxx
source/notify/isethint.cxx
source/svsql/converter.cxx
source/inc/registerservices.hxx
source/inc/passwordcontainer.hxx
source/inc/poolio.hxx
source/inc/stringio.hxx
source/inc/fsfactory.hxx
source/numbers/numfmuno.hxx
source/numbers/zforscan.cxx
source/numbers/supservs.cxx
source/numbers/numuno.cxx
source/numbers/zforfind.cxx
source/numbers/supservs.hxx
source/numbers/zforlist.cxx
source/numbers/zforfind.hxx
source/numbers/numfmuno.cxx
source/numbers/zforscan.hxx
source/config/cjkoptions.cxx
source/config/itemholder2.hxx
source/config/itemholder2.cxx
source/config/asiancfg.cxx
source/config/ctloptions.cxx
source/config/languageoptions.cxx
source/undo/undo.cxx
source/filerec/filerec.cxx
source/svdde/ddesvr.cxx
source/svdde/ddeinf.cxx
source/svdde/ddeimp.hxx
source/svdde/ddecli.cxx
source/svdde/ddestrg.cxx
source/svdde/ddedata.cxx
source/uno/pathservice.cxx
source/uno/registerservices.cxx
source/filepicker/pickerhistory.cxx
source/items/ctypeitm.cxx
source/items/IndexedStyleSheets.cxx
source/items/imageitm.cxx
source/items/stylepool.cxx
source/items/ptitem.cxx
source/items/ilstitem.cxx
source/items/nranges.cxx
source/items/cintitem.cxx
source/items/poolcach.cxx
source/items/szitem.cxx
source/items/custritm.cxx
source/items/intitem.cxx
source/items/aeitem.cxx
source/items/macitem.cxx
source/items/macitem.cxx.orig
source/items/rngitem.cxx
source/items/cntwall.cxx
source/items/srchitem.cxx
source/items/globalnameitem.cxx
source/items/whassert.hxx
source/items/rectitem.cxx
source/items/int64item.cxx
source/items/poolio.cxx
source/items/cenumitm.cxx
source/items/flagitem.cxx
source/items/grabbagitem.cxx
source/items/visitem.cxx
source/items/whiter.cxx
source/items/itemiter.cxx
source/items/lckbitem.cxx
source/items/slstitm.cxx
source/items/style.cxx
source/items/sitem.cxx
source/items/stritem.cxx
source/items/poolitem.cxx
source/fsstor/fsstorage.component
source/fsstor/ostreamcontainer.cxx
source/fsstor/fsstorage.hxx
source/fsstor/oinputstreamcontainer.cxx
source/fsstor/fsfactory.cxx
source/fsstor/oinputstreamcontainer.hxx
source/fsstor/ostreamcontainer.hxx
source/fsstor/fsstorage.cxx
source/passwordcontainer/syscreds.cxx
source/passwordcontainer/syscreds.hxx
source/passwordcontainer/passwordcontainer.component
source/passwordcontainer/passwordcontainer.cxx
qa/unit/notify/test_SfxBroadcaster.cxx
qa/unit/svl.cxx
qa/unit/test_lngmisc.cxx
qa/unit/test_URIHelper.cxx
qa/unit/items/test_itempool.cxx
qa/unit/items/test_IndexedStyleSheets.cxx
qa/unit/test_INetContentType.cxx
qa/complex/ConfigItems/CheckConfigItems.java
qa/complex/passwordcontainer/TestHelper.java
qa/complex/passwordcontainer/Test01.java
qa/complex/passwordcontainer/PasswordContainerTest.java
qa/complex/passwordcontainer/Test03.java
qa/complex/passwordcontainer/MasterPasswdHandler.java
qa/complex/passwordcontainer/Test02.java
qa/complex/passwordcontainer/PasswordContainerUnitTest.java
AllLangResTarget_svl.mk
README
Library_fsstorage.mk
Library_svl.mk
JunitTest_svl_complex.mk
CppunitTest_svl_notify.mk
CppunitTest_svl_itempool.mk
CppunitTest_svl_lngmisc.mk
CppunitTest_svl_inetcontenttype.mk
