Executable_gencoll_rule.mk
Executable_gendict.mk
inc/textconversion.hxx
inc/transliteration_Numeric.hxx
inc/indexentrysupplier.hxx
inc/breakiterator_ctl.hxx
inc/transliteration_OneToOne.hxx
inc/xdictionary.hxx
inc/breakiteratorImpl.hxx
inc/cclass_unicode.hxx
inc/chaptercollator.hxx
inc/breakiterator_unicode.hxx
inc/calendar_hijri.hxx
inc/inputsequencechecker_th.hxx
inc/breakiterator_cjk.hxx
inc/chartonum.hxx
inc/numtochar.hxx
inc/indexentrysupplier_common.hxx
inc/textToPronounce_zh.hxx
inc/indexentrysupplier_default.hxx
inc/transliteration_Ignore.hxx
inc/wtt.h
inc/localedata.hxx
inc/calendar_jewish.hxx
inc/collatorImpl.hxx
inc/nativenumbersupplier.hxx
inc/transliteration_caseignore.hxx
inc/transliteration_commonclass.hxx
inc/bullet.h
inc/numtotext_cjk.hxx
inc/indexentrysupplier_ja_phonetic.hxx
inc/calendarImpl.hxx
inc/transliterationImpl.hxx
inc/defaultnumberingprovider.hxx
inc/transliteration_body.hxx
inc/indexentrysupplier_asian.hxx
inc/characterclassificationImpl.hxx
inc/numberformatcode.hxx
inc/texttonum.hxx
inc/unoscripttypedetector.hxx
inc/servicename.hxx
inc/textconversionImpl.hxx
inc/breakiterator_th.hxx
inc/inputsequencechecker.hxx
inc/inputsequencechecker_hi.hxx
inc/calendar_gregorian.hxx
inc/ordinalsuffix.hxx
inc/collator_unicode.hxx
CustomTarget_indexentry.mk
util/i18npool.component
Executable_genconv_dict.mk
source/registerservices/registerservices.cxx
source/ordinalsuffix/ordinalsuffix.cxx
source/transliteration/texttonum.cxx
source/transliteration/hiraganaToKatakana.cxx
source/transliteration/ignoreBaFa_ja_JP.cxx
source/transliteration/smallToLarge_ja_JP.cxx
source/transliteration/ignoreWidth.cxx
source/transliteration/ignoreTraditionalKana_ja_JP.cxx
source/transliteration/ignoreTraditionalKanji_ja_JP.cxx
source/transliteration/transliteration_caseignore.cxx
source/transliteration/ignoreTiJi_ja_JP.cxx
source/transliteration/transliteration_commonclass.cxx
source/transliteration/numtotext_cjk.cxx
source/transliteration/ignoreKana.cxx
source/transliteration/katakanaToHiragana.cxx
source/transliteration/transliterationImpl.cxx
source/transliteration/ignoreSpace_ja_JP.cxx
source/transliteration/transliteration_body.cxx
source/transliteration/ignoreMiddleDot_ja_JP.cxx
source/transliteration/chartonum.cxx
source/transliteration/ignoreDiacritics_CTL.cxx
source/transliteration/textToPronounce_zh.cxx
source/transliteration/ignoreKiKuFollowedBySa_ja_JP.cxx
source/transliteration/numtochar.cxx
source/transliteration/ignoreIterationMark_ja_JP.cxx
source/transliteration/transliteration_Ignore.cxx
source/transliteration/ignoreKashida_CTL.cxx
source/transliteration/ignoreZiZu_ja_JP.cxx
source/transliteration/ignoreHyuByu_ja_JP.cxx
source/transliteration/ignoreSeparator_ja_JP.cxx
source/transliteration/fullwidthToHalfwidth.cxx
source/transliteration/transliteration_Numeric.cxx
source/transliteration/ignoreSeZe_ja_JP.cxx
source/transliteration/transliteration_OneToOne.cxx
source/transliteration/ignoreProlongedSoundMark_ja_JP.cxx
source/transliteration/ignoreIandEfollowedByYa_ja_JP.cxx
source/transliteration/ignoreSize_ja_JP.cxx
source/transliteration/ignoreMinusSign_ja_JP.cxx
source/transliteration/largeToSmall_ja_JP.cxx
source/transliteration/halfwidthToFullwidth.cxx
source/textconversion/textconversionImpl.cxx
source/textconversion/textconversion_ko.cxx
source/textconversion/textconversion_zh.cxx
source/textconversion/textconversion.cxx
source/textconversion/genconv_dict.cxx
source/textconversion/data/hhc_char.dic
source/textconversion/data/stc_word.dic
source/textconversion/data/stc_char.dic
source/calendar/calendarImpl.cxx
source/calendar/calendar_jewish.cxx
source/calendar/calendar_hijri.cxx
source/characterclassification/unoscripttypedetector.cxx
source/characterclassification/cclass_unicode_parser.cxx
source/characterclassification/characterclassificationImpl.cxx
source/characterclassification/cclass_unicode.cxx
source/indexentry/indexentrysupplier_ja_phonetic.cxx
source/indexentry/indexentrysupplier_asian.cxx
source/indexentry/indexentrysupplier_common.cxx
source/indexentry/indexentrysupplier_default.cxx
source/indexentry/indexentrysupplier.cxx
source/indexentry/genindex_data.cxx
source/indexentry/data/indexdata_ko_dict.txt
source/indexentry/data/zh_pinyin.txt
source/indexentry/data/indexdata_zh_pinyin.txt
source/indexentry/data/indexdata_zh_TW_stroke.txt
source/indexentry/data/indexdata_zh_TW_radical.txt
source/indexentry/data/ko_phonetic.txt
source/indexentry/data/indexdata_ja_phonetic.h
source/indexentry/data/indexdata_zh_stroke.txt
source/indexentry/data/indexdata_zh_radical.txt
source/indexentry/data/zh_zhuyin.txt
source/indexentry/data/indexdata_zh_zhuyin.txt
source/indexentry/data/indexdata_alphanumeric.h
source/localedata/saxparser.cxx
source/localedata/filewriter.cxx
source/localedata/LocaleNode.hxx
source/localedata/LocaleNode.cxx
source/localedata/localedata.cxx
source/localedata/genstaticheader.pl
source/localedata/data/gu_IN.xml
source/localedata/data/xh_ZA.xml
source/localedata/data/ca_ES.xml
source/localedata/data/es_HN.xml
source/localedata/data/jbo.xml
source/localedata/data/is_IS.xml
source/localedata/data/ti_ER.xml
source/localedata/data/myv_RU.xml
source/localedata/data/ak_GH.xml
source/localedata/data/br_FR.xml
source/localedata/data/lo_LA.xml
source/localedata/data/rw_RW.xml
source/localedata/data/hil_PH.xml
source/localedata/data/locale.dtd
source/localedata/data/km_KH.xml
source/localedata/data/st_ZA.xml
source/localedata/data/tt_RU.xml
source/localedata/data/lif_NP.xml
source/localedata/data/ve_ZA.xml
source/localedata/data/njy_CG.xml
source/localedata/data/tek_CG.xml
source/localedata/data/bg_BG.xml
source/localedata/data/tsa_CG.xml
source/localedata/data/pt_PT.xml
source/localedata/data/en_IE.xml
source/localedata/data/axk_CG.xml
source/localedata/data/ebo_CG.xml
source/localedata/data/mdw_CG.xml
source/localedata/data/es_GT.xml
source/localedata/data/es_DO.xml
source/localedata/data/fr_SN.xml
source/localedata/data/hy_AM.xml
source/localedata/data/nl_BE.xml
source/localedata/data/lgr_SB.xml
source/localedata/data/es_PY.xml
source/localedata/data/mn_Cyrl_MN.xml
source/localedata/data/en_JM.xml
source/localedata/data/oc_FR.xml
source/localedata/data/ru_RU.xml
source/localedata/data/ar_OM.xml
source/localedata/data/et_EE.xml
source/localedata/data/mai_IN.xml
source/localedata/data/mos_BF.xml
source/localedata/data/es_SV.xml
source/localedata/data/tr_TR.xml
source/localedata/data/dsb_DE.xml
source/localedata/data/sr_Latn_CS.xml
source/localedata/data/en_GH.xml
source/localedata/data/bs_BA.xml
source/localedata/data/gug_PY.xml
source/localedata/data/ar_LB.xml
source/localedata/data/ar_AE.xml
source/localedata/data/de_AT.xml
source/localedata/data/ln_CD.xml
source/localedata/data/da_DK.xml
source/localedata/data/fr_NE.xml
source/localedata/data/fr_BF.xml
source/localedata/data/cv_RU.xml
source/localedata/data/fy_NL.xml
source/localedata/data/ltg_LV.xml
source/localedata/data/iyx_CG.xml
source/localedata/data/tg_TJ.xml
source/localedata/data/zh_MO.xml
source/localedata/data/ldi_CG.xml
source/localedata/data/en_NA.xml
source/localedata/data/pjt_AU.xml
source/localedata/data/ts_ZA.xml
source/localedata/data/am_ET.xml
source/localedata/data/hsb_DE.xml
source/localedata/data/kn_IN.xml
source/localedata/data/ar_KW.xml
source/localedata/data/es_BO.xml
source/localedata/data/fur_IT.xml
source/localedata/data/no_NO.xml
source/localedata/data/de_CH.xml
source/localedata/data/ar_DZ.xml
source/localedata/data/fr_CA.xml
source/localedata/data/fr_BE.xml
source/localedata/data/sv_FI.xml
source/localedata/data/wa_BE.xml
source/localedata/data/gl_ES.xml
source/localedata/data/kng_CG.xml
source/localedata/data/bn_IN.xml
source/localedata/data/pt_BR.xml
source/localedata/data/sid_ET.xml
source/localedata/data/lg_UG.xml
source/localedata/data/eo.xml
source/localedata/data/es_CL.xml
source/localedata/data/bkw_CG.xml
source/localedata/data/de_LU.xml
source/localedata/data/ar_SA.xml
source/localedata/data/sl_SI.xml
source/localedata/data/en_CA.xml
source/localedata/data/kk_KZ.xml
source/localedata/data/ngz_CG.xml
source/localedata/data/sr_CS.xml
source/localedata/data/nr_ZA.xml
source/localedata/data/pa_IN.xml
source/localedata/data/puu_CG.xml
source/localedata/data/tk_TM.xml
source/localedata/data/es_AR.xml
source/localedata/data/es_CO.xml
source/localedata/data/fr_ML.xml
source/localedata/data/it_CH.xml
source/localedata/data/bm_ML.xml
source/localedata/data/ur_PK.xml
source/localedata/data/hu_HU.xml
source/localedata/data/en_ZW.xml
source/localedata/data/tpi_PG.xml
source/localedata/data/yi_US.xml
source/localedata/data/en_ZA.xml
source/localedata/data/currency-check.awk
source/localedata/data/yom_CG.xml
source/localedata/data/pt_AO.xml
source/localedata/data/dz_BT.xml
source/localedata/data/es_NI.xml
source/localedata/data/pap_CW.xml
source/localedata/data/es_UY.xml
source/localedata/data/mr_IN.xml
source/localedata/data/bo_CN.xml
source/localedata/data/shs_CA.xml
source/localedata/data/ms_MY.xml
source/localedata/data/lb_LU.xml
source/localedata/data/ug_CN.xml
source/localedata/data/ca_ES_valencia.xml
source/localedata/data/njx_CG.xml
source/localedata/data/lld_IT.xml
source/localedata/data/fr_MC.xml
source/localedata/data/uk_UA.xml
source/localedata/data/fr_CH.xml
source/localedata/data/sw_TZ.xml
source/localedata/data/zh_CN.xml
source/localedata/data/hr_HR.xml
source/localedata/data/az_AZ.xml
source/localedata/data/fi_FI.xml
source/localedata/data/fr_CI.xml
source/localedata/data/lv_LV.xml
source/localedata/data/pap_BQ.xml
source/localedata/data/zu_ZA.xml
source/localedata/data/uz_UZ.xml
source/localedata/data/es_CR.xml
source/localedata/data/ia.xml
source/localedata/data/ta_IN.xml
source/localedata/data/eu.xml
source/localedata/data/fr_LU.xml
source/localedata/data/ha_Latn_GH.xml
source/localedata/data/mkw_CG.xml
source/localedata/data/id_ID.xml
source/localedata/data/sv_SE.xml
source/localedata/data/en_US.xml
source/localedata/data/kab_DZ.xml
source/localedata/data/sr_Latn_RS.xml
source/localedata/data/en_BZ.xml
source/localedata/data/es_VE.xml
source/localedata/data/es_MX.xml
source/localedata/data/fr_TG.xml
source/localedata/data/nds_DE.xml
source/localedata/data/fr_BJ.xml
source/localedata/data/beq_CG.xml
source/localedata/data/zh_TW.xml
source/localedata/data/en_MW.xml
source/localedata/data/lt_LT.xml
source/localedata/data/sr_ME.xml
source/localedata/data/tn_ZA.xml
source/localedata/data/mt_MT.xml
source/localedata/data/en_TT.xml
source/localedata/data/kl_GL.xml
source/localedata/data/en_NZ.xml
source/localedata/data/mk_MK.xml
source/localedata/data/en_AU.xml
source/localedata/data/xku_CG.xml
source/localedata/data/sk_SK.xml
source/localedata/data/de_LI.xml
source/localedata/data/ar_EG.xml
source/localedata/data/de_DE.xml
source/localedata/data/cs_CZ.xml
source/localedata/data/pui_CO.xml
source/localedata/data/bo_IN.xml
source/localedata/data/plt_MG.xml
source/localedata/data/es_PA.xml
source/localedata/data/he_IL.xml
source/localedata/data/en_IN.xml
source/localedata/data/om_ET.xml
source/localedata/data/kkw_CG.xml
source/localedata/data/ko_KR.xml
source/localedata/data/my_MM.xml
source/localedata/data/fr_FR.xml
source/localedata/data/te_IN.xml
source/localedata/data/tyx_CG.xml
source/localedata/data/list-dateacceptancepattern.awk
source/localedata/data/an_ES.xml
source/localedata/data/es_EC.xml
source/localedata/data/ss_ZA.xml
source/localedata/data/nb_NO.xml
source/localedata/data/gd_GB.xml
source/localedata/data/nn_NO.xml
source/localedata/data/ga_IE.xml
source/localedata/data/ml_IN.xml
source/localedata/data/vif_CG.xml
source/localedata/data/kmr_Latn_TR.xml
source/localedata/data/zh_HK.xml
source/localedata/data/la_VA.xml
source/localedata/data/haw_US.xml
source/localedata/data/af_ZA.xml
source/localedata/data/hi_IN.xml
source/localedata/data/sdj_CG.xml
source/localedata/data/gsc_FR.xml
source/localedata/data/ne_NP.xml
source/localedata/data/be_BY.xml
source/localedata/data/ht_HT.xml
source/localedata/data/cy_GB.xml
source/localedata/data/ro_RO.xml
source/localedata/data/vi_VN.xml
source/localedata/data/ky_KG.xml
source/localedata/data/rue_SK.xml
source/localedata/data/or_IN.xml
source/localedata/data/ast_ES.xml
source/localedata/data/fa_IR.xml
source/localedata/data/ka_GE.xml
source/localedata/data/fo_FO.xml
source/localedata/data/sr_Latn_ME.xml
source/localedata/data/dde_CG.xml
source/localedata/data/bvx_CG.xml
source/localedata/data/list-locales.awk
source/localedata/data/sg_CF.xml
source/localedata/data/af_NA.xml
source/localedata/data/en_GB.xml
source/localedata/data/it_IT.xml
source/localedata/data/ar_TN.xml
source/localedata/data/so_SO.xml
source/localedata/data/th_TH.xml
source/localedata/data/el_GR.xml
source/localedata/data/nl_NL.xml
source/localedata/data/pl_PL.xml
source/localedata/data/sc_IT.xml
source/localedata/data/sr_RS.xml
source/localedata/data/zh_SG.xml
source/localedata/data/bn_BD.xml
source/localedata/data/en_PH.xml
source/localedata/data/es_PE.xml
source/localedata/data/es_PR.xml
source/localedata/data/ee_GH.xml
source/localedata/data/nso_ZA.xml
source/localedata/data/es_ES.xml
source/defaultnumberingprovider/defaultnumberingprovider.cxx
source/search/levdis.hxx
source/search/textsearch.hxx
source/search/i18nsearch.component
source/search/levdis.cxx
source/search/textsearch.cxx
source/inputchecker/inputsequencechecker_hi.cxx
source/inputchecker/inputsequencechecker_th.cxx
source/numberformatcode/numberformatcode.cxx
source/breakiterator/breakiterator_th.cxx
source/breakiterator/gendict.cxx
source/breakiterator/breakiterator_cjk.cxx
source/breakiterator/breakiterator_ctl.cxx
source/breakiterator/xdictionary.cxx
source/breakiterator/data/ja.dic
source/breakiterator/data/dict_word.txt
source/breakiterator/data/zh.dic
source/breakiterator/data/dict_word_prepostdash.txt
source/breakiterator/data/char_in.txt
source/breakiterator/data/README
source/breakiterator/data/sent.txt
source/breakiterator/data/char.txt
source/breakiterator/data/line.txt
source/breakiterator/data/count_word.txt
source/breakiterator/data/edit_word_hu.txt
source/breakiterator/data/dict_word_hu.txt
source/breakiterator/data/dict_word_nodash.txt
source/breakiterator/data/dict_word_he.txt
source/breakiterator/data/edit_word_he.txt
source/breakiterator/data/edit_word.txt
source/breakiterator/breakiteratorImpl.cxx
source/breakiterator/breakiterator_unicode.cxx
source/collator/gencoll_rule.cxx
source/collator/collator_unicode.cxx
source/collator/collatorImpl.cxx
source/collator/data/my_dictionary.txt
source/collator/data/ca_charset.txt
source/collator/data/zh_TW_radical.txt
source/collator/data/zh_pinyin.txt
source/collator/data/sid_charset.txt
source/collator/data/ja_phonetic_alphanumeric_last.txt
source/collator/data/zh_charset.txt
source/collator/data/zh_stroke.txt
source/collator/data/ko_charset.txt
source/collator/data/ja_phonetic_alphanumeric_first.txt
source/collator/data/dz_charset.txt
source/collator/data/zh_zhuyin.txt
source/collator/data/zh_radical.txt
source/collator/data/hu_charset.txt
source/collator/data/ja_charset.txt
source/collator/data/zh_TW_charset.txt
source/collator/data/zh_TW_stroke.txt
source/collator/data/ln_charset.txt
source/collator/data/ku_alphanumeric.txt
source/collator/data/ne_charset.txt
source/collator/chaptercollator.cxx
source/nativenumber/nativenumbersupplier.cxx
source/nativenumber/data/numberchar.h
CppunitTest_i18npool_test_characterclassification.mk
CustomTarget_breakiterator.mk
Module_i18npool.mk
Executable_saxparser.mk
CppunitTest_i18npool_test_ordinalsuffix.mk
CppunitTest_i18npool_test_textsearch.mk
qa/cppunit/test_characterclassification.cxx
qa/cppunit/test_breakiterator.cxx
qa/cppunit/test_textsearch.cxx
qa/cppunit/test_ordinalsuffix.cxx
Library_dict_ja.mk
Executable_genindex_data.mk
Library_localedata_others.mk
README
Library_index_data.mk
Library_localedata_euro.mk
Library_localedata_es.mk
Library_i18nsearch.mk
Library_i18npool.mk
CustomTarget_textconversion.mk
Library_localedata_en.mk
Rdb_saxparser.mk
Library_textconv_dict.mk
Library_collator_data.mk
CustomTarget_collator.mk
CppunitTest_i18npool_test_breakiterator.mk
CustomTarget_localedata.mk
Library_dict_zh.mk
