<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.application-identifier</key>
	<string>$(CERTSANDBOXTEAMIDENTIFIER).org.neooffice.$(PRODUCT_DIR_NAME)</string>
	<!-- Uncomment when iCloud support is implemented
	<key>com.apple.developer.ubiquity-container-identifiers</key>
	<array>
		<string>$(CERTSANDBOXTEAMIDENTIFIER).*</string>
	</array>
	-->
	<key>com.apple.security.app-sandbox</key>
	<true/>
	<key>com.apple.security.files.user-selected.read-write</key>
	<true/>
	<key>com.apple.security.files.bookmarks.app-scope</key>
	<true/>
	<!-- Enable downloads from WebKit instances -->
	<key>com.apple.security.files.downloads.read-write</key>
	<true/>
	<!-- Enable iMedia browser's audio panel -->
	<key>com.apple.security.assets.music.read-only</key>
	<true/>
	<!-- Enable iMedia browser's movies panel -->
	<key>com.apple.security.assets.movies.read-only</key>
	<true/>
	<!-- Enable iMedia browser's pictures panel -->
	<key>com.apple.security.assets.pictures.read-only</key>
	<true/>
	<!-- Enable Apple Remote Control controller -->
	<key>com.apple.security.device.usb</key>
	<true/>
	<!-- Allow creation of Unix domain sockets within our container folder -->
	<key>com.apple.security.network.server</key>
	<true/>
	<key>com.apple.security.network.client</key>
	<true/>
	<key>com.apple.security.personal-information.addressbook</key>
	<true/>
	<key>com.apple.security.print</key>
	<true/>
</dict>
</plist>
