JunitTest_svtools_unoapi.mk
CppunitTest_svtools_html.mk
inc/pch/precompiled_svt.cxx
inc/pch/precompiled_svt.hxx
inc/vclxaccessibleheaderbar.hxx
inc/table/tablecontrolinterface.hxx
inc/table/gridtablerenderer.hxx
inc/table/tablecontrol.hxx
inc/table/defaultinputhandler.hxx
inc/roadmap.hxx
inc/vclxaccessibleheaderbaritem.hxx
util/svt.component
langsupport/langsupport.cxx
Module_svtools.mk
source/misc/imagemgr.src
source/misc/imap3.cxx
source/misc/imap2.cxx
source/misc/openfiledroptargetlistener.cxx
source/misc/xwindowitem.cxx
source/misc/undo.src
source/misc/dialogcontrolling.cxx
source/misc/langhelp.cxx
source/misc/langtab.src
source/misc/embedhlp.cxx
source/misc/sampletext.cxx
source/misc/filechangedchecker.cxx
source/misc/transfer2.cxx
source/misc/svtools.src
source/misc/stringtransfer.cxx
source/misc/ehdl.src
source/misc/svtresid.cxx
source/misc/imagemgr.cxx
source/misc/cliplistener.cxx
source/misc/templatefoldercache.cxx
source/misc/bindablecontrolhelper.cxx
source/misc/imap.cxx
source/misc/svtaccessiblefactory.cxx
source/misc/imageresourceaccess.cxx
source/misc/ehdl.cxx
source/misc/dialogclosedlistener.cxx
source/misc/langtab.cxx
source/misc/unitconv.cxx
source/misc/embedtransfer.cxx
source/inc/filectrl.hrc
source/inc/svtaccessiblefactory.hxx
source/inc/provider.hxx
source/inc/unoiface.hxx
source/inc/svimpbox.hxx
source/inc/renderer.hxx
source/inc/hatchwindow.hxx
source/config/toolpanelopt.cxx
source/config/printoptions.cxx
source/config/test/test.cxx
source/config/htmlcfg.cxx
source/config/itemholder2.hxx
source/config/apearcfg.cxx
source/config/fontsubstconfig.cxx
source/config/menuoptions.cxx
source/config/accessibilityoptions.cxx
source/config/itemholder2.cxx
source/config/helpopt.cxx
source/config/optionsdrawinglayer.cxx
source/config/miscopt.cxx
source/config/slidesorterbaropt.cxx
source/config/extcolorcfg.cxx
source/hatchwindow/hatchwindow.cxx
source/hatchwindow/ipwin.hxx
source/hatchwindow/ipwin.cxx
source/hatchwindow/documentcloser.cxx
source/hatchwindow/hatchwindowfactory.cxx
source/java/javaerror.src
source/java/javacontext.cxx
source/svhtml/parhtml.cxx
source/svhtml/HtmlWriter.cxx
source/svhtml/htmlkywd.cxx
source/svhtml/htmlsupp.cxx
source/contnr/templwin.cxx
source/contnr/contentenumeration.hxx
source/contnr/svtabbx.cxx
source/contnr/fileview.cxx
source/contnr/DocumentInfoPreview.cxx
source/contnr/svlbitm.cxx
source/contnr/treelist.cxx
source/contnr/viewdataentry.cxx
source/contnr/fileview.hxx
source/contnr/fileview.hrc
source/contnr/ivctrl.cxx
source/contnr/templwin.src
source/contnr/svcontnr.src
source/contnr/templwin.hrc
source/contnr/templwin.hxx
source/contnr/imivctl.hxx
source/contnr/treelistentry.cxx
source/contnr/fileview.src
source/contnr/contentenumeration.cxx
source/contnr/simptabl.cxx
source/contnr/imivctl1.cxx
source/contnr/imivctl2.cxx
source/graphic/renderer.cxx
source/graphic/grfcache.hxx
source/graphic/descriptor.hxx
source/graphic/transformer.cxx
source/graphic/grfmgr2.cxx
source/graphic/graphic.cxx
source/graphic/transformer.hxx
source/graphic/grfmgr.cxx
source/graphic/graphic.hxx
source/graphic/graphicunofactory.cxx
source/graphic/grfattr.cxx
source/graphic/grfcache.cxx
source/graphic/descriptor.cxx
source/graphic/provider.cxx
source/edit/svmedit2.cxx
source/edit/svmedit.cxx
source/edit/textwindowpeer.cxx
source/edit/editsyntaxhighlighter.cxx
source/table/cellvalueconversion.hxx
source/table/mousefunction.cxx
source/table/defaultinputhandler.cxx
source/table/tabledatawindow.hxx
source/table/tablegeometry.hxx
source/table/tablecontrol_impl.hxx
source/table/mousefunction.hxx
source/table/tabledatawindow.cxx
source/table/gridtablerenderer.cxx
source/table/tablegeometry.cxx
source/table/tablecontrol_impl.cxx
source/table/tablecontrol.cxx
source/table/cellvalueconversion.cxx
source/uno/unoevent.cxx
source/uno/framestatuslistener.cxx
source/uno/treecontrolpeer.cxx
source/uno/popupmenucontrollerbase.cxx
source/uno/statusbarcontroller.cxx
source/uno/svtxgridcontrol.cxx
source/uno/contextmenuhelper.cxx
source/uno/unoimap.cxx
source/uno/wizard/wizardpagecontroller.hxx
source/uno/wizard/wizardshell.cxx
source/uno/wizard/wizardpagecontroller.cxx
source/uno/wizard/wizardshell.hxx
source/uno/wizard/unowizard.cxx
source/uno/unogridcolumnfacade.cxx
source/uno/popupwindowcontroller.cxx
source/uno/unocontroltablemodel.hxx
source/uno/treecontrolpeer.hxx
source/uno/miscservices.cxx
source/uno/svtxgridcontrol.hxx
source/uno/unogridcolumnfacade.hxx
source/uno/unoiface.cxx
source/uno/genericunodialog.cxx
source/uno/unocontroltablemodel.cxx
source/uno/fpicker.hxx
source/uno/generictoolboxcontroller.cxx
source/uno/toolboxcontroller.cxx
source/uno/addrtempuno.cxx
source/dialogs/so3res.src
source/dialogs/filedlg2.src
source/dialogs/addresstemplate.src
source/dialogs/wizardmachine.cxx
source/dialogs/insdlg.cxx
source/dialogs/PlaceEditDialog.cxx
source/dialogs/roadmapwizard.cxx
source/dialogs/addresstemplate.hrc
source/dialogs/mcvmath.hxx
source/dialogs/wizdlg.cxx
source/dialogs/formats.src
source/dialogs/addresstemplate.cxx
source/dialogs/wizardmachine.src
source/dialogs/mcvmath.cxx
source/dialogs/ServerDetailsControls.cxx
source/dialogs/restartdialog.cxx
source/dialogs/colrdlg.cxx
source/toolpanel/toolpaneldrawer.cxx
source/toolpanel/tabbargeometry.hxx
source/toolpanel/toolpanelcollection.cxx
source/toolpanel/toolpaneldrawerpeer.hxx
source/toolpanel/toolpanel.src
source/toolpanel/paneldecklisteners.cxx
source/toolpanel/paneltabbar.cxx
source/toolpanel/dummypanel.hxx
source/toolpanel/toolpaneldeckpeer.hxx
source/toolpanel/paneltabbarpeer.cxx
source/toolpanel/tabitemdescriptor.hxx
source/toolpanel/paneldecklisteners.hxx
source/toolpanel/dummypanel.cxx
source/toolpanel/toolpaneldeckpeer.cxx
source/toolpanel/toolpaneldeck.cxx
source/toolpanel/tablayouter.cxx
source/toolpanel/paneltabbarpeer.hxx
source/toolpanel/toolpaneldrawer.hxx
source/toolpanel/tabbargeometry.cxx
source/toolpanel/toolpanel.cxx
source/toolpanel/toolpanelcollection.hxx
source/toolpanel/toolpaneldrawerpeer.cxx
source/toolpanel/drawerlayouter.cxx
source/svrtf/rtfout.cxx
source/svrtf/rtfkeywd.cxx
source/svrtf/svparser.cxx
source/filter/GraphicExportOptionsDialog.cxx
source/filter/SvFilterOptionsDialog.cxx
source/filter/DocumentToGraphicRenderer.cxx
source/brwbox/brwimpl.hxx
source/brwbox/editbrowsebox.src
source/brwbox/brwbox1.cxx
source/brwbox/editbrowseboximpl.hxx
source/brwbox/brwbox3.cxx
source/brwbox/datwin.hxx
source/brwbox/brwbox2.cxx
source/brwbox/editbrowsebox.hrc
source/brwbox/editbrowsebox2.cxx
source/brwbox/ebbcontrols.cxx
source/brwbox/datwin.cxx
source/brwbox/editbrowsebox.cxx
source/brwbox/brwhead.cxx
source/control/ctrlbox.cxx
source/control/ctrltool.cxx
source/control/scriptedtext.cxx
source/control/scriptedtext.cxx.orig
source/control/valueimp.hxx
source/control/accessibleruler.cxx
source/control/toolbarmenuimp.hxx
source/control/roadmap.cxx
source/control/calendar.src
source/control/stdctrl.cxx
source/control/ruler.cxx
source/control/valueset.cxx
source/control/scrwin.cxx
source/control/vclxaccessibleheaderbaritem.cxx
source/control/hyperlabel.cxx
source/control/fileurlbox.cxx
source/control/fmtfield.cxx
source/control/filectrl.src
source/control/indexentryres.cxx
source/control/vclxaccessibleheaderbar.cxx
source/control/calendar.cxx
source/control/ruler.src
source/control/ctrlbox.src
source/control/ctrltool.src
source/control/asynclink.cxx
source/control/toolbarmenu.cxx
source/control/inettbc.cxx.orig
source/control/collatorres.cxx
source/control/filectrl.cxx
source/control/urlcontrol.cxx
source/control/tabbar.cxx
source/control/ctrlbox.cxx.orig
source/control/valueacc.cxx
source/control/toolbarmenuacc.cxx
source/urlobj/inetimg.cxx
qa/unit/GraphicObjectTest.cxx
qa/unit/data/document_with_two_images.odt
qa/unit/data/graphic.png
qa/unit/testHtmlWriter.cxx
qa/unoapi/svtools.sce
qa/unoapi/knownissues.xcl
AllLangResTarget_svt.mk
README
uiconfig/ui/printersetupdialog.ui
uiconfig/ui/placeedit.ui
uiconfig/ui/graphicexport.ui
uiconfig/ui/javadisableddialog.ui
uiconfig/ui/wizarddialog.ui
uiconfig/ui/restartdialog.ui
uiconfig/ui/addresstemplatedialog.ui
uiconfig/ui/querydeletedialog.ui
uiconfig/ui/GraphicExportOptionsDialog.ui
UIConfig_svt.mk
Executable_langsupport.mk
