Library_guesslang.mk
Module_lingucomponent.mk
Library_lnth.mk
StaticLibrary_ulingu.mk
config/Linguistic-lingucomponent-thesaurus.xcu
config/Linguistic-lingucomponent-spellchecker.xcu
config/Linguistic-lingucomponent-hyphenator.xcu
Library_hyphen.mk
source/thesaurus/libnth/nthesimp.cxx
source/thesaurus/libnth/nthesdta.hxx
source/thesaurus/libnth/lnth.component
source/thesaurus/libnth/nthesdta.cxx
source/thesaurus/libnth/ntreg.cxx
source/thesaurus/libnth/nthesimp.hxx
source/spellcheck/spell/spell.component
source/spellcheck/spell/sreg.cxx
source/spellcheck/macosxspell/MacOSXSpell.component
source/spellcheck/macosxspell/macspellimp.mm
source/spellcheck/macosxspell/macreg.mm
source/spellcheck/macosxspell/macspellimp.hxx
source/languageguessing/altstrfunc.cxx
source/languageguessing/guess.cxx
source/languageguessing/simpleguesser.hxx
source/languageguessing/guesslang.component
source/languageguessing/guess.hxx
source/languageguessing/simpleguesser.cxx
source/languageguessing/guesslang.cxx
source/languageguessing/altstrfunc.hxx
source/lingutil/lingutil.hxx
source/lingutil/lingutil.cxx
source/hyphenator/hyphen/hyphenimp.hxx
source/hyphenator/hyphen/hyphenimp.cxx
source/hyphenator/hyphen/hreg.cxx
source/hyphenator/hyphen/hyphen.component
README
Library_MacOSXSpell.mk
