Library_affine_uno_uno.mk
Library_purpenvhelper.mk
Library_log_uno_uno.mk
util/uno_purpenvhelpergcc3.map
util/cppu.map
source/LogBridge/LogBridge.cxx
source/cppu/compat.cxx
source/cppu/cppu_opt.cxx
source/threadpool/jobqueue.hxx
source/threadpool/thread.hxx
source/threadpool/current.hxx
source/threadpool/threadpool.cxx
source/threadpool/threadident.cxx
source/threadpool/current.cxx
source/threadpool/thread.cxx
source/threadpool/threadpool.hxx
source/AffineBridge/AffineBridge.cxx
source/UnsafeBridge/UnsafeBridge.cxx
source/typelib/typelib.cxx
source/typelib/static_types.cxx
source/typelib/typelib.hxx
source/uno/EnvStack.cxx
source/uno/IdentityMapping.cxx
source/uno/loadmodule.hxx
source/uno/EnvDcp.c
source/uno/cascade_mapping.cxx
source/uno/lbenv.cxx
source/uno/assign.hxx
source/uno/destr.hxx
source/uno/sequence.cxx
source/uno/eq.hxx
source/uno/data.cxx
source/uno/any.cxx
source/uno/IdentityMapping.hxx
source/uno/constr.hxx
source/uno/loadmodule.cxx
source/uno/cascade_mapping.hxx
source/uno/prim.hxx
source/helper/purpenv/helper_purpenv_Environment.cxx
source/helper/purpenv/Proxy.hxx
source/helper/purpenv/helper_purpenv_Mapping.cxx
source/helper/purpenv/helper_purpenv_Proxy.cxx
Library_unsafe_uno_uno.mk
qa/test_recursion.cxx
qa/test_any.cxx
qa/test_reference.cxx
qa/cppumaker/test_cppumaker.cxx
qa/cppumaker/types.idl
qa/types.idl
qa/test_unotype.cxx
qa/checkapi/strings.cxx
README
InternalUnoApi_cppu_qa_types.mk
CppunitTest_cppu_qa_reference.mk
CppunitTest_cppu_qa_unotype.mk
Module_cppu.mk
CppunitTest_cppu_qa_recursion.mk
CppunitTest_cppu_test_cppumaker.mk
InternalUnoApi_cppu_qa_cppumaker_types.mk
Library_cppu.mk
CppunitTest_cppu_qa_any.mk
