AllLangResTarget_deployment.mk
Package_branding_custom.mk
Library_passive_native.mk
Extension_test-passive.mk
Library_unopkgapp.mk
Executable_swriter.mk
inc/pch/precompiled_deployment.hxx
inc/pch/precompiled_deploymentgui.hxx
inc/pch/precompiled_deploymentmisc.hxx
inc/pch/precompiled_sofficeapp.hxx
inc/pch/precompiled_deploymentmisc.cxx
inc/pch/precompiled_sofficeapp.cxx
inc/pch/precompiled_deployment.cxx
inc/pch/precompiled_deploymentgui.cxx
inc/deployment.hrc
inc/migration.hxx
inc/app.hxx
WinResTarget_soffice.mk
unx/source/file_image_unx.c
unx/source/pagein.c
unx/source/splashx.h
unx/source/args.h
unx/source/file_image.h
unx/source/start.c
unx/source/splashx.c
unx/source/pagein.h
Package_smath_sh.mk
Pagein_draw.mk
test/deployment/options/handler/com/sun/star/comp/extensionoptions/MANIFEST.MF
test/deployment/options/handler/com/sun/star/comp/extensionoptions/makefile.mk
test/deployment/options/handler/com/sun/star/comp/extensionoptions/OptionsEventHandler.java
test/deployment/options/leaf1.oxt
test/deployment/options/leaf2.oxt
test/deployment/options/leaf1mod.oxt
test/deployment/options/readme.txt
test/deployment/options/nodes3.oxt
test/deployment/options/nodes2.oxt
test/deployment/options/nodes1.oxt
test/deployment/options/nodes5.oxt
test/deployment/options/modules1.oxt
test/deployment/options/leaves3.oxt
test/deployment/options/leaves2.oxt
test/deployment/options/nodes4.oxt
test/deployment/options/modules2.oxt
test/deployment/options/leaves1.oxt
test/deployment/update/default_url/update/default1.update.xml
test/deployment/update/default_url/update/default2.update.xml
test/deployment/update/default_url/update/default2.oxt
test/deployment/update/default_url/update/feed1.xml
test/deployment/update/default_url/update/default1.oxt
test/deployment/update/default_url/readme.txt
test/deployment/update/default_url/default2.oxt
test/deployment/update/default_url/default1.oxt
test/deployment/update/website_update/update/web1_en-US-region1.html
test/deployment/update/website_update/update/web1.update.xml
test/deployment/update/website_update/update/web1_de-DE-altmark.html
test/deployment/update/website_update/update/web4.update.xml
test/deployment/update/website_update/update/web3.update.xml
test/deployment/update/website_update/update/web1_en-region3.html
test/deployment/update/website_update/update/web5.update.xml
test/deployment/update/website_update/update/web7.oxt
test/deployment/update/website_update/update/web6.oxt
test/deployment/update/website_update/update/web1_de-DE.html
test/deployment/update/website_update/update/web1_de.html
test/deployment/update/website_update/update/web4.oxt
test/deployment/update/website_update/update/web5.oxt
test/deployment/update/website_update/update/web1.oxt
test/deployment/update/website_update/update/web2.oxt
test/deployment/update/website_update/update/web3.oxt
test/deployment/update/website_update/update/web1_en.html
test/deployment/update/website_update/update/web1_en-US.html
test/deployment/update/website_update/update/web1_en-GB.html
test/deployment/update/website_update/update/web7/description.xml
test/deployment/update/website_update/update/web7/readme.txt
test/deployment/update/website_update/update/web1_en-US-region2.html
test/deployment/update/website_update/update/web6/description.xml
test/deployment/update/website_update/update/web6/readme.txt
test/deployment/update/website_update/update/web2.update.xml
test/deployment/update/website_update/web7.oxt
test/deployment/update/website_update/web6.oxt
test/deployment/update/website_update/web4.oxt
test/deployment/update/website_update/web5.oxt
test/deployment/update/website_update/web1.oxt
test/deployment/update/website_update/web2.oxt
test/deployment/update/website_update/web3.oxt
test/deployment/update/website_update/readme.txt
test/deployment/update/license/update/lic2.update.xml
test/deployment/update/license/update/lic1.update.xml
test/deployment/update/license/update/lic1.oxt
test/deployment/update/license/update/lic2.oxt
test/deployment/update/license/update/lic3.oxt
test/deployment/update/license/update/lic3.update.xml
test/deployment/update/license/readme.txt
test/deployment/update/license/lic1.oxt
test/deployment/update/license/lic2.oxt
test/deployment/update/license/lic3.oxt
test/deployment/update/updateinfocreation/updateinfo.oxt
test/deployment/update/updateinfocreation/update/updateinfo.oxt
test/deployment/update/updateinfocreation/readme.txt
test/deployment/update/updateinfocreation/build/MANIFEST.MF
test/deployment/update/updateinfocreation/build/makefile.mk
test/deployment/update/updateinfocreation/build/TestExtension.idl
test/deployment/update/updateinfocreation/build/manifest.xml
test/deployment/update/updateinfocreation/build/TestExtension.java
test/deployment/update/updateinfocreation/build/description.xml
test/deployment/update/updateinfocreation/build/delzip
test/deployment/update/publisher/publisher_en-US-region1.html
test/deployment/update/publisher/release-notes_en-GB.html
test/deployment/update/publisher/release-notes_en-US.html
test/deployment/update/publisher/publisher_en-region3.html
test/deployment/update/publisher/publisher_en-US.html
test/deployment/update/publisher/publisher_en-GB.html
test/deployment/update/publisher/release-notes_de.html
test/deployment/update/publisher/publisher_de-DE-altmark.html
test/deployment/update/publisher/pub9.oxt
test/deployment/update/publisher/pub8.oxt
test/deployment/update/publisher/update/pub9.oxt
test/deployment/update/publisher/update/pub8.oxt
test/deployment/update/publisher/update/pub5.update.xml
test/deployment/update/publisher/update/pub11.oxt
test/deployment/update/publisher/update/pub10.oxt
test/deployment/update/publisher/update/pub2.update.xml
test/deployment/update/publisher/update/pub7.update.xml
test/deployment/update/publisher/update/pub4.update.xml
test/deployment/update/publisher/update/pub1.update.xml
test/deployment/update/publisher/update/pub6.oxt
test/deployment/update/publisher/update/pub7.oxt
test/deployment/update/publisher/update/pub5.oxt
test/deployment/update/publisher/update/pub4.oxt
test/deployment/update/publisher/update/pub6.update.xml
test/deployment/update/publisher/update/pub1.oxt
test/deployment/update/publisher/update/pub3.update.xml
test/deployment/update/publisher/update/pub3.oxt
test/deployment/update/publisher/update/pub2.oxt
test/deployment/update/publisher/release-notes_en.html
test/deployment/update/publisher/release-notes_de-DE.html
test/deployment/update/publisher/pub11.oxt
test/deployment/update/publisher/pub10.oxt
test/deployment/update/publisher/publisher_de-DE.html
test/deployment/update/publisher/release-notes_en-US-region1.html
test/deployment/update/publisher/release-notes_de-DE-altmark.html
test/deployment/update/publisher/release-notes_en-US-region2.html
test/deployment/update/publisher/release-notes_en-region3.html
test/deployment/update/publisher/readme.txt
test/deployment/update/publisher/pub6.oxt
test/deployment/update/publisher/pub7.oxt
test/deployment/update/publisher/publisher_en.html
test/deployment/update/publisher/pub5.oxt
test/deployment/update/publisher/pub4.oxt
test/deployment/update/publisher/publisher_de.html
test/deployment/update/publisher/pub1.oxt
test/deployment/update/publisher/publisher_en-US-region2.html
test/deployment/update/publisher/pub3.oxt
test/deployment/update/publisher/pub2.oxt
test/deployment/update/defect/update/fail2.update.xml
test/deployment/update/defect/update/info2.update.xml
test/deployment/update/defect/update/info3.oxt
test/deployment/update/defect/update/info1.update.xml
test/deployment/update/defect/update/fail3.update.xml
test/deployment/update/defect/update/fail1.oxt
test/deployment/update/defect/update/fail4.update.xml
test/deployment/update/defect/update/info3.update.xml
test/deployment/update/defect/update/fail2.oxt
test/deployment/update/defect/update/fail3.oxt
test/deployment/update/defect/update/fail4.oxt
test/deployment/update/defect/update/fail1.update.xml
test/deployment/update/defect/info2.oxt
test/deployment/update/defect/info3.oxt
test/deployment/update/defect/info1.oxt
test/deployment/update/defect/readme.txt
test/deployment/update/defect/fail1.oxt
test/deployment/update/defect/fail2.oxt
test/deployment/update/defect/fail3.oxt
test/deployment/update/defect/fail4.oxt
test/deployment/update/changing_display_name/update1/change1.update.xml
test/deployment/update/changing_display_name/update1/change1.oxt
test/deployment/update/changing_display_name/change1_mod.oxt
test/deployment/update/changing_display_name/readme.txt
test/deployment/update/changing_display_name/update2/change1.update.xml
test/deployment/update/changing_display_name/update2/change1.oxt
test/deployment/update/changing_display_name/change1.oxt
test/deployment/update/platform/linux_s390.oxt
test/deployment/update/platform/macosx_powerpc.oxt
test/deployment/update/platform/linux_arm_oabi.oxt
test/deployment/update/platform/freebsd_x86_64.oxt
test/deployment/update/platform/linux_powerpc.oxt
test/deployment/update/platform/linux_ia64.oxt
test/deployment/update/platform/linux_arm_eabi.oxt
test/deployment/update/platform/solaris_sparc.oxt
test/deployment/update/platform/linux_mips_el.oxt
test/deployment/update/platform/invalid2.oxt
test/deployment/update/platform/invalid3.oxt
test/deployment/update/platform/invalid1.oxt
test/deployment/update/platform/macosx_x86.oxt
test/deployment/update/platform/windows_x86.oxt
test/deployment/update/platform/solaris_x86.oxt
test/deployment/update/platform/linux_mips_eb.oxt
test/deployment/update/platform/linux_sparc.oxt
test/deployment/update/platform/freebsd_x86.oxt
test/deployment/update/platform/readme.txt
test/deployment/update/platform/all2.oxt
test/deployment/update/platform/linux_s390x.oxt
test/deployment/update/platform/all3.oxt
test/deployment/update/platform/mul1.oxt
test/deployment/update/platform/all1.oxt
test/deployment/update/platform/os2_x86.oxt
test/deployment/update/platform/linux_x86.oxt
test/deployment/update/platform/linux_powerpc64.oxt
test/deployment/update/platform/linux_x86_64.oxt
test/deployment/update/dependencies/update-dependencies.oxt
test/deployment/update/dependencies/update/update-dependencies.update.xml
test/deployment/update/dependencies/release-notes_en.html
test/deployment/update/dependencies/readme.txt
test/deployment/update/dependencies/publisher_en.html
test/deployment/update/simple/plain3.oxt
test/deployment/update/simple/plain2.oxt
test/deployment/update/simple/update/plain3.oxt
test/deployment/update/simple/update/plain2.oxt
test/deployment/update/simple/update/plain2.update.xml
test/deployment/update/simple/update/plain1.oxt
test/deployment/update/simple/update/plain3.update.xml
test/deployment/update/simple/update/plain1.update.xml
test/deployment/update/simple/plain1.oxt
test/deployment/update/simple/readme.txt
test/deployment/update/readme.txt
test/deployment/update/updatefeed/update/feed1.update.xml
test/deployment/update/updatefeed/update/feed2.oxt
test/deployment/update/updatefeed/update/feed1.oxt
test/deployment/update/updatefeed/update/feed2.update.xml
test/deployment/update/updatefeed/update/feed1.xml
test/deployment/update/updatefeed/feed2.oxt
test/deployment/update/updatefeed/feed1.oxt
test/deployment/update/wrong_url/update/url2.update.xml
test/deployment/update/wrong_url/update/wrongdownload2.update.xml
test/deployment/update/wrong_url/update/url2.oxt
test/deployment/update/wrong_url/update/url1.update.xml
test/deployment/update/wrong_url/update/wrongdownload1.update.xml
test/deployment/update/wrong_url/update/url1.oxt
test/deployment/update/wrong_url/update/wrongdownload3.update.xml
test/deployment/update/wrong_url/wrongdownload1.oxt
test/deployment/update/wrong_url/wrongdownload3.oxt
test/deployment/update/wrong_url/wrongdownload2.oxt
test/deployment/update/wrong_url/url2.oxt
test/deployment/update/wrong_url/url3.oxt
test/deployment/update/wrong_url/url1.oxt
test/deployment/update/wrong_url/readme.txt
test/deployment/executable_content/hello.oxt
test/deployment/executable_content/readme.txt
test/deployment/executable_content/build/makefile.mk
test/deployment/executable_content/build/hello.c
test/deployment/executable_content/build/readme.txt
test/deployment/display_name/name5.oxt
test/deployment/display_name/name4.oxt
test/deployment/display_name/name1.oxt
test/deployment/display_name/name3.oxt
test/deployment/display_name/name2.oxt
test/deployment/display_name/readme.txt
test/deployment/dependencies/maxversion34.oxt
test/deployment/dependencies/maxversion35.oxt
test/deployment/dependencies/maxversion36.oxt
test/deployment/dependencies/license-dependency.oxt
test/deployment/dependencies/maxversion33.oxt
test/deployment/dependencies/double-dependencies.oxt
test/deployment/dependencies/funny-dependency.oxt
test/deployment/dependencies/no-description.oxt
test/deployment/dependencies/version21other.oxt
test/deployment/dependencies/version10000.oxt
test/deployment/dependencies/version23.oxt
test/deployment/dependencies/empty-dependencies.oxt
test/deployment/dependencies/version22.oxt
test/deployment/dependencies/broken-dependency.oxt
test/deployment/dependencies/version34.oxt
test/deployment/dependencies/versionempty.oxt
test/deployment/dependencies/minattr24.oxt
test/deployment/dependencies/version35.oxt
test/deployment/dependencies/version21.oxt
test/deployment/dependencies/version21ns.oxt
test/deployment/dependencies/many-dependencies.oxt
test/deployment/dependencies/minattr23.oxt
test/deployment/dependencies/minattr22.oxt
test/deployment/dependencies/readme.txt
test/deployment/dependencies/no-dependencies.oxt
test/deployment/dependencies/versionnone.oxt
test/deployment/dependencies/loversion36.oxt
test/deployment/dependencies/unknown-dependency.oxt
test/deployment/dependencies/loversion35.oxt
test/deployment/passive/MANIFEST.MF
test/deployment/passive/passive_python.py
test/deployment/passive/passive_native.cxx
test/deployment/passive/passive_python.component
test/deployment/passive/META-INF/manifest.xml
test/deployment/passive/passive_native.component
test/deployment/passive/description.xml
test/deployment/passive/passive_java.component
test/deployment/passive/Addons.xcu
test/deployment/passive/com/sun/star/comp/test/deployment/Provider.java
test/deployment/passive/com/sun/star/comp/test/deployment/Dispatch.java
test/deployment/passive/com/sun/star/comp/test/deployment/Services.java
test/deployment/passive/ProtocolHandler.xcu
test/deployment/identifier/explicit/identifier.oxt
test/deployment/identifier/legacy/identifier.oxt
test/deployment/identifier/readme.txt
test/deployment/description/desc5.oxt
test/deployment/description/desc4.oxt
test/deployment/description/desc3.oxt
test/deployment/description/desc2.oxt
test/deployment/description/desc1.oxt
test/deployment/description/readme.txt
test/deployment/version/version_none/dependency.oxt
test/deployment/version/version_none/plain.oxt
test/deployment/version/version_none/license.oxt
test/deployment/version/version_1.2.15.3/dependency.oxt
test/deployment/version/version_1.2.15.3/plain.oxt
test/deployment/version/version_1.2.15.3/license.oxt
test/deployment/version/version_1.2.3/dependency.oxt
test/deployment/version/version_1.2.3/plain.oxt
test/deployment/version/version_1.2.3/license.oxt
test/deployment/version/version_nodependencies_none/dependency.oxt
test/deployment/version/version_badvalue/dependency.oxt
test/deployment/version/version_badvalue/plain.oxt
test/deployment/version/version_badvalue/license.oxt
test/deployment/version/version_nodependencies_badelement/dependency.oxt
test/deployment/version/version_badelement/dependency.oxt
test/deployment/version/version_badelement/plain.oxt
test/deployment/version/version_badelement/license.oxt
test/deployment/version/version_1.2.4.7/dependency.oxt
test/deployment/version/version_1.2.4.7/plain.oxt
test/deployment/version/version_1.2.4.7/license.oxt
test/deployment/version/version_nodependencies_1.2.4.7/dependency.oxt
test/deployment/version/version_nodependencies_badvalue/dependency.oxt
test/deployment/version/version_nodependencies_0.0/dependency.oxt
test/deployment/version/readme.txt
test/deployment/version/version_1.02.4.7.0/dependency.oxt
test/deployment/version/version_1.02.4.7.0/plain.oxt
test/deployment/version/version_1.02.4.7.0/license.oxt
test/deployment/version/version_nodependencies_1.02.4.7.0/dependency.oxt
test/deployment/version/version_nodependencies_1.2.3/dependency.oxt
test/deployment/version/version_nodependencies_1.2.15.3/dependency.oxt
test/deployment/version/version_0.0/dependency.oxt
test/deployment/version/version_0.0/plain.oxt
test/deployment/version/version_0.0/license.oxt
test/deployment/active/MANIFEST.MF
test/deployment/active/active_python.py
test/deployment/active/META-INF/manifest.xml
test/deployment/active/active_native.cxx
test/deployment/active/description.xml
test/deployment/active/Addons.xcu
test/deployment/active/com/sun/star/comp/test/deployment/Provider.java
test/deployment/active/com/sun/star/comp/test/deployment/Dispatch.java
test/deployment/active/com/sun/star/comp/test/deployment/Services.java
test/deployment/active/ProtocolHandler.xcu
test/deployment/locationtest/LocationTest.idl
test/deployment/locationtest/MANIFEST.MF
test/deployment/locationtest/makefile.mk
test/deployment/locationtest/LocationTest.odt
test/deployment/locationtest/LocationTest.java
test/deployment/locationtest/manifest.xml
test/deployment/locationtest/description.xml
test/deployment/locationtest/delzip
test/deployment/simple_license/MissingLicRef.oxt
test/deployment/simple_license/NoLang.oxt
test/deployment/simple_license/Prefix.oxt
test/deployment/simple_license/suppress_license.oxt
test/deployment/simple_license/BadRoot.oxt
test/deployment/simple_license/Locale1.oxt
test/deployment/simple_license/tests_simple_license.odt
test/deployment/simple_license/Locale2.oxt
test/deployment/simple_license/ShortLicenseShared.oxt
test/deployment/simple_license/Locale3.oxt
test/deployment/simple_license/BadDesc.oxt
test/deployment/simple_license/MissingLic.oxt
test/deployment/simple_license/Locale6.oxt
test/deployment/simple_license/Locale4.oxt
test/deployment/simple_license/Locale5.oxt
test/deployment/simple_license/NoDefLang.oxt
test/deployment/simple_license/ShortLicense.oxt
test/deployment/simple_license/BadNamespace.oxt
test/deployment/simple_license/NoDesc.oxt
test/deployment/simple_license/LongLic.oxt
CustomTarget_desktop_unopackages_install.mk
util/officeloader.rc
Executable_unopkg.mk
Library_deployment.mk
Rdb_passive_platform.mk
Executable_unopkg_bin.mk
Package_swriter_sh.mk
source/splash/spl.component
source/splash/services_spl.cxx
source/splash/unxsplash.hxx
source/splash/splash.hxx
source/splash/unxsplash.cxx
source/inc/helpid.hrc
source/inc/exithelper.h
source/inc/desktopdllapi.h
source/app/langselect.hxx
source/app/cmdlinehelp.hxx
source/app/dispatchwatcher.hxx
source/app/configinit.cxx
source/app/officeipcthread.hxx
source/app/desktopresid.cxx
source/app/desktopcontext.cxx
source/app/userinstall.hxx
source/app/sofficemain.h
source/app/configinit.hxx
source/app/desktopresid.hxx
source/app/desktopcontext.hxx
source/app/desktop.src
source/app/desktop.hrc
source/app/langselect.cxx
source/app/lockfile2.cxx
source/pkgchk/unopkg/unopkg_main.h
source/pkgchk/unopkg/unopkg_shared.h
source/pkgchk/unopkg/unopkg_main.c
source/pkgchk/unopkg/unopkg_cmdenv.cxx
source/deployment/misc/dp_identifier.cxx
source/deployment/misc/dp_version.cxx
source/deployment/misc/dp_resource.cxx
source/deployment/misc/dp_ucb.cxx
source/deployment/misc/dp_interact.cxx
source/deployment/misc/dp_misc.src
source/deployment/misc/dp_update.cxx
source/deployment/misc/lockfile.cxx
source/deployment/misc/dp_platform.cxx
source/deployment/misc/dp_descriptioninfoset.cxx
source/deployment/inc/dp_platform.hxx
source/deployment/inc/dp_ucb.h
source/deployment/inc/dp_descriptioninfoset.hxx
source/deployment/inc/dp_registry.hxx
source/deployment/inc/dp_package.hxx
source/deployment/inc/dp_interact.h
source/deployment/inc/lockfile.hxx
source/deployment/inc/dp_misc.h
source/deployment/inc/dp_xml.h
source/deployment/inc/dp_persmap.h
source/deployment/inc/dp_update.hxx
source/deployment/inc/dp_misc_api.hxx
source/deployment/inc/dp_dependencies.hxx
source/deployment/inc/dp_identifier.hxx
source/deployment/inc/dp_resource.h
source/deployment/inc/dp_version.hxx
source/deployment/deployment.component
source/deployment/unopkg/unopkg.src
source/deployment/dp_persmap.cxx
source/deployment/dp_log.cxx
source/deployment/manager/dp_activepackages.hxx
source/deployment/manager/dp_managerfac.cxx
source/deployment/manager/dp_informationprovider.cxx
source/deployment/manager/dp_commandenvironments.cxx
source/deployment/manager/dp_properties.cxx
source/deployment/manager/dp_extensionmanager.cxx
source/deployment/manager/dp_manager.src
source/deployment/manager/dp_properties.hxx
source/deployment/manager/dp_manager.h
source/deployment/manager/dp_extensionmanager.hxx
source/deployment/manager/dp_manager.hrc
source/deployment/manager/dp_activepackages.cxx
source/deployment/manager/dp_commandenvironments.hxx
source/deployment/gui/dp_gui_updatedialog.cxx
source/deployment/gui/deploymentgui.component
source/deployment/gui/dp_gui_dialog2.src
source/deployment/gui/dp_gui_dependencydialog.cxx
source/deployment/gui/dp_gui_service.cxx
source/deployment/gui/dp_gui_dialog2.hxx
source/deployment/gui/license_dialog.hxx
source/deployment/gui/dp_gui_theextmgr.hxx
source/deployment/gui/dp_gui_updateinstalldialog.cxx
source/deployment/gui/dp_gui_extlistbox.cxx
source/deployment/gui/dp_gui_backend.src
source/deployment/gui/dp_gui_dialog2.cxx
source/deployment/gui/dp_gui_theextmgr.cxx
source/deployment/gui/license_dialog.cxx
source/deployment/gui/dp_gui_updatedata.hxx
source/deployment/gui/dp_gui_updatedialog.src
source/deployment/gui/dp_gui_updateinstalldialog.hxx
source/deployment/gui/dp_gui_extlistbox.hxx
source/deployment/gui/dp_gui.h
source/deployment/gui/dp_gui_updatedialog.hxx
source/deployment/gui/dp_gui_updateinstalldialog.src
source/deployment/gui/dp_gui_shared.hxx
source/deployment/gui/dp_gui_versionboxes.src
source/deployment/gui/dp_gui_extensioncmdqueue.hxx
source/deployment/gui/dp_gui_dependencydialog.hxx
source/deployment/registry/executable/dp_executablebackenddb.hxx
source/deployment/registry/executable/dp_executablebackenddb.cxx
source/deployment/registry/executable/dp_executable.cxx
source/deployment/registry/configuration/dp_configuration.cxx
source/deployment/registry/configuration/dp_configurationbackenddb.cxx
source/deployment/registry/configuration/dp_configuration.src
source/deployment/registry/configuration/dp_configuration.hrc
source/deployment/registry/configuration/dp_configurationbackenddb.hxx
source/deployment/registry/inc/dp_registry.hrc
source/deployment/registry/inc/dp_backenddb.hxx
source/deployment/registry/inc/dp_backend.h
source/deployment/registry/dp_registry.src
source/deployment/registry/component/dp_component.src
source/deployment/registry/component/dp_compbackenddb.hxx
source/deployment/registry/component/dp_component.hrc
source/deployment/registry/component/dp_component.cxx
source/deployment/registry/component/dp_compbackenddb.cxx
source/deployment/registry/dp_backend.cxx
source/deployment/registry/script/dp_script.hrc
source/deployment/registry/script/dp_scriptbackenddb.hxx
source/deployment/registry/script/dp_script.src
source/deployment/registry/script/dp_lib_container.cxx
source/deployment/registry/script/dp_script.cxx
source/deployment/registry/script/dp_scriptbackenddb.cxx
source/deployment/registry/script/dp_lib_container.h
source/deployment/registry/sfwk/dp_parceldesc.hxx
source/deployment/registry/sfwk/dp_sfwk.cxx
source/deployment/registry/sfwk/dp_parceldesc.cxx
source/deployment/registry/sfwk/dp_sfwk.hrc
source/deployment/registry/sfwk/dp_sfwk.src
source/deployment/registry/dp_backenddb.cxx
source/deployment/registry/package/dp_extbackenddb.cxx
source/deployment/registry/package/dp_package.src
source/deployment/registry/package/dp_package.hrc
source/deployment/registry/package/dp_package.cxx
source/deployment/registry/package/dp_extbackenddb.hxx
source/deployment/registry/help/dp_help.src
source/deployment/registry/help/dp_helpbackenddb.hxx
source/deployment/registry/help/dp_help.hrc
source/deployment/registry/help/dp_help.cxx
source/deployment/registry/help/dp_helpbackenddb.cxx
source/deployment/registry/dp_registry.cxx
source/deployment/dp_xml.cxx
source/deployment/dp_services.cxx
source/offacc/acceptor.hxx
source/offacc/acceptor.cxx
source/offacc/offacc.component
source/lib/lokandroid.cxx
source/migration/migration_impl.hxx.orig
source/migration/migration_impl.hxx
source/migration/services/misc.hxx
source/migration/services/oo3extensionmigration.hxx
source/migration/services/basicmigration.hxx
source/migration/services/wordbookmigration.hxx
source/migration/services/cppumaker.mk
source/migration/services/cexports.cxx
source/migration/services/jvmfwk.cxx
source/migration/services/cexportsoo3.cxx
source/migration/services/migrationoo2.component
source/migration/services/migrationoo3.component
source/migration/services/jvmfwk.hxx
Package_desktop_install.mk
Library_migrationoo3.mk
Pagein_writer.mk
AllLangResTarget_dkt.mk
Executable_crashrep_com.mk
Executable_oosplash.mk
Package_scalc_sh.mk
Pagein_calc.mk
Library_migrationoo2.mk
qa/deployment_misc/test_dp_version.cxx
Pagein_common.mk
GeneratedPackage_desktop_unopackages_install.mk
README
uiconfig/ui/updateinstalldialog.ui
uiconfig/ui/installforalldialog.ui
uiconfig/ui/updatedialog.ui
uiconfig/ui/extensionmanager.ui
uiconfig/ui/dependenciesdialog.ui
uiconfig/ui/showlicensedialog.ui
uiconfig/ui/updaterequireddialog.ui
uiconfig/ui/licensedialog.ui
uiconfig/ui/cmdlinehelp.ui
Package_sbase_sh.mk
Package_sdraw_sh.mk
WinResTarget_swriter.mk
Library_spl.mk
Package_soffice_sh.mk
Jar_active_java.mk
Rdb_passive_generic.mk
Executable_sbase.mk
Executable_sdraw.mk
Library_offacc.mk
StaticLibrary_winextendloaderenv.mk
Executable_soffice.mk
WinResTarget_simpress.mk
scripts/soffice.sh
scripts/unoinfo.sh
scripts/gdbtrace
scripts/scalc.sh
scripts/simpress.sh
scripts/unopkg.sh
scripts/smath.sh
scripts/sdraw.sh
scripts/sbase.sh
scripts/unoinfo-mac.sh
scripts/swriter.sh
WinResTarget_quickstart.mk
Pyuno_passive_python.mk
Executable_unoinfo.mk
Executable_smath.mk
Extension_test-active.mk
Executable_unopkg_com.mk
WinResTarget_sofficebin.mk
CustomTarget_soffice.mk
Package_scripts.mk
Pagein_impress.mk
WinResTarget_sweb.mk
WinResTarget_scalc.mk
Executable_scalc.mk
UIConfig_deployment.mk
WinResTarget_smath.mk
Package_simpress_sh.mk
Executable_simpress.mk
win32/source/extendloaderenvironment.hxx
win32/source/guiloader/genericloader.cxx
win32/source/QuickStart/QuickStart.rc
win32/source/QuickStart/StdAfx.h
win32/source/QuickStart/QuickStart.cxx
win32/source/QuickStart/resource.h
win32/source/guistdio/unopkgio.cxx
win32/source/guistdio/guistdio.cxx
win32/source/guistdio/guistdio.inc
win32/source/unoinfo.cxx
win32/source/applauncher/launcher.cxx
win32/source/applauncher/scalc.cxx
win32/source/applauncher/sweb.cxx
win32/source/applauncher/sdraw.cxx
win32/source/applauncher/launcher.rc
win32/source/applauncher/swriter.cxx
win32/source/applauncher/launcher.hxx
win32/source/applauncher/smath.cxx
win32/source/applauncher/simpress.cxx
win32/source/applauncher/sbase.cxx
win32/source/extendloaderenvironment.cxx
win32/source/officeloader/officeloader.cxx
Executable_sweb.mk
Executable_quickstart.mk
WinResTarget_sbase.mk
WinResTarget_sdraw.mk
StaticLibrary_winlauncher.mk
Library_active_native.mk
Jar_passive_java.mk
Library_deploymentgui.mk
AllLangResTarget_deploymentgui.mk
